<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base-form}">
  <head>
    <title th:text="|#{predicates}: #{identifier_type_create}|">... create ...</title>
  </head>
  <body>
  <th:block layout:fragment="content">
    <div class="content-header">
      <div class="container-fluid">
        <form action="#" th:action="@{#}" th:object="${predicate}" method="post" role="form">
          <div th:replace="fragments/feedback-messages :: form"></div>

          <div class="row">
            <div class="col-6 col-sm-9"><h1>Create a new relation type</h1></div>
            <div class="col-6 col-sm-3"><div class="float-right visible"><button type="submit" class="btn btn-primary">Save</button></div></div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="localized-form">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" th:each="language,iter : ${existingLanguages}">
                    <a
                      class="language-switcher nav-link"
                      data-toggle="tab"
                      role="tab"
                      th:classappend="${iter.index} == 0 ? active"
                      th:href="${'#' + language}"
                      th:with="languageToDisplay=${language.getDisplayName(#locale)}"
                      th:text="${#strings.isEmpty(languageToDisplay)} ? #{language_not_specified} : ${languageToDisplay}"
                      >
                      language
                    </a>
                  </li>
                  <li class="nav-item">
                    <a title="Sprache hinzufügen" class="nav-link" data-toggle="modal" data-target="#addLanguageDialog">
                      <i class="fa fa-plus"></i>
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div th:each="language,iter : ${existingLanguages}" th:id="${language}" class="tab-pane" th:classappend="${iter.index} == 0 ? active">
                    <div class="card">
                      <div class="card-body bg-light">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <label th:for="label-__${language}__" th:text="#{lbl.label}">Label</label>
                              <input th:id="label-__${language}__" class="form-control" type="text" value="" th:field="*{label['__${language}__']}" />
                            </div>
                            <div class="form-group">
                              <label th:text="#{lbl.abstract}">Abstract</label>
                              <div th:id="description-menu-__${language}__" th:insert="fragments/tiptap :: editor-menu-short" class="editorMenu border-1 p-1"></div>
                              <div th:id="description-editor-__${language}__" th:data-menu-id="description-menu-__${language}__"></div>
                              <input th:id="description-json-__${language}__" type="hidden" th:field="*{description['__${language}__']}"/>
                              <script th:inline="javascript" type="module">
                                import { MiniEditor } from '@cudami/tiptap';
                                /*[+
                                 let idEditorElement = [[description-editor-__${language}__]];
                                 let idEditorMenu    = [[description-menu-__${language}__]];
                                 let idJsonField     = [[description-json-__${language}__]];
                                 +]*/
                                new MiniEditor(idEditorElement, idEditorMenu, idJsonField);
                              </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" th:classappend="${#fields.hasErrors('value')}? has-error">
                <label for="value">Wert</label>
                <input th:field="*{value}" id="value" type="text" class="form-control" aria-invalid="true" value="">
                <p th:if="${#fields.hasErrors('value')}" th:errors="*{value}">...</p>
              </div>

            </div>
          </div>
        </form>

      </div>
    </div>
  </th:block>
</body>
</html>
