<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base-form}">
  <head>
    <title th:text="|#{predicates}: #{predicates_create}|">Relation types: Create a new relation type</title>
  </head>
  <body>
  <th:block layout:fragment="content">
    <div class="content-header">
      <div class="container-fluid">
        <form action="#" th:action="@{#}" th:object="${predicate}" method="post" role="form">
          <div th:replace="fragments/feedback-messages :: form"></div>

          <div class="row">
            <div class="col-6 col-sm-9"><h1 th:text="#{predicates_create}">Create a new relation type</h1></div>
            <div class="col-6 col-sm-3"><div class="float-right visible"><button type="submit" class="btn btn-primary" th:text="#{save}">Save</button></div></div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="localized-form" data-tabid-prefix="lbl-desc-">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item language-tab" th:each="language,iter : ${existingLanguages}" th:classappend="${iter.index} == 0 ? active">
                    <a
                      class="language-switcher nav-link"
                      th:classappend="${iter.index} == 0 ? active"
                      data-toggle="tab"
                      role="tab"
                      th:href="${'#lbl-desc-' + language}"
                      th:with="languageToDisplay=${language.getDisplayName(#locale)}"
                      th:text="${#strings.isEmpty(languageToDisplay)} ? #{language_not_specified} : ${languageToDisplay}"
                      >
                      language
                    </a>
                  </li>
                  <li class="nav-item">
                    <a th:title="#{tooltip.add_new_language}" class="nav-link" data-toggle="modal" data-target="#addLanguageDialog" data-fragment="label-description">
                      <i class="fa fa-plus"></i>
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <th:block th:each="language, iter : ${existingLanguages}">
                    <div th:replace="fragments/forms/label-description-form :: html(fieldLanguage=${language},active=${iter.index == 0},beanName='predicate')"></div>
                  </th:block>
                </div>
              </div>

              <div class="form-group" th:classappend="${#fields.hasErrors('value')}? has-error">
                <label for="value" th:text="#{lbl.value}" class="required">Value</label>
                <input th:field="*{value}" id="value" type="text" class="form-control" value="">
                <p th:if="${#fields.hasErrors('value')}" th:errors="*{value}">...</p>
              </div>

            </div>
          </div>
        </form>

      </div>
    </div>
  </th:block>
</body>
</html>
