<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base-form}">
  <head>
    <title th:text="|#{predicates}: #{identifier_type_create}|">... create ...</title>
  </head>
  <body>
  <th:block layout:fragment="content">
    <div class="content-header">
      <div class="container-fluid">
        <form action="#" th:action="@{#}" th:object="${predicate}" method="post" role="form">
          <div th:replace="fragments/feedback-messages :: form"></div>

          <div class="row">
            <div class="col-6 col-sm-9"><h1>Create a new relation type</h1></div>
            <div class="col-6 col-sm-3"><div class="float-right visible"><button type="submit" class="btn btn-primary">Save</button></div></div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="localized-form">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" th:each="language,iter : ${existingLanguages}">
                    <a
                      class="language-switcher nav-link"
                      data-toggle="tab"
                      role="tab"
                      th:classappend="${iter.index} == 0 ? active"
                      th:href="${'#' + language}"
                      th:with="languageToDisplay=${language.getDisplayName(#locale)}"
                      th:text="${#strings.isEmpty(languageToDisplay)} ? #{language_not_specified} : ${languageToDisplay}"
                      >
                      language
                    </a>
                  </li>
                  <li class="nav-item">
                    <a title="Sprache hinzufügen" class="nav-link" data-toggle="modal" data-target="#addLanguageDialog">
                      <i class="fa fa-plus"></i>
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <th:block th:each="fieldLanguage, iter : ${existingLanguages}" th:with="active=${iter.index == 0}, beanName='predicate'">
                    <div th:replace="fragments/forms/label-description-form :: html"></div>
                  </th:block>
                </div>
              </div>

              <div class="form-group" th:classappend="${#fields.hasErrors('value')}? has-error">
                <label for="value">Wert</label>
                <input th:field="*{value}" id="value" type="text" class="form-control" aria-invalid="true" value="">
                <p th:if="${#fields.hasErrors('value')}" th:errors="*{value}">...</p>
              </div>

            </div>
          </div>
        </form>

      </div>
    </div>
  </th:block>
</body>
</html>
