<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="#{relation_types}">Relation types</title>
  </head>
  <body>
  <th:block layout:fragment="content">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <table id="table-pred"
                   data-toggle="table"
                   th:data-url="@{/api/predicates}"
                   data-pagination="true"
                   data-search="true"
                   data-server-sort="true"
                   data-side-pagination="server"
                   data-sort-name="value"
                   data-sort-order="asc">
              <thead>
                <tr>
                  <th data-field="uuid" th:text="#{lbl.uuid}">ID</th>
                  <th data-field="value" data-sortable="true" th:text="#{lbl.value}">Value</th>
                  <th data-field="created" data-sortable="true" th:text="#{lbl.created}">created</th>
                  <th data-field="lastModified" data-sortable="true" th:text="#{lbl.last_modified}">last modified</th>
                  <th data-field="actions" data-formatter="renderActions" th:text="#{lbl.actions}">Actions</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modal-dialogs :: confirmYesNoDialog"></div>

    <div th:replace="fragments/identifiable :: actions"></div>
    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      function renderActions(value, row) {
        /*[+
        const baseUrl = [[@{'/predicates'}]] + '/' + [row.uuid];
        const itemType = [[#{lbl.predicate.inline}]];
        const itemId = [row.value];
        +]*/
      
        return [
          renderViewAction(baseUrl),
          renderEditAction(baseUrl),
          renderDeleteAction(baseUrl, itemType, itemId)
        ].join(' ');
      }
      /*]]>*/
    </script>
  </th:block>
</body>
</html>
