<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="#{page.title.predicates}">Relation types</title>
  </head>

  <body>
    <th:block layout:fragment="content">
      <div class="content-header">
        <div class="container-fluid">

          <div class="row">
            <div class="col">
              <h1 th:text="#{page.title.predicates}">Relation types</h1>
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col">

              <div id="toolbar-predicates">
                <!-- TODO it always contains "und" undefined language? -->
                <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
                  <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                  <select th:replace="fragments/components/select-language-dropdown::render('predicates-languages', ${existingLanguages}, ${dataLanguage})">English</select>
                </th:block>
              </div>
              <table id="table-predicates"
                     data-toggle="table"
                     th:data-url="@{/api/predicates}"
                     th:data-locale="${#locale}"
                     data-buttons="buttonsPredicates"
                     data-cookie="true"
                     data-cookie-id-table="table-predicates"
                     data-id-field="uuid"
                     data-pagination="true"
                     data-pagination-v-align="both"
                     data-query-params="queryParamsPredicates"
                     data-search="true"
                     data-search-highlight="true"
                     data-search-on-enter-key="true"
                     data-server-sort="true"
                     data-show-search-button="true"
                     data-show-search-clear-button="true"
                     data-side-pagination="server"
                     data-sort-name="value"
                     data-sort-order="asc"
                     data-toolbar="#toolbar-predicates"
                     data-unique-id="uuid">
                <thead>
                  <tr>
                    <th data-field="index" data-formatter="formatRowNumberPredicates" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                    <th data-field="label" data-sortable="true" data-formatter="formatLabelPredicates" th:text="#{lbl.label}">Label</th>
                    <th data-field="value" data-sortable="true" th:text="#{lbl.value}">Value</th>
                    <th data-field="lastModified" data-sortable="true" data-formatter="renderDateTime" th:text="#{lbl.last_modified}">last modified</th>
                    <th data-field="created" data-sortable="true" data-formatter="renderDateTime" th:text="#{lbl.created}">created</th>
                    <th data-field="actions" data-formatter="formatActionsPredicates" th:text="#{lbl.actions}">Actions</th>
                  </tr>
                </thead>
              </table>

            </div>
          </div>
        </div>
      </div>
    </th:block>

    <th:block layout:fragment="beforeBodyEnds">
      <div th:replace="fragments/modals/confirm-yes-no :: confirm-yes-no-dialog"></div>

      <script type="text/javascript">
        $(function () {
          $("#predicates-languages").change(function () {
            $('#table-predicates').bootstrapTable('refresh');
          });
        });

        function formatRowNumberPredicates(value, row, index) {
          return renderRowNumber($('#table-predicates'), index);
        }

        function queryParamsPredicates(params) {
          let dataLanguage = $("#predicates-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }
      </script>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('#table-predicates').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.value}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        function buttonsPredicates() {
          /*[+
           const baseUrl = [[@{'/predicates'}]];
           const textAdd = [[#{btn.add}]];
           const tooltipAdd = [[#{tooltip.add_new_table_entry}]];
           +]*/
          return {
            btnAdd: {
              text: textAdd,
              icon: 'fa-plus',
              event: function () {
                location.href = baseUrl + '/new';
              },
              attributes: {
                title: tooltipAdd
              }
            }
          };
        }

        function formatActionsPredicates(value, row) {
          /*[+
           const baseUrl = [[@{'/predicates'}]] + '/' + row.uuid;
           const itemType = [[#{lbl.predicate.inline}]];
           +]*/
          const itemId = row.value;
          return [
            renderViewAction(baseUrl),
            renderEditAction(baseUrl),
            renderDeleteAction(baseUrl, itemType, itemId)
          ].join(' ');
        }

        function formatLabelPredicates(value, row) {
          /*[+
           const baseUrl = [[@{'/predicates'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#predicates-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }
      /*]]>*/
      </script>
      <div th:replace="fragments/bootstrap-table :: data-formatter"></div>
    </th:block>
  </body>

</html>