<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{page.title.manifestations}: #{lbl.manifestation}|">Manifestations: Manifestation</title>
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${manifestation}">
    <div class="content">
      <div class="container-fluid">
        <div id="content-header">
          <div class="row">
            <div class="col-sm-6">
              <h1 th:text="#{lbl.manifestation}">Manifestation</h1>
            </div>
            <div class="col-sm-6">
              <div class="float-right">
                <!--              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>-->
              </div>
            </div>
          </div>
        </div>

        <div id="content-body" class="rows-striped">
          <!-- TODO it always contains "und" undefined language? -->
          <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
            <div class="language-selection">
              <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
              <select th:replace="~{fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})}">English</select>
            </div>
          </th:block>

          <th:block th:insert="~{fragments/uniqueobject::renderFields(${manifestation})}"></th:block>

          <th:block th:insert="~{fragments/identifiable::renderFields(${manifestation})}"></th:block>

          <th:block th:insert="~{fragments/entity::renderFields(${manifestation})}"></th:block>

          <hr/>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.productioninfo}">Production info</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <th:block th:insert="~{:: displayPublishingInfo(${manifestation.productionInfo})}">...</th:block>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.publicationinfo}">Publication info</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <th:block th:insert="~{:: displayPublishingInfo(${manifestation.publicationInfo})}">...</th:block>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.distributioninfo}">Distribution info</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <th:block th:insert="~{:: displayPublishingInfo(${manifestation.distributionInfo})}">...</th:block>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.mediatypes}">Media types</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <th:block th:insert="~{::renderMediaTypes(${manifestation.mediaTypes})}">...</th:block>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.manufacturingtype}">Manufacturing type</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <span th:with="manufacturingType=${#messages.msgOrNull('manufacturingtype.' + manifestation.manufacturingType)}" th:text="${manufacturingType != null ? manufacturingType : manifestation.manufacturingType}">...</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.manifestationtype}">Manifestation type</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <span th:with="manifestationType=${#messages.msgOrNull('manifestationtype.' + #strings.toLowerCase(manifestation.manifestationType))}" th:text="${manifestationType != null ? manifestationType : manifestation.manifestationType}">...</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.dimensions}">Dimensions</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <span th:text="${manifestation.dimensions}">...</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.scale}">Scale</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <span th:text="${manifestation.scale}">...</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.composition}">Composition</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <span th:text="${manifestation.composition}">...</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.subjects}">Subjects</label></div>
            <div class="align-items-center col-md-9 d-flex">
              <th:block th:each="subject, iterStat: ${manifestation.subjects}">
                <a th:href="@{/subjects/{uuid}(uuid=${subject.uuid})}" th:text="${(subject.label?.getText(dataLanguage) ?: subject.uuid)}">subject label</a>
                <span th:text="${!iterStat.last ? ',&nbsp;' : ''}">,</span>
              </th:block>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.relations}">Relations</label></div>
            <div class="align-items-center col-md-9">
              <th:block th:each="relation, iterStat: ${manifestation.relations}">
                <div>
                  <span th:with="subject=${relation.subject}" th:switch="${subject.identifiableObjectType.name.toUpperCase()}">
                    <th:block th:case="'AGENT'" th:insert="~{fragments/entity::renderAgent(${subject})}"></th:block>
                    <th:block th:case="'PERSON'" th:insert="~{fragments/entity::renderAgent(${subject})}"></th:block>
                    <th:block th:case="'CORPORATE_BODY'" th:insert="~{fragments/entity::renderAgent(${subject})}"></th:block>
                    <th:block th:case="'HUMAN_SETTLEMENT'" th:insert="~{fragments/entity::renderGeolocation(${subject})}"></th:block>
                    <th:block th:case="'GEOLOCATION'" th:insert="~{fragments/entity::renderGeolocation(${subject})}"></th:block>
                  </span>
                  &nbsp;
                  <span class="border border-dark p-2 badge badge-light mr-2">
                    <a th:href="@{/predicates/{predicate}(predicate=${relation.predicate})}" th:text="${relation.predicate}">predicate</a>
                  </span>
                  <th:block th:each="additionalPredicate: ${relation.additionalPredicates}">
                    <span class="border border-dark p-2 badge badge-light mr-2" th:text="${additionalPredicate}"></span>
                  </th:block>
                </div>
              </th:block>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.language}">Language</label></div>
            <div class="align-items-center col-md-9 d-flex" th:text="${T(de.digitalcollections.cudami.admin.controller.fragments.FragmentsController).getDisplayLanguages(manifestation.otherLanguages)}" >...</div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.other_languages}">Other languages</label></div>
            <div class="align-items-center col-md-9 d-flex" th:text="${T(de.digitalcollections.cudami.admin.controller.fragments.FragmentsController).getDisplayLanguages(manifestation.otherLanguages)}" >...</div>
          </div>

          <th:block th:each="title: ${#lists.sort(manifestation.titles)}">
            <div class="row">
              <div class="col-md-3" th:with="labelkey=${#strings.toLowerCase(title.titleType.getMainType()) + '.' + #strings.toLowerCase(title.titleType.getSubType())}">
                <label th:with="label=${#messages.msgOrNull('lbl.title.' + labelkey)}" th:text="${label != null ? label : labelkey}">title label</label></div>
              <div class="align-items-center col-md-9 d-flex">
                <div th:text="${title.text?.getText(dataLanguage)} ?: ${title.text}">...</div>
              </div>
            </div>
          </th:block>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.parent_manifestation_s}">Parents</label></div>
            <div class="align-items-center col-md-9 d-flex" th:each="parent, iterStat: ${manifestation.parents}">
              <span th:text="${parent.title}"></span> &nbsp;
              &nbsp;<span th:text="#{in_manifestation}"></span>&nbsp;
              <a th:href="@{/manifestations/{uuid}(uuid=${parent.subject?.uuid})}" th:text="${parent.subject?.label?.getText(dataLanguage)} ?: ${parent.subject?.uuid}">parent label</a>&nbsp;
              <span th:if="${parent.sortKey != null}" th:text="#{with_sortkey(${parent.sortKey})}">...</span>
              <br th:if="${!iterStat.last}"/>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><label th:text="#{lbl.child_manifestations}">Child manifestations</label></div>
            <div class="col-md-9">
              <table id="table-childmanifestations"
                     data-toggle="table"
                     th:data-url="@{/api/manifestations/__${manifestation.uuid}__/children}"
                     th:data-locale="${#locale}"

                     data-cookie="true"
                     data-cookie-id-table="table-childmanifestations"
                     data-id-field="uuid"
                     data-pagination="true"
                     data-pagination-v-align="both"
                     data-query-params="queryParamsChildManifestations"
                     data-search="false"
                     data-search-highlight="false"
                     data-search-on-enter-key="false"
                     data-server-sort="true"
                     data-show-search-button="false"
                     data-show-search-clear-button="false"
                     data-side-pagination="server"
                     data-sort-name="label"
                     data-sort-order="asc"
                     data-toolbar="#toolbar-childmanifestations"
                     data-unique-id="uuid">
                <thead>
                <tr>
                  <th data-field="index" data-formatter="formatRowNumberChildManifestations" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                  <th data-field="sortKey" data-formatter="formatSortKeyChildManifestations" th:text="#{lbl.sortkey}">Sortkey</th>
                  <th data-field="title" data-formatter="formatTitleChildManifestations" th:text="#{lbl.title}">Title</th>
                  <th data-field="actions" data-formatter="formatActionsChildManifestations" th:text="#{lbl.actions}">Actions</th>
                </tr>
                </thead>
              </table>

            </div>
          </div>

        </div>
      </div>
    </div>
  </th:block>

  <div th:fragment="renderMediaTypes(mediaTypes)">
    <div th:each="mediaTypeKey, iterStat: ${mediaTypes}">
      <span th:with="mediaType=${#messages.msgOrNull('mediatype.' + mediaTypeKey)}" th:text="${mediaType != null ? mediaType : mediaTypeKey}">...</span>
      <span th:if="${!iterStat.last ? ',&nbsp;' : ''}"></span>
    </div>
  </div>

  <div th:fragment="displayPublishingInfo(publishingInfo)" th:with="show_data = ${(publishingInfo != null && !publishingInfo.isEmpty())}">
    <th:block th:if="${show_data}">
      <div th:if="${(publishingInfo.datePresentation != null || publishingInfo.navDateRange != null || publishingInfo.timeValueRange != null)}">
        <span th:text="${publishingInfo.datePresentation}">...</span>
        <span th:if="${publishingInfo.navDateRange}" th:with="navDateRange=${publishingInfo.navDateRange}">
          (<span th:with="df=#{date.format},date=${navDateRange.start}" th:text="${#temporals.format(date,df)}">01.01.2000</span>
          -
          <span th:with="df=#{date.format},date=${navDateRange.end}" th:text="${#temporals.format(date,df)}">01.01.2000</span>
         )</span>&nbsp;
        <th:block th:if="${(publishingInfo.timeValueRange != null)}" th:insert="~{fragments/uniqueobject :: renderTimeValueRange(${publishingInfo.timeValueRange})}">...</th:block>
      </div>
      <div th:each="publisher: ${publishingInfo.publishers}">
        <th:block th:with="agent=${publisher.agent}">
          <th:block th:if="${agent}" th:insert="~{fragments/entity::renderAgent(${agent})}"></th:block>
          <span th:if="${agent}" th:text="': '">:</span>
        </th:block>
        <th:block th:if="${publisher.datePresentation}">
          (<span th:text="${publisher.datePresentation}">...</span>)&nbsp;
        </th:block>
        <span th:each="humanSettlement, iterStat: ${publisher.locations}">
          <th:block th:insert="~{fragments/entity::renderGeolocation(${humanSettlement})}"></th:block>
          <span th:text="${!iterStat.last ? ', ' : ''}">,</span>
        </span>
      </div>
    </th:block>
    <th:block th:unless="${show_data}">-</th:block>
  </div>

  <section layout:fragment="beforeBodyEnds">
    <script type="text/javascript">
      $(addDataLanguageChangeHandler());

      function formatRowNumberChildManifestations(value, row, index) {
        return renderRowNumber($('#table-childmanifestations'), index);
      }

      function queryParamsChildManifestations(params) {
        let dataLanguage = $("#childmanifestations-languages").val();
        params.dataLanguage = dataLanguage;
        return params;
      }
    </script>

    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      function formatTitleChildManifestations(value, row) {
        /*[+
         const baseUrl = [[@{'/manifestations'}]] + '/' + row.object.uuid;
         +]*/

        return '<a href="' + baseUrl + '">' + value+ '</a>';
      }

      function formatSortKeyChildManifestations(value, row) {
        return value;
      }

      function formatActionsChildManifestations(value, row) {
        /*[+
         const baseUrl = [[@{'/manifestations'}]] + '/' + row.object.uuid;
         +]*/
        return [
          renderViewAction(baseUrl)
        ].join(' ');
      }
      /*]]>*/
    </script>

    <div th:replace="fragments/bootstrap-table :: data-formatter"></div>
  </section>
</body>
</html>
