.identifiable-editor .menu-bar {
  align-items: baseline;
  background-color: white;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.identifiable-editor .menu-button {
  background: white;
  border: 1px solid transparent;
  border-radius: 0;
  color: #777;
  margin: 1px;
  padding: 5px 10px;
}

.identifiable-editor .full-width.menu-button {
  width: 100%;
}

.identifiable-editor .menu-button:focus {
  outline: none;
}

.identifiable-editor .menu-button:hover {
  background: transparent;
  color: black;
}

.identifiable-editor .active.menu-button {
  background: #eee;
  border-color: #ccc;
}

.identifiable-editor .disabled.menu-button {
  color: #ccc;
}

.identifiable-editor .disabled.menu-button {
  cursor: default;
}

.identifiable-editor .menu-group {
  border-right: 1px solid #ccc;
}

.identifiable-editor .menu-group > .dropdown {
  display: inline-block;
}

.identifiable-editor .menu-group > .dropdown:hover > .menu-button:not(.disabled) + .dropdown-menu {
  display: block;
}
