.identifiable-editor figure.editable,
.identifiable-editor iframe.editable {
  border: 3px dashed;
}

.identifiable-editor .text-editor {
  border: 1px solid #ccc;
}

.identifiable-editor .text-editor > .text-area {
  max-height: 500px;
  overflow-y: auto;
}

.identifiable-editor .text-editor .alignment-left {
  float: left;
  margin-right: 1rem;
}

.identifiable-editor .text-editor .alignment-right {
  float: right;
  margin-left: 1rem;
}

.identifiable-editor .text-editor .width-25 {
  width: 25%;
}

.identifiable-editor .text-editor .width-33 {
  width: 33%;
}

.identifiable-editor .text-editor .width-50 {
  width: 50%;
}

.identifiable-editor .text-editor .width-100 {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.identifiable-editor .text-editor figure > img,
.identifiable-editor .text-editor figure > video {
  max-width: 100%;
}

.identifiable-editor .text-editor .contentblock-menu {
  position: absolute;
  right: -35px;
  top: 0;
}

.identifiable-editor .text-editor .alignment-right .contentblock-menu,
.identifiable-editor .text-editor .width-100 .contentblock-menu {
  right: 0;
}
