<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"cmsServer", "group":"cms", "instance":"${instance.name:-default}"}</customFields>
      </encoder>
    </appender>

    <appender name="plain-console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        <immediateFlush>false</immediateFlush>
      </encoder>
    </appender>

    <!--appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/tmp/iiifBookshelf.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>iiifBookshelf.%d{yyyy-MM-dd}.log</fileNamePattern>
      </rollingPolicy>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"iiifBookshelf", "instance":"${instance.name:-default}"}</customFields>
      </encoder>
    </appender-->

    <logger name="de.digitalcollections.cms" level="debug" />

    <root level="info">
      <appender-ref ref="plain-console" />
      <!--appender-ref ref="FILE" /-->
    </root>

</configuration>