<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{users}: #{user_edit(${user.email})}|">Users: Edit user admin@unknown.org</title>
  </head>
  <body>
  <th:block layout:fragment="content">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-12">
            <div id="editor"></div>
            <script th:src="@{/js/user-editor.bundle.js}"></script>
            <script th:inline="javascript">
              UserEditor({
                allRoles: /*[[${allRoles}]]*/ [],
                apiContextPath: /*[[@{/}]]*/ '',
                id: "editor",
                uiLocale: /*[[${#locale.language}]]*/ "",
                uuid: /*[[${user.uuid}]]*/ ""
              })
            </script>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</body>
</html>
