/* poppins-regular - latin-ext_latin_devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v15-latin-ext_latin_devanagari-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/poppins-v15-latin-ext_latin_devanagari-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v15-latin-ext_latin_devanagari-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v15-latin-ext_latin_devanagari-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v15-latin-ext_latin_devanagari-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v15-latin-ext_latin_devanagari-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
