div.aside-menu {
  max-width: fit-content;
}

div.aside-menu li {
  padding-top: 5px;
}

footer {
  border-top: solid 1px #c8cbcf;
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
}

.footer a {
  padding: 10px 0;
  color: rgba(255,255,255,.8);
}

.fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {
  font-size: calc(1.325rem + .9vw) !important;
}

.fs-3 {
  font-size: calc(1.3rem + .6vw) !important;
}

.fs-4 {
  font-size: calc(1.275rem + .3vw) !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.webpage-label {
  font-size: 2em;
  font-weight: bold;
}