<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{collections}: #{collection}|">Collections: Collection</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/cudami/image-in-text.css}" rel="stylesheet" />
  </head>
  <body>
    <section layout:fragment="content" th:object="${collection}">

      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb hidden-xs-down">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/collections}" th:text="#{collections}">Collections</a></li>
            <th:block th:if="${not #lists.isEmpty(breadcrumbs)}">
              <th:block th:each="breadcrumb,iterStat: ${breadcrumbs}">
                <li class="breadcrumb-item"><a th:href="@{/collections/} + ${breadcrumb.uuid}"><th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${breadcrumb.label}, ${locale})">Node Label</th:block></a></li>
              </th:block>
            </th:block>
          </ol>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <h1 th:text="#{collection}">Collection</h1>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <a class="btn btn-secondary" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="container-fluid rows-striped">
            <div class="row">
              <div class="col-md-3"><label class="font-weight-bold" th:text="#{id}">ID</label></div>
              <div class="col-md-9"><span th:text="*{uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-content">
        <div class="col-sm-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" th:each="language,iter : ${existingLanguages}">
              <a class="nav-link" th:classappend="${iter.index} == 0 ? active" th:href="${'#' + language}" data-toggle="tab" th:text="${language.getDisplayName(#locale)}" role="tab">language</a>
            </li>
          </ul>
          <div class="tab-content">
            <div th:each="language,iter : ${existingLanguages}" th:id="${language}" class="tab-pane" th:classappend="${iter.index} == 0 ? active">
              <div class="card">
                <div class="card-body bg-light">
                  <div th:replace="fragments/identifiable::renderTeaser(${collection}, ${language})"></div>
                </div>
                <th:block th:if="*{text} and ${collection.text.containsKey(language)}">
                  <div class="card-body">
                    <div th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(*{text}, ${language})"></div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-content">
        <div class="col-sm-6">
          <h2 th:text="#{sub_collections}">Sub collections</h2>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <a class="btn btn-secondary new-button" th:href="@{/collections/new(parentType=collection, parentUuid=*{uuid})}" th:text="#{btn_new}">New</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr>
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{actions}">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="subcollection :*{children}">
                <td>
                  <a th:href="@{'/collections/' + ${subcollection.uuid}}" th:text="${subcollection.label.text}">Label</a>
                </td>
                <td class="center">
                  <a th:href="@{'/collections/' + ${subcollection.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                  <a th:href="@{'/collections/' + ${subcollection.uuid} + '/edit'}" th:title="#{tooltip_edit}"><span class="fas fa-pencil-alt actionButton"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      
      <div class="row main-content">
        <div class="col-sm-6">
          <h2 th:text="#{digital_objects}">Digital objects</h2>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>

          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr sd:page-object="${page.page}">
                <th></th>
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{actions}">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="digitalobject: ${page.content}">
                <td>
                  <th:block th:insert="cudami/fragments/previewimage-to-html::renderImage(${digitalobject.previewImage}, ${digitalobject.previewImageRenderingHints}, ${#locale}, 50)"></th:block>
                </td>
                <td>
                  <a th:href="@{'/digitalobjects/' + ${digitalobject.uuid}}" th:if="${digitalobject.label}" th:text="${digitalobject.label.text}">bsb10001000</a>
                </td>
                <td class="center">
                  <a th:href="@{'/digitalobjects/' + ${digitalobject.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>
        </div>
      </div>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modals :: selectItemDialog"></div>
  </th:block>
</body>
</html>