**/target
/.idea
**/*.iml
.factorypath
/nb-configuration.xml
**/nbactions.xml
build/
dist/
node_modules/
/client/nbproject/private/
/client/nbproject/project.xml
/client/nbproject/project.properties
/client/bin/
**/nbproject/
application-local.yaml
application-local.yml

**/.settings
**/.classpath
**/.project
**/.dbeaver

