# local/default

cudami:
  defaults:
    language: en
    locale: en_US
  repositoryFolderPath: '~/cudami/fileResources'

iiif:
  image:
    baseUrl: "http://localhost:23232/image/v2/"

info:
  app:
    encoding: "@project.build.sourceEncoding@"
    java:
      source: "@maven.compiler.source@"
      target: "@maven.compiler.target@"
    project:
      artifactId: "@project.artifactId@"
      buildDetails: "@versionName@"
      groupId: "@project.groupId@"
      name: "@project.name@"
      version: "@project.version@"

jsondoc:
  basePath: "http://localhost:9000"
  displayMethodAs: URI
  packages:
    - de.digitalcollections.cudami.server.controller
  # optional configuration
  playgroundEnabled: true
  version: "@project.version@"

management:
  endpoints:
    web:
      base-path: "/monitoring"
      exposure:
        include: "*"
  server:
    port: 9001

media:
  video:
    baseUrl: "http://localhost:24242/stream/"

server:
  port: 9000
  server-header: "@project.name@ v@project.version@"

spring:
  datasource:
    # see https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-connect-to-production-database
    url: "jdbc:postgresql://localhost:22222/cudami"
    username: cudami
    password: somepassword
    # driver-class-name: org.postgresql.Driver
    # see https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html#data-properties
    # see https://github.com/brettwooldridge/HikariCP#configuration-knobs-baby
    hikari:
      maximum-pool-size: 25
  flyway:
    baseline-on-migrate: true
    enabled: true
    locations: "classpath:/de/digitalcollections/cudami/server/backend/impl/database/migration"
    out-of-order: true
    placeholders:
      iiifBaseUrl: "${iiif.image.baseUrl}"
  main:
    banner-mode: 'off'
  profiles:
    active: local
  security:
    user:
      name: admin
      password: secret
      roles: ACTUATOR, SUPERUSER
  servlet:
    multipart:
      # disable resolving request to MultiPartRequest to get direct access to HttpServletRequest
      enabled: false
      max-file-size: -1
      max-request-size: -1
  thymeleaf:
    cache: false
    mode: HTML

---

# PROD
cudami:
  repositoryFolderPath: '/local/cudami/fileResources'

custom:
  database:
    port: 5432

spring:
  profiles: PROD
  thymeleaf:
    cache: true

---

# TEST
spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.data.jdbc.JdbcRepositoriesAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.JdbcTemplateAutoConfiguration
  flyway:
    enabled: false
  main:
    allow-bean-definition-overriding: true
  profiles: TEST
