<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="#{digitization_projects}">Projects</title>
  </head>
  <body>
    <section layout:fragment="content">

      <div class="row">
        <div class="col-sm-6">
          <h1 th:text="#{digitization_projects}">Projects</h1>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <a class="btn btn-secondary" th:href="@{/projects/new}" th:text="#{btn_new}">New</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" >
          <section layout:fragment="content">
            <div id="list"></div>
            <script th:src="@{/js/identifiable-list.bundle.js}"></script>
            <script th:inline="javascript">
              IdentifiableList({
                apiContextPath: /*[[@{/}]]*/ '',
                existingLanguages: /*[[${existingLanguages}]]*/,
                id: "list",
                showEdit: true,
                showNew: true,
                type: "project",
                uiLocale: /*[[${#locale.language}]]*/
              });
            </script>
          </section>
        </div>
      </div>
    </section>
  </body>
</html>
