<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="#{digitization_projects}">Projects</title>
  </head>
  <body>
    <section layout:fragment="content">

      <div class="row">
        <div class="col-sm-6">
          <h1 th:text="#{digitization_projects}">Projects</h1>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <a class="btn btn-secondary" th:href="@{/projects/new}" th:text="#{btn_new}">New</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" >
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>

          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr sd:page-object="${page.page}">
                <th></th>
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{last_modified}">last modified</th>
                <th class="center" th:text="#{actions}">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="project : ${page.content}">
                <td class="center">
                  <th:block th:insert="cudami/fragments/previewimage-to-html::renderImage(${project.previewImage}, ${project.previewImageRenderingHints}, ${#locale}, 30)"></th:block>
                </td>
                <td>
                  <a th:href="@{'/projects/' + ${project.uuid}}" th:if="${project.label}" th:text="${project.label.text}">bavarikon</a>
                </td>
                <td>
                  <span class="float-right" th:with="df=#{dateTime.format},dateTime=${project.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
                </td>
                <td class="center">
                  <a th:href="@{'/projects/' + ${project.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                  <a th:href="@{'/projects/' + ${project.uuid} + '/edit'}" th:title="#{tooltip_edit}"><span class="fas fa-pencil-alt actionButton"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>
        </div>
      </div>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modals-confirmation :: confirmYesNoDialog-bootstrap4"></div>
  </th:block>
</body>
</html>


