<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{digitization_projects}: #{project}|">Projects: Project</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/cudami/image-in-text.css}" rel="stylesheet" />
  </head>
  <body>
    <section layout:fragment="content" th:object="${project}">

      <div class="row">
        <div class="col-sm-6">
          <h1 th:text="#{project}">Project</h1>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <a class="btn btn-secondary" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="container-fluid rows-striped">
            <div class="row">
              <div class="col-md-3"><label class="font-weight-bold" th:text="#{id}">ID</label></div>
              <div class="col-md-9"><span th:text="*{uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-content">
        <div class="col-sm-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" th:each="language,iter : ${existingLanguages}">
              <a class="nav-link" th:classappend="${iter.index} == 0 ? active" th:href="${'#' + language}" data-toggle="tab" th:text="${language.getDisplayName(#locale)}" role="tab">language</a>
            </li>
          </ul>
          <div class="tab-content">
            <div th:each="language,iter : ${existingLanguages}" th:id="${language}" class="tab-pane" th:classappend="${iter.index} == 0 ? active">
              <div class="card">
                <div class="card-body bg-light">
                  <div th:replace="fragments/identifiable::renderTeaser(${project}, ${language})"></div>
                </div>
                <th:block th:if="*{text} and ${project.text.containsKey(language)}">
                  <div class="card-body">
                    <div th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(*{text}, ${language})"></div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-content">
        <div class="col-sm-6">
          <h2 th:text="#{digital_objects}">Digital objects</h2>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>

          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr sd:page-object="${page.page}">
                <th class="text-right" th:text="#{abbr_number}">Nr.</th>
                <th></th>
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{last_modified}">last modified</th>
                <th class="center" th:text="#{actions}">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="digitalobject, stats : ${page.content}">
                <td class="text-right" th:text="(${page.number - 1} * ${page.size}) + ${stats.index + 1}">1</td>
                <td>
                  <th:block th:insert="cudami/fragments/previewimage-to-html::renderImage(${digitalobject.previewImage}, ${digitalobject.previewImageRenderingHints}, ${#locale}, 50)"></th:block>
                </td>
                <td>
                  <a th:href="@{'/digitalobjects/' + ${digitalobject.uuid}}" th:if="${digitalobject.label}" th:text="${digitalobject.label.text}">bsb10001000</a>
                </td>
                <td>
                  <span class="float-right" th:with="df=#{dateTime.format},dateTime=${digitalobject.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
                </td>
                <td class="center">
                  <a th:href="@{'/digitalobjects/' + ${digitalobject.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                  <a href="#"
                    th:title="#{tooltip_remove_digitalobject_from_project}"
                    data:href="@{'/projects/' + ${project.uuid} + '/digitalobjects/' + ${digitalobject.uuid} + '/remove'}"
                    data:message="#{msg.confirm_remove_digitalobject_from_project}"
                    data:title="#{title_warning}"
                    data-target="#confirmYesNoDialog"
                    data-toggle="modal">
                    <span class="fa fa-trash actionButton"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>
        </div>
      </div>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modals :: selectItemDialog"></div>
  </th:block>
</body>
</html>
