<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

  <th:block th:fragment="renderImage(previewImage, hints, language, width)">
    <figure>
      <th:block th:if="${previewImage}">
        <th:block th:if="${hints != null && hints.targetLink != null}">
          <a th:href="${hints.targetLink}" th:target="${hints.openLinkInNewWindow == true} ? '_blank' : '_self'">
        </th:block>
        <th:block th:if="${previewImage.httpBaseUrl}">
          <img th:src="|${previewImage.httpBaseUrl}/full/${width},/0/default.${#strings.equals(previewImage.mimeType.subType, 'png')?'png':'jpg'}|"
               th:alt="${hints != null && hints.altText != null && hints.altText.has(language)}? ${hints.altText.getText(language)} : ${previewImage.filename}"
               th:title="${hints != null && hints.title != null && hints.title.has(language)}? ${hints.title.getText(language)}"
               />
        </th:block>
        <th:block th:unless="${previewImage.httpBaseUrl}">
          <img th:src="${previewImage.uri}"
               th:alt="${hints != null && hints.altText != null && hints.altText.has(language)}? ${hints.altText.getText(language)} : ${previewImage.filename}"
               th:title="${hints != null && hints.title != null && hints.title.has(language)}? ${hints.title.getText(language)}"
               th:style="|width: __${width}__px;|" />
        </th:block>
        <th:block th:if="${hints != null && hints.targetLink != null}">
          </a>
        </th:block>
        <th:block th:if="${hints != null && hints.caption != null && hints.caption.has(language)}">
          <figcaption th:text="${hints.caption.getText(language)}">image caption</figcaption>
        </th:block>
      </th:block>
      <th:block th:unless="${previewImage}">
        <img alt="no preview" class="media-object" th:src="@{/images/no-image.png}" th:style="|width: __${width}__px;|" />
      </th:block>
    </figure>
  </th:block>
  </body>
</html>
