<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<th:block th:fragment="renderLocalizedStructuredContent(structuredContent, locale)">
  <th:block th:if="${structuredContent}">
    <th:block th:if="${locale}">
      <th:block th:if="${structuredContent.get(locale)}">
        <th:block th:insert="~{::renderContentBlocks(${structuredContent.get(locale).contentBlocks})}"></th:block>
      </th:block>
      <th:block th:unless="${structuredContent.get(locale)}">
        <th:block th:if="${structuredContent.values().stream().findFirst().isPresent()}">
          <th:block th:insert="~{::renderContentBlocks(${structuredContent.values().stream().findFirst().get().contentBlocks})}"></th:block>
        </th:block>
      </th:block>
    </th:block>
    <th:block th:unless="${locale}">
      <th:block th:if="${structuredContent.values().stream().findFirst().isPresent()}">
        <th:block th:insert="~{::renderContentBlocks(${structuredContent.values().stream().findFirst().get().contentBlocks})}"></th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>

<th:block th:fragment="renderContentBlocks(contentBlocks)">
  <th:block th:each="block, iter : ${contentBlocks}">
    <th:block th:insert="~{::renderContentBlock(${block}, ${iter.index})}"></th:block>
  </th:block>
</th:block>

<th:block th:fragment="renderContentBlock(block, idx)">
  <th:block th:if="${block.class.simpleName == 'Blockquote'}">
    <blockquote>
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </blockquote>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'BulletList'}">
    <ul>
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </ul>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'CodeBlock'}">
    <pre>
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </pre>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'HardBreak'}">
    <br/>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'Heading'}" th:with="id=${renderTocLinks ? idx : null}">
    <h1 th:if="${block.getAttribute('level') == 1}" th:id="${id}">
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </h1>
    <h2 th:if="${block.getAttribute('level') == 2}" th:id="${id}">
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </h2>
    <h3 th:if="${block.getAttribute('level') == 3}" th:id="${id}">
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </h3>
    <h4 th:if="${block.getAttribute('level') == 4}" th:id="${id}">
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </h4>
    <h5 th:if="${block.getAttribute('level') == 5}" th:id="${id}">
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </h5>
    <h6 th:if="${block.getAttribute('level') == 6}" th:id="${id}">
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </h6>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'HorizontalRule'}">
    <hr/>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'IFrame'}" th:with="attr=${block.attributes}">
    <iframe th:attr="src=${attr.get('src') != null}?${attr.get('src')}, width=${attr.get('width') != null}?${attr.get('width')}, height=${attr.get('height') != null}?${attr.get('height')}, title=${attr.get('title') != null}?${attr.get('title')}">
      [Your user agent does not support frames or is currently configured not to display frames. However, you may visit <a th:attr="href=${attr.get('src') != null}?${attr.get('src')}">the related document.</a>]
    </iframe>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'Image'}" th:with="attr=${block.attributes}">
    <figure class="image-in-text mb-0" th:classappend="${(alignment != null ? 'alignment-' + alignment + ' ' : '') + 'width-' + #strings.substringBefore(attr.get('width'),'%')}" th:with="alignment=${attr.get('alignment')}">
      <th:block th:if="${attr.get('linkUrl')}">
        <a th:attr="href=${attr.get('linkUrl')}, target=${attr.get('linkNewTab') ? '_blank' : ''}">
          <img th:attr="alt=${attr.get('altText')}, src=${attr.get('url')}, title=${attr.get('title')}" />
        </a>
      </th:block>
      <th:block th:unless="${attr.get('linkUrl')}">
        <img th:attr="alt=${attr.get('altText')}, src=${attr.get('url')}, title=${attr.get('title')}" />
      </th:block>
      <th:block th:if="${attr.get('caption')}">
        <figcaption th:text="${attr.get('caption')}"></figcaption>
      </th:block>
    </figure>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'ListItem'}">
    <li>
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </li>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'OrderedList'}">
    <ol>
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </ol>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'Paragraph'}">
    <th:block th:if="${block.contentBlocks} AND ${block.contentBlocks.size()} > 0">
      <p>
        <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
      </p>
    </th:block>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'TableCell'}" th:with="attr=${block.attributes}">
    <td th:attr="colspan=${attr.get('colspan') != null}?${attr.get('colspan')}, rowspan=${attr.get('rowspan') != null}?${attr.get('rowspan')}, data-colwidth=${attr.get('colwidth') != null}?${attr.get('colwidth')}">
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </td>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'TableHeader'}" th:with="attr=${block.attributes}">
    <th th:attr="colspan=${attr.get('colspan') != null}?${attr.get('colspan')}, rowspan=${attr.get('rowspan') != null}?${attr.get('rowspan')}, data-colwidth=${attr.get('colwidth') != null}?${attr.get('colwidth')}">
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </th>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'Table'}">
    <table>
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </table>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'TableRow'}">
    <tr>
      <th:block th:insert="~{::renderContentBlocks(${block.contentBlocks})}"></th:block>
    </tr>
  </th:block>

  <th:block th:if="${block.class.simpleName == 'Text'}">
    <th:block th:if="${block.marks}">
      <th:block th:each="mark, iter : ${block.marks}">
        <th:block th:if="${mark.type} == 'link'">
          <th:block th:utext="'<a'"></th:block>
          <th:block th:each="attribute, iter : ${mark.attributes.entrySet()}">
            <th:block th:text="' ' + ${attribute.key} + '='"></th:block>"<th:block th:text="${attribute.value}"></th:block>"</th:block>
          <th:block th:utext="'>'"></th:block>
        </th:block>
        <th:block th:unless="${mark.type} == 'link'">
          <th:block th:switch="${mark.type}">
            <th:block th:case="'strikethrough'" th:utext="'<s>'"></th:block>
            <th:block th:case="'subscript'" th:utext="'<sub>'"></th:block>
            <th:block th:case="'superscript'" th:utext="'<sup>'"></th:block>
            <th:block th:case="'underline'" th:utext="'<u>'"></th:block>
            <th:block th:case="*" th:utext="'<' + ${mark.type}"></th:block>
            <th:block th:if="${mark.attributes}">
              <th:block th:each="attribute, iter : ${mark.attributes.entrySet()}">
                <th:block th:text="' ' + ${attribute.key} + '='"></th:block>"<th:block th:text="${attribute.value}"></th:block>"</th:block>
              </th:block>  
            <th:block th:utext="'>'"></th:block>
          </th:block>
        </th:block>
      </th:block>
    </th:block>
    <th:block th:utext="${block.text}">...</th:block>
    <th:block th:if="${block.marks}">
      <th:block th:each="mark, iter : ${T(com.google.common.collect.Lists).reverse(block.marks)}">
        <th:block th:if="${mark.type} == 'link'">
          <th:block th:utext="'</a>'"></th:block>
        </th:block>
        <th:block th:unless="${mark.type} == 'link'">
          <th:block th:switch="${mark.type}">
            <th:block th:case="'strikethrough'" th:utext="'</s>'"></th:block>
            <th:block th:case="'subscript'" th:utext="'</sub>'"></th:block>
            <th:block th:case="'superscript'" th:utext="'</sup>'"></th:block>
            <th:block th:case="'underline'" th:utext="'</u>'"></th:block>
            <th:block th:case="*" th:utext="'</' + ${mark.type} + '>'"></th:block>
          </th:block>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
  <th:block th:if="${block.class.simpleName == 'Video'}" th:with="attr=${block.attributes}">
    <figure class="mb-0 video-in-text" th:classappend="${(alignment != null ? 'alignment-' + alignment + ' ' : '') + 'width-' + #strings.substringBefore(attr.get('width'),'%')}" th:with="alignment=${attr.get('alignment')}">
      <video controls preload="metadata" th:attr="poster=${attr.get('previewUrl')}, src=${attr.get('url')}, title=${attr.get('title')}"></video>
      <th:block th:if="${attr.get('caption')}">
        <figcaption th:text="${attr.get('caption')}"></figcaption>
      </th:block>
    </figure>
  </th:block>
</th:block>
</body>
</html>
