<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tc="http://www.morphbit.com/thymeleaf/component">
  <body>

  <th:block th:fragment="toc(tocs)">
    <th:block th:if="${tocs} AND ${tocs.values()} AND ${tocs.values().stream().findFirst().isPresent()}">
      <ul>
        <th:block th:if="${locale}">
          <th:block th:if="${tocs.get(locale)}">
            <th:block th:insert="~{::renderToC(${tocs.get(locale)})}"></th:block>
          </th:block>
          <th:block th:unless="${tocs.get(locale)}">
            <th:block th:insert="~{::renderToC(${tocs.values().stream().findFirst().get()})}"></th:block>
          </th:block>
        </th:block>
        <th:block th:unless="${locale}">
          <th:block th:with="toc=${tocs.values().stream().findFirst().get()}">
            <th:block th:insert="~{::renderToC(${toc})}"></th:block>
          </th:block>
        </th:block>
      </ul>
    </th:block>
  </th:block>

  <th:block th:fragment="renderToC(toc)">
    <th:block th:each="tocEntry : ${toc}">
      <th:block th:insert="~{::renderToCEntry(${tocEntry})}"></th:block>
    </th:block>
  </th:block>

  <th:block th:fragment="renderToCEntry(tocEntry)">
    <li>
      <th:block th:if="${tocEntry.label} AND ${tocEntry.targetId}">
        <a
          th:if="${renderTocLinks}"
          th:href="'#' + __${tocEntry.targetId}__"
          th:utext="${tocEntry.label}"
        >label</a>
        <span
          th:unless="${renderTocLinks}"
          th:utext="${tocEntry.label}"
        >label</span>
      </th:block>
      <th:block th:if="${tocEntry.children}">
        <ul>
          <th:block th:each="child : ${tocEntry.children}">
            <th:block th:insert="~{::renderToCEntry(${child})}"></th:block>
          </th:block>
        </ul>
      </th:block>
    </li>
  </th:block>
</body>
</html>
