<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<th:block th:fragment="renderWebpage(webpage, locale)">
  <div class="webpage">
    <!-- label of webpage: -->
    <div class="webpage-label">
      <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${webpage.label}, ${locale})"></th:block>
    </div>

    <!-- description of webpage: -->
    <th:block th:if="${webpage.description}">
      <div class="webpage-description">
        <th:block th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(${webpage.description}, ${locale})"></th:block>
      </div>
    </th:block>

    <!-- text of webpage: -->
    <th:block th:if="${webpage.text}">
      <div class="webpage-text">
        <th:block th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(${webpage.text}, ${locale})"></th:block>
      </div>
    </th:block>
  </div>
</th:block>

</body>
</html>
