<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

  <th:block th:fragment="renderWebpage(webpage, locale)">
    <div class="webpage">
      <th:block th:if="${#objects.nullSafe(renderLabel, true)}">
        <!-- label of webpage: -->
        <div class="webpage-label">
          <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${webpage.label}, ${locale})"></th:block>
        </div>
      </th:block>

      <!-- description of webpage: -->
      <th:block th:if="${webpage.description}">
        <div class="webpage-description">
          <th:block th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(${webpage.description}, ${locale})"></th:block>
        </div>
      </th:block>

      <!-- toc of webpage: -->
      <th:block th:if="${webpage.renderingHints?.showInPageNavigation}">
        <nav class="webpage-toc">
          <th:block th:insert="cudami/fragments/toc::toc(${toc})"></th:block>
        </nav>
      </th:block>

      <!-- text of webpage: -->
      <th:block th:if="${webpage.text}">
        <div class="webpage-text">
          <th:block th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(${webpage.text}, ${locale})"></th:block>
        </div>
      </th:block>
    </div>
  </th:block>

  </body>
</html>
