<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

  <th:block th:fragment="renderTeaser(identifiable, language)">
    <div class="row">
      <div class="col-sm-2">
        <th:block th:if="${identifiable.previewImage}">
          <th:block th:if="${identifiable.previewImage.iiifBaseUrl}">
            <img th:src="${identifiable.previewImage.iiifBaseUrl} + '/full/100,/0/default.jpg'" th:attr="alt=${identifiable.previewImage.filename}" />
          </th:block>
          <th:block th:unless="${identifiable.previewImage.iiifBaseUrl}">
            <img th:src="${identifiable.previewImage.uri}" th:attr="alt=${identifiable.previewImage.filename}" style="width: 100px;" />
          </th:block>
        </th:block>
        <th:block th:unless="${identifiable.previewImage}">
          <img alt="no preview" class="media-object" th:src="@{/images/no-image.png}" style="width: 100px;" />
        </th:block>
      </div>
      <div class="col-sm-10">
        <label>
          <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${identifiable.label}, ${language})"></th:block>
        </label>
        <th:block th:if="${identifiable.description} and ${identifiable.description.containsKey(language)}">
          <div th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(${identifiable.description}, ${language})"></div>
        </th:block>
      </div>
    </div>
  </th:block>

</body>
</html>
