<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.collections}: #{collection}|">Collections: Collection</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/cudami/media-in-text.css}" rel="stylesheet" />
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${collection}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="#{collection}">Collection</h1>
                <div>
                  <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">
            <div class="row">
              <div class="col-12">
                <ol class="breadcrumb hidden-xs-down">
                  <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                  <li class="breadcrumb-item"><a th:href="@{/collections}" th:text="#{collections}">Collections</a></li>
                  <th:block th:if="${not #lists.isEmpty(breadcrumbs)}">
                    <th:block th:each="breadcrumb : ${breadcrumbs}">
                      <li class="breadcrumb-item">
                        <a th:href="@{/collections/} + ${breadcrumb.targetId}">
                          <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${breadcrumb.label}, ${locale})">Node Label</th:block>
                        </a>
                      </li>
                    </th:block>
                  </th:block>
                </ol>
              </div>
            </div>

            <!-- TODO it always contains "und" undefined language? -->
            <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
              <div class="language-selection">
                <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                <select th:replace="fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})">English </select>
              </div>
            </th:block>

            <th:block th:insert="fragments/uniqueobject::renderFields(${collection})"></th:block>

            <th:block th:insert="fragments/identifiable::renderFields(${collection})"></th:block>

            <th:block th:insert="fragments/entity::renderFields(${collection})"></th:block>

            <th:block th:insert="fragments/managedcontent::renderFields(${collection})"></th:block>

            <hr />

            <div class="row" th:if="${not #lists.isEmpty(parents)}">
              <div class="col-md-3">
                <label th:text="#{lbl.parent_collections}">Parent collections</label>
              </div>
              <div class="col-md-9">
                <th:block th:each="parent : ${parents}">
                  <a class="mr-2" th:href="@{/collections/} + ${parent.uuid}">
                    <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${parent.label}, ${dataLanguage})">Parent Label</th:block>
                  </a>
                </th:block>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-md-3 multilanguage"><label th:text="#{lbl.text}">Long text</label></div>
              <div class="col-md-9">
                <th:block th:if="${collection.text?.containsKey(#locale.forLanguageTag(dataLanguage))}">
                  <div class="card">
                    <div class="card-body">
                      <th:block th:insert="fragments/text::renderLocalizedStructuredContent(${collection.text}, ${dataLanguage})"></th:block>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label th:text="#{lbl.sub_collections}">Sub collections</label>
              </div>
              <div class="col-md-9">
                <div id="alert-subcollections" class="mt-2 alert alert-success alert-dismissible fade show d-none" role="alert">
                  <span>Alert message.</span>

                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div id="toolbar-sub-collections">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingSubcollectionsLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="fragments/components/select-language-dropdown::render('subcollections-languages', ${existingSubcollectionsLanguages}, ${dataLanguageSubcollections})">English
                    </select>
                  </th:block>
                </div>
                <table id="table-sub-collections"
                       data-toggle="table"
                       th:data-url="@{/api/collections/__${collection.uuid}__/collections}"
                       th:data-locale="${#locale}"
                       data-buttons="buttonsCollections"
                       data-cookie="true"
                       data-cookie-id-table="table-sub-collections"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsSubcollections"
                       data-search="true"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="true"
                       data-show-search-clear-button="true"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-sub-collections"
                       data-unique-id="uuid">
                  <thead>
                    <tr>
                      <th data-field="index"
                          data-formatter="formatRowNumberSubCollections"
                          data-halign="right" data-align="right"
                          th:text="#{lbl.row_number}">#</th>
                      <th data-field="previewImage"
                          data-formatter="renderPreviewImage" data-halign="center"
                          data-align="center"><i class="fas fa-image"></i></th>
                      <th data-field="label"
                          data-formatter="formatLabelSubCollections"
                          th:text="#{lbl.label}">Label</th>
                      <th data-field="publicationStatus"
                          data-formatter="renderPublicationStatus" data-halign="center"
                          data-align="center" th:text="#{lbl.status}">Status</th>
                      <th data-field="publicationStart" data-formatter="renderDate"
                          th:text="#{lbl.publication_start}">Start of publication</th>
                      <th data-field="publicationEnd" data-formatter="renderDate"
                          th:text="#{lbl.publication_end}">End of publication</th>
                      <th data-field="lastModified" data-formatter="renderDateTime"
                          th:text="#{lbl.last_modified}">last modified</th>
                      <th data-field="created" data-formatter="renderDateTime"
                          th:text="#{lbl.created}">created</th>
                      <th data-field="actions"
                          data-formatter="formatActionsSubCollections"
                          th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label th:text="#{lbl.digital_objects}">Digital objects</label>
              </div>
              <div class="col-md-9">
                <div id="alert-digitalobjects" class="mt-2 alert alert-success alert-dismissible fade show d-none" role="alert">
                  <span>Alert message.</span>

                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div id="toolbar-digitalobjects">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingDigitalObjectsLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="fragments/components/select-language-dropdown::render('digitalobjects-languages', ${existingDigitalObjectsLanguages}, ${dataLanguageDigitalObjects})">English
                    </select>
                  </th:block>
                </div>
                <table id="table-digitalobjects"
                       data-toggle="table"
                       th:data-url="@{/api/collections/__${collection.uuid}__/digitalobjects}"
                       th:data-locale="${#locale}"
                       data-buttons="buttonsDigitalObjects"
                       data-cookie="true"
                       data-cookie-id-table="table-digitalobjects"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsDigitalObjects"
                       data-search="true"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="true"
                       data-show-search-clear-button="true"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-digitalobjects"
                       data-unique-id="uuid">
                  <thead>
                    <tr>
                      <th data-field="index"
                          data-formatter="formatRowNumberDigitalObjects"
                          data-halign="right" data-align="right"
                          th:text="#{lbl.row_number}">#</th>
                      <th data-field="previewImage"
                          data-formatter="renderPreviewImage" data-halign="center"
                          data-align="center"><i class="fas fa-image"></i></th>
                      <th data-field="label"
                          data-formatter="formatLabelDigitalObjects"
                          th:text="#{lbl.label}">Label</th>
                      <th data-field="identifiers" data-sortable="false"
                          data-formatter="renderIdentifiers" th:text="#{lbl.identifiers}">Identifiers</th>
                      <th data-field="lastModified" data-formatter="renderDateTime"
                          th:text="#{lbl.last_modified}">last modified</th>
                      <th data-field="created" data-formatter="renderDateTime"
                          th:text="#{lbl.created}">created</th>
                      <th data-field="actions"
                          data-formatter="formatActionsDigitalObjects"
                          th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>

    <section layout:fragment="beforeBodyEnds">
      <div th:replace="~{fragments/modals/confirm-yes-no :: confirm-yes-no-dialog-html}"></div>
      <div th:replace="~{fragments/modals/select-entities :: render}"></div>

      <script type="text/javascript">
        $(addDataLanguageChangeHandler());

        $(function () {
          $("#subcollections-languages").change(function () {
            $('#table-sub-collections').bootstrapTable('refresh');
          });
          $("#digitalobjects-languages").change(function () {
            $('#table-digitalobjects').bootstrapTable('refresh');
          });
        });

        function formatRowNumberDigitalObjects(value, row, index) {
          return renderRowNumber($('#table-digitalobjects'), index);
        }
        function queryParamsDigitalObjects(params) {
          let dataLanguage = $("#digitalobjects-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }

        function formatRowNumberSubCollections(value, row, index) {
          return renderRowNumber($('#table-sub-collections'), index);
        }
        function queryParamsSubcollections(params) {
          let dataLanguage = $("#subcollections-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }
      </script>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('#table-digitalobjects').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        $('#table-sub-collections').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        function addDigitalObjects() {
          /*[+
           const errorMessage = [[#{error.technical_error}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${collection.label['de']}]];
           const addApiUrl = [[@{/api/collections/__${collection.uuid}__/digitalobjects}]];
           const successMessage = `[(#{msg.add_digitalobjects.success})]`;
           +]*/

          $('#selectEntitiesDialog').modal('hide');
          let entities = getSelectedEntities();

          // add digitalobjects to parent collection
          fetch(addApiUrl,
            {
              method: "POST", headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(entities)
            })
            .then(handleFetchErrors)
            .then(function (response) {
              $('#table-digitalobjects').bootstrapTable('refresh');
              showMessage('alert-success', '#alert-digitalobjects', successMessage);
            })
            .catch(function (error) {
              showMessage('alert-danger', '#alert-digitalobjects', errorMessage);
            });
        }
        function addDigitalObjectsDialog() {
          /*[+
           const modalTitle = [[#{modal.title.add_digitalobjects}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${collection.label['de']}]];
           const modalMessage = `[(#{modal.msg.add_digitalobjects})]`;
           const modalBtnText = `[(#{btn.add})]`;
           const parentUuid = [[${collection.uuid}]];
           const searchApiUrl = [[@{/api/digitalobjects/search}]];
           +]*/

          const modalDialog = $('#selectEntitiesDialog');
          $(modalDialog).data('searchApiUrl', searchApiUrl);
          $(modalDialog).data('mode', 'multi');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-message').html(modalMessage);
          var btnOk = $(modalDialog).find('.modal-footer .btn-primary');
          $(btnOk).attr('onclick', "addDigitalObjects();");
          $(btnOk).html(modalBtnText);
          $(modalDialog).modal('show');
        }

        function addSubcollections() {
          /*[+
           const errorMessage = [[#{error.technical_error}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${collection.label['de']}]];
           const addApiUrl = [[@{/api/collections/__${collection.uuid}__/collections}]];
           const successMessage = `[(#{msg.add_subcollections.success})]`;
           +]*/

          $('#selectEntitiesDialog').modal('hide');
          let entities = getSelectedEntities();

          // add collections to parent collection
          fetch(addApiUrl,
            {
              method: "POST", headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(entities)
            })
            .then(handleFetchErrors)
            .then(function (response) {
              $('#table-sub-collections').bootstrapTable('refresh');
              showMessage('alert-success', '#alert-subcollections', successMessage);
            })
            .catch(function (error) {
              showMessage('alert-danger', '#alert-subcollections', errorMessage);
            });
        }
        function addSubcollectionsDialog() {
          /*[+
           const modalTitle = [[#{modal.title.add_subcollections}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${collection.label['de']}]];
           const modalMessage = `[(#{modal.msg.add_subcollections})]`;
           const modalBtnText = `[(#{btn.add})]`;
           const parentUuid = [[${collection.uuid}]];
           const searchApiUrl = [[@{/api/collections/search}]];
           +]*/

          const modalDialog = $('#selectEntitiesDialog');
          $(modalDialog).data('searchApiUrl', searchApiUrl);
          $(modalDialog).data('mode', 'multi');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-message').html(modalMessage);
          var btnOk = $(modalDialog).find('.modal-footer .btn-primary');
          $(btnOk).attr('onclick', "addSubcollections();");
          $(btnOk).html(modalBtnText);
          $(modalDialog).modal('show');
        }

        function buttonsCollections() {
          /*[+
           const baseUrl = [[@{'/collections'}]];
           const textAdd = [[#{btn.add}]];
           const tooltipAdd = [[#{tooltip.add_new_table_entry}]];
           const parentUuid = [[${collection.uuid}]]
           const optionsAddExistingCollections = [[#{options.add_existing_collections}]];
           const optionsCreateSubcollection = [[#{options.create_subcollection}]];
           +]*/
          return {
            btnAdd: {
              html: `
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="${tooltipAdd}">
                    <i class="fa fa-plus"></i>
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="${baseUrl}/new?parentType=collection&parentUuid=${parentUuid}">${optionsCreateSubcollection}</a>
                    <a class="dropdown-item" href="javascript:addSubcollectionsDialog();">${optionsAddExistingCollections}</a>
                  </div>
                </div>
                `
            }
          };
        }

        function buttonsDigitalObjects() {
          /*[+
           const textAdd = [[#{btn.add}]];
           const tooltipAdd = [[#{tooltip.add_new_table_entry}]];
           +]*/
          return {
            btnAdd: {
              text: textAdd,
              icon: 'fa-plus',
              event: function () {
                addDigitalObjectsDialog();
              },
              attributes: {
                title: tooltipAdd
              }
            }
          };
        }

        function formatActionsSubCollections(value, row) {
          /*[+
           const baseUrl = [[@{'/collections'}]] + '/' + row.uuid;
           +]*/
          return [renderViewAction(baseUrl), renderEditAction(baseUrl),
          renderMoveSubcollectionAction(row),
          renderRemoveSubcollectionAction(row)].join(' ');
        }
        function formatActionsDigitalObjects(value, row) {
          /*[+
           const baseUrl = [[@{'/digitalobjects'}]] + '/' + row.uuid;
           +]*/
          return [renderViewAction(baseUrl),
          renderRemoveDigitalObjectAction(row)].join(' ');
        }

        function formatLabelSubCollections(value, row) {
          /*[+
           const baseUrl = [[@{'/collections'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#subcollections-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }
        function formatLabelDigitalObjects(value, row) {
          /*[+
           const baseUrl = [[@{'/digitalobjects'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#digitalobjects-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }

        function moveSubcollection(uuid) {
          $('#selectEntitiesDialog').modal('hide');
          let entities = getSelectedEntities();

          if (entities.length == 0) {
            showMessage('alert-danger', '#alert-subcollections', noTargetSelectedMessage);
            return;
          }
          let selectedTargetCollectionUuid = entities[0].uuid;
          let selectedTargetCollectionLabel = $('#selectEntitiesDialog-userInput').val();
          let collectionLabel = $('#selectEntitiesDialog .modal-message b').text();

          /*[+
            const apiUrlAdd = [[@{'/api/collections/'}]] + selectedTargetCollectionUuid + '/collections/' + uuid;
            const apiUrlDelete = [[@{'/api/collections/__${collection.uuid}__/collections/'}]] + uuid;
            const errorMessage = [[#{error.technical_error}]];
            const targetCollectionUrl = [[@{'/collections/'}]] + selectedTargetCollectionUuid;
            const successMessage = `[(#{msg.move_collection.success})]`;
            const noTargetSelectedMessage = `[(#{msg.move_collection.no_target_selected})]`;
          +]*/

          // move = add + delete:
          fetch(apiUrlAdd, {method: "POST"})
            .then(handleFetchErrors)
            .then(function (response) {
              fetch(apiUrlDelete, {method: "DELETE"})
                .then(handleFetchErrors)
                .then(function (response) {
                  $('#table-sub-collections').bootstrapTable('refresh');
                  showMessage('alert-success', '#alert-subcollections', successMessage);
                })
                .catch(function (error) {
                  showMessage('alert-danger', '#alert-subcollections', errorMessage);
                });

            })
            .catch(function (error) {
              showMessage('alert-danger', '#alert-subcollections', errorMessage);
            });
        }
        function moveSubcollectionDialog(subcollectionUuid) {
          const row = $('#table-sub-collections').bootstrapTable('getRowByUniqueId', subcollectionUuid);
          const label = row.label[Object.keys(row.label)[0]];
          /*[+
           const modalTitle = [[#{modal.title.move_collection}]];
           const modalMessage = `[(#{modal.msg.move_collection})]`;
           const modalBtnText = `[(#{btn.move})]`;
           const searchApiUrl = [[@{/api/collections/search}]];
           +]*/

          const modalDialog = $('#selectEntitiesDialog');
          $(modalDialog).data('searchApiUrl', searchApiUrl);
          $(modalDialog).data('mode', 'single');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-message').html(modalMessage);
          var btnOk = $(modalDialog).find('.modal-footer .btn-primary');
          $(btnOk).attr('onclick', "moveSubcollection('" + subcollectionUuid + "');");
          $(btnOk).html(modalBtnText);
          $(modalDialog).modal('show');
        }

        function renderMoveSubcollectionAction(row) {
          /*[+
           const tooltip = [[#{tooltip.move_subcollection_to_collection}]];
           +]*/
          return "<a title=\"" + tooltip + "\" href=\"javascript:moveSubcollectionDialog('" + row.uuid + "');\"><i class='fas fa-exchange-alt'></i></a>";
        }
        function renderRemoveDigitalObjectAction(row) {
          /*[+
           const tooltip = [[#{tooltip.remove_from_collection}]];
           +]*/
          return "<a title=\"" + tooltip + "\" href=\"javascript:removeDigitalObjectDialog('" + row.uuid + "');\"><i class='fa fa-unlink'></i></a>";
        }
        function renderRemoveSubcollectionAction(row) {
          /*[+
           const tooltip = [[#{tooltip.remove_from_collection}]];
           +]*/
          return "<a title=\"" + tooltip + "\" href=\"javascript:removeSubcollectionDialog('" + row.uuid + "');\"><i class='fa fa-unlink'></i></a>";
        }

        function removeDigitalObject(uuid) {
          /*[+
           const apiUrl = [[@{'/api/collections/__${collection.uuid}__/digitalobjects/'}]] + uuid;
           const errorMessage = [[#{error.technical_error}]];
           const alertSuccessMessage = [[#{alert.success.digitalobject_removed_from_collection}]];
           +]*/

          $('#confirmYesNoDialog').modal('hide');

          fetch(apiUrl, {method: "DELETE"})
            .then(handleFetchErrors)
            .then(function (response) {
              showMessage('alert-success', '#alert-digitalobjects', alertSuccessMessage);
              $('#alert-digitalobjects').removeClass("d-none");
              $('#table-digitalobjects').bootstrapTable('refresh');
            })
            .catch(function (error) {
              alert(errorMessage);
            });
        }
        function removeDigitalObjectDialog(uuid) {
          const row = $('#table-digitalobjects').bootstrapTable('getRowByUniqueId', uuid);
          const label = row.label[Object.keys(row.label)[0]];
          /*[+
           const modalTitle = [[#{modal.title.warning}]];
           const modalMessage = `[(#{modal.msg.confirm_remove_digitalobject_from_collection})]`;
           +]*/

          const modalDialog = $('#confirmYesNoDialog');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-body').html(modalMessage);
          $(modalDialog).find('.modal-footer #confirm').attr('href', "javascript:removeDigitalObject('" + uuid + "');");
          $(modalDialog).modal('show');
        }

        function removeSubcollection(uuid) {
          /*[+
           const apiUrl = [[@{'/api/collections/__${collection.uuid}__/collections/'}]] + uuid;
           const errorMessage = [[#{error.technical_error}]];
           const alertSuccessMessage = [[#{alert.success.subcollection_removed_from_collection}]];
           +]*/

          $('#confirmYesNoDialog').modal('hide');

          fetch(apiUrl, {method: "DELETE"})
            .then(handleFetchErrors)
            .then(function (response) {
              showMessage('alert-success', '#alert-subcollections', alertSuccessMessage);
              $('#alert-subcollections').removeClass("d-none");
              $('#table-sub-collections').bootstrapTable('refresh');
            })
            .catch(function (error) {
              alert(errorMessage);
            });
        }
        function removeSubcollectionDialog(uuid) {
          const row = $('#table-sub-collections').bootstrapTable('getRowByUniqueId', uuid);
          const label = row.label[Object.keys(row.label)[0]];
          /*[+
           const modalTitle = [[#{modal.title.warning}]];
           const modalMessage = `[(#{modal.msg.confirm_remove_subcollection_from_collection})]`;
           +]*/

          const modalDialog = $('#confirmYesNoDialog');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-body').html(modalMessage);
          $(modalDialog).find('.modal-footer #confirm').attr('href', "javascript:removeSubcollection('" + uuid + "');");
          $(modalDialog).modal('show');
        }
			/*]]>*/
      </script>

      <div th:replace="fragments/bootstrap-table :: data-formatter"></div>
    </section>
  </body>

</html>