<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
  <head>
    <title th:text="#{title_login}">Please log in</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="row spacer">
        <div class="col-md-6 offset-3">
          <div class="card card-default loginForm">
            <div class="card-header">
              <h3 class="card-title" th:text="#{title_login}">Please log in</h3>
            </div>
            <div class="card-body">
              <div class="alert alert-danger" th:if="${param.error}" th:text="#{login_failed}">Wrong username or password</div>
              <form role="form" name="input" th:action="@{/login}" method="post">
                <div class="form-group">
                  <label class="font-weight-bold" for="j_username" th:text="#{lbl_username}">Username</label>
                  <input type="text" class="form-control" id="j_username" name="username" autofocus="autofocus"/>
                </div>
                <div class="form-group">
                  <label class="font-weight-bold" for="j_password" th:text="#{lbl_password}">Password</label>
                  <input type="password" class="form-control" id="j_password" name="password" />
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" id="remember-me" name="remember-me" type="checkbox">
                    <label class="font-weight-bold form-check-label" for="remember-me" th:text="#{lbl_stay_logged_in}">
                      Stay logged in
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary float-right" th:text="#{btn_login}">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
