<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
  <head>
    <title>Main</title>
  </head>
  <body>
    <section layout:fragment="content">

      <th:block sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
        <h3>cudami Administration</h3>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn" th:href="@{/users}" th:title="#{users}">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-users"></i></div>
                <span th:text="#{users}">Users</span>
              </div>
            </a>
          </div>
        </div>
      </th:block>

      <th:block sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_CONTENT_MANAGER')">
        <h3 th:text="#{containers}">Containers (object groups/aggregations)</h3>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn" th:href="@{/websites}" th:title="#{websites}">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-globe"></i></div>
                <span th:text="#{websites}">Websites</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn" th:href="@{/contenttrees}" th:title="#{content_trees}">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-share-alt"></i></div>
                <span th:utext="#{content_trees}">Content trees</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" th:href="@{/collections}" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-list"></i></div>
                <span>Sammlungen</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" th:href="@{/projects}" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-industry"></i></div>
                <span>(Digitalisierungs-) Projekte</span>
              </div>
            </a>
          </div>
        </div>

        <h3 th:text="#{objects}">Objects</h3>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" th:href="@{/books}" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-book"></i></div>
                <span>Bücher</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" href="#" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-file-text-o"></i></div>
                <span>Artikel</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" href="#" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-file-image-o"></i></div>
                <span>Bilder</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" href="#" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-cube"></i></div>
                <span>3D Objekte</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" href="#" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-file-audio-o"></i></div>
                <span>Audios</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" href="#" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-file-video-o"></i></div>
                <span>Videos</span>
              </div>
            </a>
          </div>
        </div>

        <h3 th:text="#{entities}">Entitäten</h3>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" href="#" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-users"></i></div>
                <span>Personen</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" href="#" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-institution"></i></div>
                <span>Körperschaften</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" href="#" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-map-marker"></i></div>
                <span>Orte</span>
              </div>
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2 outerContent">
            <a class="btn disabled" href="#" title="...">
              <div class="innerContent">
                <div class="icon"><i class="fa fa-calendar"></i></div>
                <span>Ereignisse</span>
              </div>
            </a>
          </div>
        </div>
      </th:block>
    </section>
  </body>
</html>

