<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="#{fileresources}">Files</title>
  </head>
  <body>
    <section layout:fragment="content">

      <div class="row">
        <div class="col-sm-6">
          <h1 th:text="#{fileresources}">Files</h1>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <a class="btn btn-secondary" th:href="@{/fileresources/new}" th:text="#{btn_new}">New</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>

          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr sd:page-object="${page.page}">
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{filename}">Filename</th>
                <th class="center" th:text="#{mimetype}">Mimetype</th>
                <th class="center" th:text="#{filesize}">Filesize</th>
                <!--<th class="center"><a class="sorted" sd:pagination-sort="url" th:text="#{url}">Url</a></th>-->
                <!--<th class="center" th:text="#{registration_date}">Registration Date</th>-->
                <th class="center" th:text="#{actions}">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="fileresource : ${page.content}">
                <td>
                  <a th:href="@{'/fileresources/' + ${fileresource.uuid}}" th:if="${fileresource.label}" th:text="${fileresource.label.getText(defaultLocale)}">image001.jpg</a>
                </td>
                <td><span th:text="${fileresource.filename}">image001.jpg</span></td>
                <td><span th:text="${fileresource.mimeType.getTypeName()}">image/jpeg</span></td>
                <td><span style="white-space: nowrap;float:right;"><script type="text/javascript" th:inline="javascript">document.write(bytesToSize([[${
                    fileresource.sizeInBytes
                  }
                  ]], " "));</script></span>
                </td>
                <!--<td><a th:href="${website.url}" th:text="${website.url}" target="_blank">http://www.bavarikon.de/</a></td>-->
                <!--<td><a th:href="@{'/websites/' + ${website.uuid}}" th:text="${website.registrationDate}">23.01.1999</a></td>-->
                <td class="center">
                  <a th:href="@{'/fileresources/' + ${fileresource.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                  <a th:href="@{'/fileresources/' + ${fileresource.uuid} + '/edit'}" th:title="#{tooltip_edit}"><span class="fas fa-pencil-alt actionButton"></span></a>
                </td>
              </tr>
            </tbody>
          </table>

          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>
        </div>
      </div>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modals-confirmation :: confirmYesNoDialog-bootstrap4"></div>
  </th:block>
</body>
</html>


