.ProseMirror {
  max-height: 500px;
  overflow-y: scroll;
}

.cudami-editor iframe.editable {
  border: 5px dashed;
}

.cudami-editor .text-editor {
  border: 1px solid #ccc;
}

.cudami-editor .text-editor prosemirror-image.alignment-left {
  float: left;
  margin-right: 1rem;
}

.cudami-editor .text-editor prosemirror-image.alignment-right {
  float: right;
  margin-left: 1rem;
}

.cudami-editor .text-editor prosemirror-image.width-25 {
  width: 25%;
}

.cudami-editor .text-editor prosemirror-image.width-33 {
  width: 33%;
}

.cudami-editor .text-editor prosemirror-image.width-50 {
  width: 50%;
}

.cudami-editor .text-editor prosemirror-image.width-100 {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.cudami-editor .text-editor figure > img {
  max-width: 100%;
}

.cudami-editor .text-editor .contentblock-menu {
  position: absolute;
  right: -35px;
  top: 0;
}

.cudami-editor .text-editor prosemirror-image.alignment-right .contentblock-menu,
.cudami-editor .text-editor prosemirror-image.width-100 .contentblock-menu {
  right: 0;
}
