<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{articles}: #{article_create}|">Articles: Create a new article</title>
    <link rel=stylesheet th:href="@{/css/thirdparty/prosemirror.css}" />
  </head>
  <body>
    <section layout:fragment="content">
      <form id="editor-form" th:object="${article}" th:action="@{#}" method="post" role="form" th:attr="data-default-locale=${defaultLocale}">
        <input type="hidden" id="label" th:field="*{label}" />
        <input type="hidden" id="description" class="content" th:field="*{description}" />
        <input type="hidden" id="text" class="content" th:field="*{text}" />
        
        <div class="row mainContent">
          <div th:replace="fragments/feedback-messages :: form"></div>

          <div class="col-sm-8">
            <b th:text="#{article_create}">...</b>
          </div>
          <div class="col-sm-4">
            <span class="col-sm-6">
              <a class="btn btn-default btn-block" type="button" th:href="@{/articles}" th:text="#{abort}">abort</a>
            </span>
            <span class="col-sm-6">
              <button class="btn btn-primary btn-block" type="submit" th:text="#{save}">
                save
              </button>
            </span>
          </div>
        </div>

        <div class="row mainContent">
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>

        <div class="row mainContent">
          <div class="form-group col-sm-12">
            <span class="col-sm-4">
              <label for="id" class="col-sm-1 control-label" th:text="#{id}">ID</label>
              <div class="col-sm-9">
                <input id="id" th:field="*{uuid}" type="text" class="form-control" readonly="readonly" th:placeholder="*{uuid}"/>
              </div>
            </span>
          </div>
        </div>

        <div class="row mainContent">
          <div class="col-sm-12">
            <ul class="nav nav-tabs" id="locale-tabs">
              <li class="active locale-switcher">
                <a href="#" th:attr="data-locale=${defaultLocale}" th:text="${defaultLocale.getDisplayName(#locale)}">default locale</a>
              </li>
              <li id="locale-adder">
                <a href="#">
                  <i class="fas fa-plus" aria-hidden="true"></i>
                </a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="active tab-pane">
                <!-- identifiable fields -->
                <div class="well">
                  <div class="form-group">
                    <label th:text="#{label}">label</label>
                    <input class="form-control label-editor" type="text"/>
                  </div>

                  <div class="form-group">
                    <label th:text="#{description}">description</label>
                    <div class="editor" th:attr="data-content-id='description'"></div>
                  </div>
                </div>

                <div class="form-group">
                  <label th:text="#{document}">long text</label>
                  <div class="editor" th:attr="data-content-id='text'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div th:replace="fragments/modals :: addLanguageDialog"></div>
      <div th:replace="fragments/modals :: confirmYesNoDialog"></div>
      <div th:replace="fragments/modals :: formValidationDialog"></div>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <script th:src="@{/js/thirdparty/prosemirror.js}"></script>
    <script th:src="@{/js/prosemirror-basic.js}"></script>
  </th:block>
</body>

</html>