<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

  <th:block th:fragment="add-link-dialog">
    <div class="modal fade" id="dialog-link">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- TODO: title depending on add/edit link -->
            <h4 class="modal-title" th:text="#{modal.title.insert_hyperlink}">Insert hyperlink</h4>
            <button type="button" class="close" data-dismiss="modal" th:aria-label="#{modal.close}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="">
            <div class="modal-body">
              <div class="form-group">
                <label for="link-url-input" th:text="#{lbl.url}">URL</label>
                <input id="link-url-input" name="url" pattern="^(https?://|mailto:|/|#).*$" required="" type="text" class="form-control" value="">
              </div>
              <div class="form-group">
                <label for="link-title-input" th:text="#{lbl.tooltip}">Tooltip</label>
                <input id="link-title-input" name="title" type="text" class="form-control" value="">
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{btn.cancel}">Cancel</button>
              <a class="btn btn-primary" id="confirm" th:text="#{btn.add}">Add</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $("#dialog-link").on('show.bs.modal', function (event) {
        const previousUrl = targetEditor.getAttributes('link').href;
        $("#link-url-input").val(previousUrl);
        const previousTitle = targetEditor.getAttributes('link').title;
        $("#link-title-input").val(previousTitle);
      });
      $("#dialog-link").on('click', '.btn-primary', function (event) {
        let linkUrl = $("#dialog-link input[name='url']").val();
        let linkTitle = $("#dialog-link input[name='title']").val();
        if (linkTitle) {
          targetEditor.chain().focus().extendMarkRange("link").setLink({href: linkUrl, title: linkTitle}).run();
        } else {
          targetEditor.chain().focus().extendMarkRange("link").setLink({href: linkUrl}).run();
        }
        $('#dialog-link').modal('hide');
      });
    </script>
    
  </th:block>
</body>
</html>
