<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head lang="en">
    <meta charset="UTF-8" />
    <title></title>
  </head>

  <body>
    <th:block th:fragment="render">
      <div class="modal fade" id="selectFileResourcesDialog" data-searchApiUrl="#" data-mode="single" data-showType="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Modal Title</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="modal-message">Modal Message</p>
              <form>
                <div class="row">
                  <div class="input-group col-sm-12">
                    <select class="form-select" id="selectFileResourcesDialog-inputType">
                      <option value="label" selected th:text="#{lbl.label}">Label</option>
                      <option value="identifier" th:text="#{lbl.identifier}">Identifier</option>
                      <option value="uuid" th:text="#{lbl.uuid}">UUID</option>
                    </select>
                    <div class="form-control auto-search-wrapper p-0 border-0">
                      <input id="selectFileResourcesDialog-userInput" type="text" autocomplete="off" aria-label="User input" name="userInput" class="w-100" style="height: inherit;">
                    </div>
                  </div>
                </div>
                <input type="hidden" name="selectedFileResources" />
              </form>

              <div class="list-group mt-2" style="display: none;"></div>

            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{btn.cancel}">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="void(0);" th:text="#{btn.ok}">Ok</button>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        /*[+
         const msgNoResultsFoundFileResources = [[#{msg.no_results_found}]];
        +]*/

        // empty input field every time the type select changes
        $('#selectFileResourcesDialog-inputType').change(function () {$('#selectFileResourcesDialog-userInput').val("");});
        $('#selectFileResourcesDialog').on('show.bs.modal', function () {
          resetFileResourcesDialog();
        });
        let resultCountFileResources = 0;
        const maxRecordsFileResources = 25; // == pageSize
        let totalElementsFileResources = 0;
        
        new Autocomplete('selectFileResourcesDialog-userInput', {
          insertToInput: true,
          cache: false,
          classGroup: "group-by",
          noResults: ({element, currentValue, template}) => template(`<li>${msgNoResultsFoundFileResources}: "${currentValue}"</li>`),
          onSearch: ({currentValue}) => {
            // clear count always when new searching
            resultCountFileResources = 0;
            totalElementsFileResources = 0;

            let apiUrl = $('#selectFileResourcesDialog').data('searchApiUrl');
            apiUrl = apiUrl + `?pageNumber=0&pageSize=25&searchTerm=${encodeURI(currentValue)}`;
            apiUrl = apiUrl + '&sortBy=label_de';
            apiUrl = apiUrl + '&searchField=' + $("#selectFileResourcesDialog-inputType").val();
            return new Promise((resolve) => {
              fetch(apiUrl)
                .then((response) => response.json())
                .then((data) => {
                  // only content property of PageResponse
                  const result = data.content;
                  resolve(result);

                  // save counts for paging message (if totalElementsFileResources > maxRecordsFileResources)
                  totalElementsFileResources = data.totalElements;
                  resultCountFileResources = result.length;
                })
                .catch((error) => {
                  // just show user "no result"
                  resolve([]);
                });
            });
          },
          onResults: ({currentValue, matches, template, classGroup}) => {
            return matches === 0
              ? template
              : matches
                .map((object, index) => {
                  let moreResultsMessage = "";
                  if (index === 0 && totalElementsFileResources > maxRecordsFileResources) {
                    /*[+
                      const msgPagingMoreResultsFound = `[(#{msg.paging.more_results_found})]`;
                    +]*/
                    moreResultsMessage = `<li class="${classGroup} alert-warning"><span><small>${msgPagingMoreResultsFound}</small></span></li>`;
                  }

                  let objectHtml = renderFileResource(object, currentValue);
                  let html = '<li><div class="row">' + objectHtml + '</div></li>';

                  return `${moreResultsMessage} ${html}`;
                })
                .join("");
          },
          onSubmit: ({currentValue, index, element, object, results}) => {
            let selectedFileResources = addFileResource(object, currentValue);
            refreshFileResourcesDialog();
          },
        });

        function addFileResource(object, currentValue) {
          let modalDialog = $('#selectFileResourcesDialog');

          // add selected FileResource to data
          let selectedFileResources = getSelectedFileResources();
          if (isFileResourceSelected(object)) {
            // do not add again
            return;
          }
          selectedFileResources.push(object);
          setSelectedFileResources(selectedFileResources);

          // TODO make obsolete, use array:
          $(modalDialog).find('input[name="selectedUuid"]').val(object.uuid);

          return selectedFileResources;
        }

        function getSelectedFileResources() {
          let selectedFileResources = $('#selectFileResourcesDialog input[name="selectedFileResources"]').val();
          if (!selectedFileResources) {
            selectedFileResources = [];
          } else {
            selectedFileResources = JSON.parse(decodeURIComponent(selectedFileResources));
          }
          return selectedFileResources;
        }

        function isFileResourceSelected(fileResource) {
          let selectedFileResources = getSelectedFileResources();
          const found = selectedFileResources.find(object => object.uuid == fileResource.uuid);
          if (found) {
            return true;
          }
          return false;
        }

        function setSelectedFileResources(selectedFileResources) {
          $('#selectFileResourcesDialog input[name="selectedFileResources"]').val(encodeURIComponent(JSON.stringify(selectedFileResources)));
        }

        function refreshFileResourcesDialog() {
          // refreshes list and ok-button state
          let modalDialog = $('#selectFileResourcesDialog');
          let mode = $(modalDialog).data('mode');

          let selectedFileResources = getSelectedFileResources();
          if (selectedFileResources.length > 0) {
            let htmlItems = '';
            if (selectedFileResources) {
              getSelectedFileResources().forEach(function (object, index) {
                let fileResourceHtml = '<div class="list-group-item d-flex align-items-start">' + renderFileResource(object, null, true) + '</div>';
                htmlItems = htmlItems + fileResourceHtml;
              });
            }
            let htmlList = $(modalDialog).find('div.list-group').html(htmlItems);
            $(htmlList).show();
            $(modalDialog).find('.modal-footer .btn-primary').prop("disabled", false);

            if (mode === "single") {
              $(modalDialog).find('div.input-group').hide();
            }
          } else {
            $(modalDialog).find('div.input-group').show();
            let htmlList = $(modalDialog).find('div.list-group').html('');
            $(htmlList).hide();
            $(modalDialog).find('.modal-footer .btn-primary').prop("disabled", true);
          }
        }

        function removeFileResource(uuid) {
          let selectedFileResources = getSelectedFileResources();
          selectedFileResources.forEach(function (object, index) {
            selectedFileResources = selectedFileResources.filter(object => object.uuid !== uuid);
          });
          setSelectedFileResources(selectedFileResources);
        }

        function renderFileResource(object, currentValue, withDeleteButton) {
          // render just the columns and add wrapping outside method
          let html = '<div class="col-md-1">';
          
          // preview image:
          if (object.previewImage) {
        	  let imageUrl = `${object.previewImage.uri}`;
        	  if (object.previewImage.httpBaseUrl) {
        		  imageUrl = `${object.previewImage.httpBaseUrl}/full/50,/0/default.jpg`;
        	  }
            html = html + `<figure class="mb-0 mx-auto" style="max-width: 50px;">
                        <img class="img-fluid mw-100" src="${imageUrl}">
                        </figure>`;
          } else {
            html = html + '<img class="img-fluid mw-100" src="/images/no-image.png">';
          }
          html = html + '</div>';
          
          // label and type
          html = html + '<div class="col">';
          let label = Object.values(object.label)[0];
          if (currentValue) {
            // highlight current value in string
            html = html + `${label.replace(new RegExp(currentValue, "gi"), (str) => `<span class="alert-warning">${str}</span>`)}`;
          } else {
            html = html + `${label}`;
          }
          let showType = $('#selectFileResourcesDialog').data('showType');
          if (showType) {
        	  html = html + `<span class="ml-2 badge badge-light">${object.identifiableObjectType}</span>`;
          }
          html = html + '</div>';
          
          // delete button
          if (withDeleteButton) {
            html = html + `<div class="text-right col-md-1"><a href="#" onclick="removeFileResource('${object.uuid}'); refreshFileResourcesDialog();" class="remove"><i class="fa fa-trash"></i></a></div>`;
          }
          return `${html}`;
        }
        
        function resetFileResourcesDialog() {
          $('#selectFileResourcesDialog-userInput').val("");
          setSelectedFileResources([]);
          refreshFileResourcesDialog();
        }
        /*]]>*/
      </script>
    </th:block>
  </body>

</html>