<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <body>
    <th:block th:fragment="select-image-dialog">
      <div class="modal fade" id="selectImageDialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" th:text="#{modal.title.select_image}">Select image</h4>
              <button type="button" class="close" data-dismiss="modal" th:aria-label="#{modal.close}">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="#" id="image-dialog-form">
                <input th:id="imageFileResource-json" type="hidden" />

                <div class="card" id="selectImageDialog-fileresource">
                  <div class="card-body p-2">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" href="#" data-toggle="tab" data-target="#pane-upload-file" role="tab">
                          <th:block th:text="#{tab.image_upload}">Upload image</th:block>
                          <i class="fas fa-question-circle text-primary ml-1" data-toggle="popover" th:data-content="#{tooltip.file_upload}"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="tab" data-target="#pane-url-file" role="tab">
                          <th:block th:text="#{tab.image_url}">Integrate image via weblink</th:block>
                          <i class="fas fa-question-circle text-primary ml-1" data-toggle="popover" th:data-content="#{tooltip.file_url}"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="tab" data-target="#pane-search-file" role="tab">
                          <th:block th:text="#{tab.image_search}">Use existing image</th:block>
                          <i class="fas fa-question-circle text-primary ml-1" data-toggle="popover" th:data-content="#{tooltip.file_search}"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content p-2">
                      <div class="tab-pane fade show active" id="pane-upload-file" role="tabpanel">

                        <!-- this is were the previews should be shown. -->
                        <div class="dropzone mt-2" id="imageFileResourceDropzone">
                          <div class="dz-message m-0">
                            <div class="mb-3"><i class="fas fa-upload" style="font-size: 30px;"></i></div>
                            <div class="mb-3">Drag and drop image file to upload here</div>
                            <label class="btn btn-primary m-0 rounded"><i class="fas fa-file-image mr-1"></i> Choose image file</label>
                          </div>
                        </div>

                        <div class="mb-0 mt-3 form-group">
                          <div class="input-group form-label-group in-border">
                            <input id="image-label-input" placeholder="" name="fr-label" type="text" class="text-dark form-control" value="">
                            <label for="image-label-input" th:text="#{lbl.label}">Label</label>
                            <div class="input-group-append">
                              <i class="fas fa-question-circle text-dark align-items-center border d-flex btn btn-light" data-toggle="popover" th:data-content="#{tooltip.file.label_input}"></i>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="tab-pane fade" id="pane-url-file" role="tabpanel">
                        <figure id="image-url-preview" class="mx-auto" style="max-width: 250px;">
                          <img id="imgPreview" style="display: none;" class='img-fluid mw-100' />
                        </figure>
                        <div class="mb-0 mt-3 form-group">
                          <div class="form-label-group in-border">
                            <input id="image-url" placeholder="" name="fr-uri" type="url" class="form-control">
                            <label for="image-url" th:text="#{lbl.url}">URL</label>
                          </div>
                          <script th:inline="javascript">
                            /*[+
                             const lblImage = [[#{lbl.image}]];
                             +]*/
                            const urlField = $("#selectImageDialog input[name='fr-uri']");
                            const previewImage = $("#image-url-preview #imgPreview");
                            $(urlField).on("input", debounce(() => {
                              const imageSrc = $(urlField).val();
                              if (imageSrc.match("https?:\/\/.*")) {
                                $(previewImage).attr('alt', `${lblImage}: ${imageSrc}`);
                                $(previewImage).attr('src', imageSrc);
                                $(previewImage).show();
                              }
                            }, 1000));
                          </script>
                          <div class="input-group form-label-group in-border">
                            <input id="image-label-input" placeholder="" name="fr-label" type="text" class="text-dark form-control" value="">
                            <label for="image-label-input" th:text="#{lbl.label}">Label</label>
                            <div class="input-group-append">
                              <i class="fas fa-question-circle text-dark align-items-center border d-flex btn btn-light" data-toggle="popover" th:data-content="#{tooltip.file.label_input}"></i>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="pane-search-file" role="tabpanel">
                        <div class="mb-0 mt-3 form-group">
                          <div class="form-label-group in-border">
                            <input id="image-search" placeholder="" type="text" class="form-control">
                            <label for="image-search" th:text="#{lbl.file.searchterm}">Search term (in image label, filename, abstract)</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="card">
                  <div class="card-header p-1" id="header-metadata">
                    <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#body-metadata" aria-expanded="true" aria-controls="body-metadata" th:text="#{card.header.file.metadata}">Enter metadata</a>
                  </div>

                  <div id="body-metadata" class="collapse show" aria-labelledby="header-metadata">
                    <div class="card-body">

                      <div class="form-group">
                        <div class="input-group form-label-group in-border">
                          <input id="image-caption-input" placeholder="" name="hints-caption" type="text" class="text-dark form-control" value="">
                          <label for="image-caption-input" th:text="#{lbl.image.caption}">Caption</label>
                          <div class="input-group-append">
                            <i class="fas fa-question-circle text-dark align-items-center border d-flex btn btn-light" data-toggle="popover" th:data-content="#{tooltip.file.image_caption_input}"></i>
                          </div>
                        </div>

                        <div class="input-group form-label-group in-border">
                          <input id="image-title-input" placeholder="" name="hints-title" type="text" class="text-dark form-control" value="">
                          <label for="image-title-input" th:text="#{lbl.tooltip}">Tooltip</label>
                          <div class="input-group-append">
                            <i class="fas fa-question-circle text-dark align-items-center border d-flex btn btn-light" data-toggle="popover" th:data-content="#{tooltip.file.image_tooltip_input}"></i>
                          </div>
                        </div>

                        <div class="input-group form-label-group in-border">
                          <input id="image-alttext-input" placeholder="" name="hints-alttext" type="text" class="text-dark form-control" value="">
                          <label for="image-alttext-input" th:text="#{lbl.image.alt_text}">Alternative text</label>
                          <div class="input-group-append">
                            <i class="fas fa-question-circle text-dark align-items-center border d-flex btn btn-light" data-toggle="popover" th:data-content="#{tooltip.file.image_alttext_input}"></i>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header p-1" id="header-rendering-hints">
                    <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#body-rendering-hints" aria-expanded="false" aria-controls="collapseOne" th:text="#{card.header.file.rendering_hints}">Define rendering hints</a>
                  </div>

                  <div id="body-rendering-hints" class="collapse hide" aria-labelledby="header-rendering-hints">
                    <div class="card-body">
                      <label class="mb-2" th:text="#{lbl.image.link}">Image link</label>
                      <div class="form-group">
                        <div class="form-label-group in-border mb-1">
                          <input type="url" class="form-control" id="image-link" name="hints-targetLink" placeholder="">
                          <label for="image-link" th:text="#{lbl.url}">URL</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="image-link-blank" name="hints-openLinkInNewWindow" class="custom-control-input" value="true">
                          <label class="custom-control-label" for="image-link-blank" th:text="#{lbl.option.link_target.new_tab}">open in a new tab</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="image-link-no-blank" name="hints-openLinkInNewWindow" class="custom-control-input" value="false">
                          <label class="custom-control-label" for="image-link-no-blank" th:text="#{lbl.option.link_target.same_tab}">open in the same tab</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{btn.cancel}">Cancel</button>
              <a class="btn btn-primary" id="confirm" th:text="#{btn.add}">Add</a>
            </div>

          </div>
        </div>
      </div>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        /*[+
         const uploadUrl = [[@{'/api/files'}]];
         +]*/
        /*]]>*/
      </script>

      <script type="text/javascript">
        $("div#imageFileResourceDropzone").dropzone({
          url: uploadUrl,
          success: function (file, response) {
            $("#selectImageDialog input[name='fr-label']").val(response.filename);
            $("input#imageFileResource-json").val(JSON.stringify(response));
          },
        });
      </script>

    </th:block>
  </body>

</html>
