<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{content_nodes}: #{content_node_create}|">Content nodes: Create a new content node</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div id="editor"></div>
      <script th:src="@{/js/cudami-editor.bundle.js}"></script>
      <script th:inline="javascript">
        CudamiEditor({
          activeLanguage: /*[[${activeLanguage}]]*/,
          id: "editor",
          parentType: /*[[${parentType}]]*/,
          parentUuid: /*[[${parentUuid}]]*/,
          type: "contentNode",
          uiLocale: /*[[${#locale.language}]]*/
        });
      </script>
    </section>
  </body>
</html>