<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{corporateBodies}: #{corporateBody}|">Corporate bodies: Corporate body</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/cudami/media-in-text.css}" rel="stylesheet" />
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${corporateBody}">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="#{corporateBody}">Corporate body</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <th:block th:insert="fragments/identifiable::renderIdentifiers(${corporateBody}, true)"></th:block>

        <div class="row">
          <div class="col-sm-12">
            <th:block th:insert="fragments/identifiable::renderLocalizedTeaser(${corporateBody}, ${existingLanguages}, true)"></th:block>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="rows-striped">
              <div class="row" th:if="*{homepageUrl}">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{homepage}">Homepage</label></div>
                <div class="col-md-9"><a th:href="*{homepageUrl}" th:text="*{homepageUrl}" target="_blank">http://www.example.de/</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <section layout:fragment="beforeBodyEnds">
    <script>
      addLanguageChangeHandler()
      moveEditButtonToNavbar()
    </script>
    <script th:src="@{/js/identifier-list.bundle.js}"></script>
    <script th:inline="javascript">
      IdentifierList({
        apiContextPath: /*[[@{/}]]*/ '',
        id: "identifiers-list",
        identifiers: /*[[${corporateBody.identifiers}]]*/ []
      });
    </script>
  </section>
</body>
</html>
