<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="#{articles}">Articles</title>
  </head>
  <body>
  <th:block layout:fragment="content">
    <div class="content-header">
      <div class="container-fluid">
        
        <div class="row">
          <div class="col">
            <h1 th:text="#{page.title.articles}">Articles</h1>
            <hr>
          </div>
        </div>
        
        <div class="row">
          <div class="col">

            <div id="toolbar-articles">
              <span th:text="#{lbl.itemlocale}">Show language dependent values in</span>&nbsp;
              <select name="locales" id="articles-locales">
                <th:block th:each="locale : ${existingLanguages}">
                  <option th:value="${locale.language}" th:text="${locale.displayLanguage}" th:selected="${#strings.equals(locale.language, defaultLanguage)}">English</option>
                </th:block>
              </select>
            </div>
            <table id="table-articles"
                   data-toggle="table"
                   th:data-url="@{/api/articles}"
                   th:data-locale="${#locale}"
                   data-cookie="true"
                   data-cookie-id-table="table-articles"
                   data-id-field="uuid"
                   data-pagination="true"
                   data-search="true"
                   data-server-sort="true"
                   data-side-pagination="server"
                   data-sort-name="lastModified"
                   data-sort-order="desc"
                   data-toolbar="#toolbar-articles"
                   data-unique-id="uuid">
              <thead>
                <tr>
                  <th data-field="index" data-formatter="formatRowNumber" th:text="#{lbl.row_number}">#</th>
                  <!--<th data-field="uuid" th:text="#{lbl.uuid}">UUID</th>-->
                  <th data-field="label" data-sortable="true" data-formatter="formatLabel" th:text="#{lbl.label}">Label</th>
                  <th data-field="lastModified" data-sortable="true" data-formatter="renderDate" th:text="#{lbl.last_modified}">last modified</th>
                  <th data-field="created" data-sortable="true" data-formatter="renderDate" th:text="#{lbl.created}">created</th>
                  <th data-field="actions" data-formatter="formatActions" th:text="#{lbl.actions}">Actions</th>
                </tr>
              </thead>
            </table>

          </div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modal-dialogs :: confirmYesNoDialog"></div>

    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      /*[+
       $('#table-articles').attr('itemLocale', [[${defaultLanguage}]]);
       +]*/
      /*]]>*/
    </script>

    <script type="text/javascript">
      $(function () {
        $("#articles-locales").change(function () {
          var itemLocale = this.value;
          var $table = $('#table-articles');
          $table.attr('itemLocale', itemLocale);
          $table.bootstrapTable('refresh');
        });
      });
    </script>

    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      function formatActions(value, row) {
        /*[+
         const baseUrl = [[@{'/articles'}]] + '/' + [row.uuid];
         const itemLocale = $('#table-articles').attr('itemLocale');
         const itemType = [[#{lbl.article.inline}]];
         const itemId = renderLocalizedText(row.label, itemLocale);
         +]*/

        return [
          renderViewAction(baseUrl),
          renderEditAction(baseUrl),
          renderDeleteAction(baseUrl, itemType, itemId)
        ].join(' ');
      }
      function formatLabel(value, row) {
        /*[+
         const baseUrl = [[@{'/articles'}]] + '/' + [row.uuid];
         const itemLocale = $('#table-articles').attr('itemLocale');
         +]*/
        return renderLabel(baseUrl, value, itemLocale);
      }
      function formatRowNumber(value, row, index) {
        var $table = $('#table-articles');
        return renderRowNumber($table, index);
      }
      /*]]>*/
    </script>
    <div th:replace="fragments/bootstrap-table :: data-formatter"></div>

  </th:block>
</body>
</html>
