<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{articles}: #{article}|">Articles: Article</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/cudami/media-in-text.css}" rel="stylesheet" />
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${article}">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="#{article}">Article</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div th:replace="fragments/feedback-messages :: global-bootstrap4"></div>
        <div class="row">
          <div class="col-sm-12">
            <div class="container-fluid rows-striped">
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{id}">ID</label></div>
                <div class="col-md-9"><span th:text="*{uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <th:block th:insert="fragments/identifiable::renderLocalizedTeaser(${article}, ${existingLanguages}, true)"></th:block>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <section layout:fragment="beforeBodyEnds">
    <script>
      addLanguageChangeHandler()
      moveEditButtonToNavbar()
    </script>
  </section>
</body>
</html>
