<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{page.title.articles}: #{article}|">Articles: Article</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/cudami/media-in-text.css}" rel="stylesheet" />
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${article}">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="#{article}">Article</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid rows-striped">
        <!-- TODO it always contains "und" undefined language? -->
        <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
          <div class="language-selection">
            <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
            <select th:replace="fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})">English</select>
          </div>
        </th:block>

        <th:block th:insert="fragments/uniqueobject::renderFields(${article})"></th:block>

        <th:block th:insert="fragments/identifiable::renderFields(${article})"></th:block>

        <th:block th:insert="fragments/entity::renderFields(${article})"></th:block>

        <hr/>

        <div class="row mb-1">
          <div class="col-md-3"><label th:text="#{lbl.text}">Long text</label></div>
          <div class="col-md-9">
            <th:block th:if="${article.text?.containsKey(#locale.forLanguageTag(dataLanguage))}">
              <div class="card">
                <div class="card-body">
                  <th:block th:insert="fragments/text::renderLocalizedStructuredContent(${article.text}, ${dataLanguage})"></th:block>
                </div>
              </div>
            </th:block>
          </div>
        </div>

      </div>
    </div>
  </th:block>

  <section layout:fragment="beforeBodyEnds">
    <script type="text/javascript">
      $(addDataLanguageChangeHandler());
      $(moveEditButtonToNavbar());
    </script>
  </section>
</body>
</html>
