<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">>
  <body>

  <th:block th:fragment="renderDynamicWebpageNavigationTree(webpage)">
    <th:block th:if="${#lists.isEmpty(webpage.children)}">
      <a th:utext="${webpage.label.getText(locale)}" th:href="@{/p/__${webpage.uuid}__}">webpage label</a>
    </th:block>
    <th:block th:if="${not #lists.isEmpty(webpage.children)}">
      <a th:utext="${webpage.label.getText(locale)}" th:href="'#' + ${webpage.uuid}" class="dropdown-toggle">webpage label</a>
      <ul class="list-unstyled" th:id="${webpage.uuid}">
        <li th:each="subpage : ${webpage.children}" class="flex items-baseline">
        <th:block th:insert=":: renderDynamicWebpageNavigationTree(${subpage})"></th:block>
        </li>
      </ul>
    </th:block>
  </th:block>

  <th:block th:fragment="renderWebpageNavigationTree(webpage, currentLevel, maxLevel)">
    <th:block th:with="currentLevel=${currentLevel} + 1">
      <th:block th:if="${currentLevel} <= ${maxLevel}">
        <a th:utext="${webpage.label.getText(locale)}" th:href="@{/p/__${webpage.uuid}__}">webpage label</a>
        <th:block th:if="${currentLevel} < ${maxLevel} AND ${webpage.children}">
          <ul class="list-unstyled">
            <li th:each="subpage : ${webpage.children}" class="flex items-baseline">
            <th:block th:insert=":: renderWebpageNavigationTree(${subpage},${currentLevel},${maxLevel})"></th:block>
            </li>
          </ul>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</body>
</html>