<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

  <th:block th:fragment="render(id, existingLanguages, dataLanguage)">
    <select th:id="${id}">
      <th:block th:each="locale : ${existingLanguages}">
        <option th:value="${locale.toLanguageTag()}" th:text="(${locale.getDisplayLanguage(#locale) != ''} ?  ${locale.getDisplayLanguage(#locale)} : #{lbl.language_not_specified}) + (${locale.getDisplayScript(#locale) != ''} ? ' (' + ${locale.getDisplayScript(#locale)} + ')' : '')" th:selected="${#strings.equals(locale.toLanguageTag(), dataLanguage)}">English</option>
      </th:block>
    </select>
  </th:block>

</body>
</html>