figure.image-in-text.alignment-left,
figure.video-in-text.alignment-left {
  float: left;
  margin-right: 1rem;
}

figure.image-in-text.alignment-right,
figure.video-in-text.alignment-right {
  float: right;
  margin-left: 1rem;
}

figure.image-in-text.width-25,
figure.video-in-text.width-25 {
  width: 25%;
}

figure.image-in-text.width-33,
figure.video-in-text.width-33 {
  width: 33%;
}

figure.image-in-text.width-50,
figure.video-in-text.width-50 {
  width: 50%;
}

figure.image-in-text.width-100,
figure.video-in-text.width-100 {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

figure.image-in-text > a > img,
figure.image-in-text > img,
figure.video-in-text > video {
  max-width: 100%;
}
