nav.webpage-toc ul {
  list-style: none;
}

nav.webpage-toc > ul ul {
  padding-left: 10px;
}

nav.webpage-toc li {
  padding: 0;
}

nav.webpage-toc li > ul > li:before {
  content: '└';
  padding-right: 3px;
}

div.webpage-text h1 > a.heading-link,
div.webpage-text h2 > a.heading-link,
div.webpage-text h3 > a.heading-link,
div.webpage-text h4 > a.heading-link,
div.webpage-text h5 > a.heading-link,
div.webpage-text h6 > a.heading-link {
  margin-left: 3px;
  visibility: hidden;
}

div.webpage-text h1:hover > a.heading-link,
div.webpage-text h2:hover > a.heading-link,
div.webpage-text h3:hover > a.heading-link,
div.webpage-text h4:hover > a.heading-link,
div.webpage-text h5:hover > a.heading-link,
div.webpage-text h6:hover > a.heading-link {
  visibility: visible;
}

div.webpage-text h1 > a.heading-link > svg,
div.webpage-text h2 > a.heading-link > svg,
div.webpage-text h3 > a.heading-link > svg,
div.webpage-text h4 > a.heading-link > svg,
div.webpage-text h5 > a.heading-link > svg,
div.webpage-text h6 > a.heading-link > svg {
  display: inline;
  height: 0.8em;
  vertical-align: baseline;
  width: 0.8em;
}
