<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="#{content_trees}">Content Trees</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1><span th:text="#{content_trees}">Content Trees</span> <a class="btn btn-secondary float-right" th:href="@{/contenttrees/new}" th:text="#{btn_new}">New</a></h1>

      <div class="row">
        <div class="col-sm-12" >
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4">
            ...
          </div>
          <!--          <div class="objectCounter lighter">
                      <span class="message" th:text="${page.totalItems}">Found 17 books.</span>
                    </div>-->
        </div>
      </div>

      <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
        <thead>
          <tr sd:page-object="${page.page}">
            <th class="center" th:text="#{label}">Label</th>
            <th class="center" th:text="#{actions}">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="contenttree: ${page.content}">
            <td>
              <a th:href="@{'/contenttrees/' + ${contenttree.uuid}}" th:if="${contenttree.label}" th:text="${contenttree.label.getText(defaultLocale)}">bavarikon</a>
            </td>
            <td class="center">
              <a th:href="@{'/contenttrees/' + ${contenttree.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
              <a th:href="@{'/contenttrees/' + ${contenttree.uuid} + '/edit'}" th:title="#{tooltip_edit}"><span class="fas fa-pencil-alt actionButton"></span></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-sm-12" >
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4">
            ...
          </div>
        </div>
      </div>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modals :: confirmYesNoDialog"></div>
  </th:block>
</body>
</html>


