<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

    <th:block th:fragment="renderDates(datePresentation, navDateRange, timeValueRange)">
      <div th:if="${(datePresentation != null || navDateRange != null || timeValueRange != null)}">
        <span th:text="${datePresentation}">...</span>
        <span th:if="${navDateRange}">
            (<span th:with="df=#{date.format},date=${navDateRange.start}" th:text="${#temporals.format(date,df)}">01.01.2000</span>
            -
            <span th:with="df=#{date.format},date=${navDateRange.end}" th:text="${#temporals.format(date,df)}">01.01.2000</span>
            )</span>&nbsp;
        <th:block th:if="${(timeValueRange != null)}" th:insert="~{fragments/uniqueobject :: renderTimeValueRange(${timeValueRange})}">...</th:block>
      </div>
    </th:block>

    <th:block th:fragment="renderLocalDateRange(start, end)">
       <span th:if="${(start != null || end != null)}">
        (<span th:with="df=#{date.format},date=${start}" th:text="${#temporals.format(date,df)}">01.01.2000</span>
         -
         <span th:with="df=#{date.format},date=${end}" th:text="${#temporals.format(date,df)}">01.01.2000</span>
         )
       </span>
    </th:block>

    <th:block th:fragment="renderTimeValueRange(start, end)">
      <span th:if="${(start != null || end != null)}">
      [
      <span th:if="${start}" th:insert="~{:: renderTimeValue(${start})}">...</span>
      -
      <span th:if="${end}" th:insert="~{:: renderTimeValue(${end})}">...</span>
      ]
      </span>
    </th:block>

    <th:block th:fragment="renderTimeValue(timeValue)">
      <span th:switch="${timeValue.precision}" th:with="bc=${timeValue.year<0},year=${#strings.toString(timeValue.year)}">
        <span th:case="0" th:text="'*'"></span>
        <th:block th:case="6">
          <span th:if="${bc}" th:text="#{timevalue.format.millennium.bc(${#strings.substring(year,1,2)})}"></span>
          <span th:unless="${bc}" th:text="#{timevalue.format.millennium(${#strings.substring(year,0,1)})}"></span>
        </th:block>
        <th:block th:case="7">
          <span th:if="${bc}" th:text="#{timevalue.format.century.bc(${#strings.substring(year,1,3)})}"></span>
          <span th:unless="${bc}" th:text="#{timevalue.format.century(${#strings.substring(year,0,2)})}"></span>
        </th:block>
        <th:block th:case="8">
          <span th:if="${bc}" th:text="#{timevalue.format.decade.bc(${#strings.substring(year,1,4)})}"></span>
          <span th:unless="${bc}" th:text="#{timevalue.format.decade(${#strings.substring(year,0,3)})}"></span>
        </th:block>
        <th:block th:case="9">
          <span th:if="${bc}" th:text="#{timevalue.format.year.bc(${#strings.replace(year,'-','')})}"></span>
          <span th:unless="${bc}" th:text="#{timevalue.format.year(${year})}"></span>
        </th:block>
        <th:block th:case="10">
          <span th:if="${bc}" th:text="#{timevalue.format.month.bc(${#strings.replace(year,'-','')},${timeValue.month})}"></span>
          <span th:unless="${bc}" th:text="#{timevalue.format.month(${year},${timeValue.month})}"></span>
        </th:block>
        <th:block th:case="11">
          <span th:if="${bc}" th:text="#{timevalue.format.day.bc(${#strings.replace(year,'-','')},${timeValue.month},${timeValue.day})}"></span>
          <span th:unless="${bc}" th:text="#{timevalue.format.day(${year},${timeValue.month},${timeValue.day})}"></span>
        </th:block>
        <span th:case="*" th:text="${timeValue}"></span>
      </span>
    </th:block>
  </body>
</html>