<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

  <th:block th:fragment="renderIdentifiers(identifiable, hasRefId)">
    <section class="mb-3 rows-striped">
      <div class="row mb-1">
        <div class="col-md-3"><label class="font-weight-bold mb-0" th:text="#{id}">ID</label></div>
        <div class="col-md-9"><span th:text="${identifiable.uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
      </div>
      <div class="row mb-1" th:if="${hasRefId}">
        <div class="col-md-3"><label class="font-weight-bold mb-0" th:text="#{ref_id}">Reference id</label></div>
        <div class="col-md-9"><span th:text="${identifiable.refId}">42</span></div>
      </div>
      <div class="row mb-1">
        <div class="col-md-3"><label class="font-weight-bold mb-0" th:text="#{identifiers}">...</label></div>
        <div class="col-md-9" id="identifiers-list"></div>
      </div>
    </section>
  </th:block>

  <th:block th:fragment="renderLocalizedTeaser(identifiable, languages, hasLongText)">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" th:each="language,iter : ${languages}">
        <a
          class="language-switcher nav-link"
          data-toggle="tab"
          role="tab"
          th:classappend="${iter.index} == 0 ? active"
          th:href="${'#' + language}"
          th:text="${#strings.isEmpty(languageToDisplay)} ? #{language_not_specified} : ${languageToDisplay}"
          th:with="languageToDisplay=${language.getDisplayName(#locale)}"
        >
          language
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div th:each="language,iter : ${languages}" th:id="${language}" class="tab-pane" th:classappend="${iter.index} == 0 ? active">
        <div class="card">
          <div class="card-body bg-light">
            <th:block th:insert="::renderTeaser(${identifiable}, ${language})"></th:block>
          </div>
          <th:block th:if="${hasLongText} and ${identifiable.text?.containsKey(language)}">
            <div class="card-body long-text">
              <th:block th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(${identifiable.text}, ${language})"></th:block>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </th:block>

  <th:block th:fragment="renderTeaser(identifiable, language)">
    <div class="row">
      <div class="col-sm-2">
        <th:block th:insert="cudami/fragments/previewimage-to-html::renderImage(${identifiable.previewImage}, ${identifiable.previewImageRenderingHints}, ${language}, 100)"></th:block>
      </div>
      <div class="col-sm-10">
        <label class="font-weight-bold">
          <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${identifiable.label}, ${language})"></th:block>
        </label>
        <th:block th:if="${identifiable.description?.containsKey(language)}">
          <div th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(${identifiable.description}, ${language})"></div>
        </th:block>
      </div>
    </div>
    <div class="row" th:if="${identifiable.localizedUrlAliases}">
      <div class="col-sm-12">
        <div th:id="${'list-of-url-aliases-' + language}"></div>
        <script th:src="@{/js/url-aliases-list.bundle.js}"></script>
        <script th:inline="javascript">
          UrlAliasesList({
            id: /*[[${'list-of-url-aliases-' + language}]]*/,
            uiLocale: /*[[${#locale.language}]]*/,
            urlAliases: /*[[${identifiable.localizedUrlAliases.get(language)}]]*/,
          });
        </script>
      </div>
    </div>

  </th:block>

  </body>
</html>
