<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

    <!-- see https://tiptap.dev/guide/menus#buttons -->
    <!-- see https://tiptap.dev/api/marks -->

  <th:block th:fragment="editor-menu">
    <div id="editorMenu" class="editorMenu border-1 p-1">
      <div class="btn-group" role="group" aria-label="...">
        <div class="dropdown open">
          <button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" data-toggle="dropdown" data-original-title="" title="" aria-expanded="true">Paragraph <b class="caret"></b></button>
          <ul class="dropdown-menu">
            <li><a href="#" tabindex="-1" data-action="formatblock" data-value="h1"><h1>Header H1</h1></a></li>
            <li><a href="#" tabindex="-1" data-action="formatblock" data-value="h2"><h2>Header H2</h2></a></li>
            <li><a href="#" tabindex="-1" data-action="formatblock" data-value="h3"><h3>Header H3</h3></a></li>
            <li><a href="#" tabindex="-1" data-action="formatblock" data-value="h4"><h4>Header H4</h4></a></li>
            <li><a href="#" tabindex="-1" data-action="formatblock" data-value="h5"><h5>Header H5</h5></a></li>
            <li><a href="#" tabindex="-1" data-action="formatblock" data-value="h6"><h6>Header H6</h6></a></li>
            <li class="active"><a href="#" tabindex="-1" data-action="formatblock" data-value="p"><p>Paragraph</p></a></li>
            <li><a href="#" tabindex="-1" data-action="formatblock" data-value="blockquote"><blockquote>Blockquote</blockquote></a></li>
            <li><a href="#" tabindex="-1" data-action="formatblock" data-value="pre"><pre>Preformatted</pre></a></li>
            <li><a href="#" tabindex="-1" data-action="formatblock" data-value="div"><div>Div block</div></a></li>
          </ul>
        </div>
      </div>
      &nbsp;
      <div class="btn-group" role="group" aria-label="...">
        <button id="btnBold" type="button" class="btn btn-default" tabindex="-1" title="Bold"
                data-value="bold" onclick="editor.chain().focus().toggleBold().run()"><span class="fa fa-bold"></span></button>
        <button type="button" class="btn btn-default" tabindex="-1" title="Italic"
                data-value="italic" onclick="editor.chain().focus().toggleItalic().run()"><span class="fa fa-italic"></span></button>
        <button type="button" class="btn btn-default" tabindex="-1" title="Underline"
                data-value="underline" onclick="editor.chain().focus().toggleUnderline().run()"><span class="fa fa-underline"></span></button>
        <button type="button" class="btn btn-default" tabindex="-1" data-action="text"
                data-value="strike" data-original-title="" title="" onclick="editor.chain().focus().toggleStrike().run()"><span class="fa fa-strikethrough"></span></button>
        <button type="button" class="btn btn-default" tabindex="-1" data-action="text"
                data-value="subscript" data-original-title="" title=""><span class="fa fa-subscript"></span></button>
        <button type="button" class="btn btn-default" tabindex="-1" data-action="text"
                data-value="superscript" data-original-title="" title=""><span class="fa fa-superscript"></span></button>
      </div>
      &nbsp;
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" tabindex="-1" data-action="lists" data-value="bulletList" data-original-title="" title=""
                onclick="editor.chain().focus().toggleBulletList().run()"><span class="fa fa-list-ul"></span></button>

        <button type="button" class="btn btn-default" tabindex="-1" data-action="lists" data-value="orderedList" data-original-title="" title=""
                onclick="editor.chain().focus().toggleOrderedList().run()"><span class="fa fa-list-ol"></span></button>
        <button type="button" class="btn btn-default" tabindex="-1" data-action="lists" data-value="indent" data-original-title="" title=""><span class="fa fa-indent"></span></button>
        <button type="button" class="btn btn-default" tabindex="-1" data-action="lists" data-value="outdent" data-original-title="" title=""><span class="fa fa-outdent"></span></button>
      </div>
      &nbsp;
      <div class="btn-group" role="group" aria-label="...">
        <!--<button type="button" class="btn btn-default" tabindex="-1" data-action="insert" data-value="emoji" data-original-title="" title=""><span class="fa fa-smile fa-smile-o"></span></button>-->
        <button type="button" class="btn btn-default" tabindex="-1" data-action="insert" data-value="link" data-original-title="" title=""><span class="fa fa-link"></span></button>
        <button type="button" class="btn btn-default" tabindex="-1" data-action="insert" data-value="image" data-original-title="" title="" data-toggle="modal" data-target="#insertImageModal"><span class="fa fa-image"></span></button>
        <button type="button" class="btn btn-default" tabindex="-1" data-action="insert" data-value="video" data-original-title="" title=""><span class="fa fa-video-camera fa-video"></span></button>
        <!--<button type="button" class="btn btn-default" tabindex="-1" data-action="insert" data-value="symbol" data-original-title="" title=""><span class="fa fa-hashtag"></span></button>-->
      </div>
    </div>
  </th:block>

  <th:block th:fragment="editor-menu-short">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" tabindex="-1" title="Undo" disabled="true" data-value="undo"
              onclick="editor.chain().focus().undo().run()"><i class="fa fa-undo"></i></button>

      <button type="button" class="btn btn-default" tabindex="-1" title="Redo" disabled="true" data-value="redo"
              onclick="editor.chain().focus().redo().run()"><i class="fa fa-redo"></i></button>
    </div>
    &nbsp;
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" tabindex="-1" title="Bold" data-value="bold"
              onclick="editor.chain().focus().toggleBold().run()"><span class="fa fa-bold"></span></button>

      <button type="button" class="btn btn-default" tabindex="-1" title="Italic" data-value="italic"
              onclick="editor.chain().focus().toggleItalic().run()"><span class="fa fa-italic"></span></button>

      <button type="button" class="btn btn-default" tabindex="-1" title="Underline" data-value="underline"
              onclick="editor.chain().focus().toggleUnderline().run()"><span class="fa fa-underline"></span></button>

      <button type="button" class="btn btn-default" tabindex="-1" title="Strike" data-value="strike"
              onclick="editor.chain().focus().toggleStrike().run()"><span class="fa fa-strikethrough"></span></button>

      <button type="button" class="btn btn-default" tabindex="-1" title="Subscript" data-value="subscript"
              onclick="editor.chain().focus().toggleSubscript().run()"><span class="fa fa-subscript"></span></button>

      <button type="button" class="btn btn-default" tabindex="-1" title="Superscript" data-value="superscript"
              onclick="editor.chain().focus().toggleSuperscript().run()"><span class="fa fa-superscript"></span></button>

      <button type="button" class="btn btn-default" tabindex="-1" title="Link" data-value="link"
              data-target="#dialog-link" data-toggle="modal"><span class="fa fa-link"></span></button>
      <!--        <button type="button" class="btn btn-default" tabindex="-1" title="Link" data-value="link"
                      onclick="editor.chain().focus().setLink({href: 'http://www.google.de/'}).run()"><span class="fa fa-link"></span></button>-->
    </div>
  </th:block>

  <th:block th:fragment="modal-dialog-editor-link">
    <div class="modal fade" id="dialog-link">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- TODO: title depending on add/edit link -->
            <h4 class="modal-title">Add Link</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="">
            <div class="modal-body">
              <div class="form-group">
                <label for="link-url-input">URL</label>
                <input id="link-url-input" name="url" pattern="^(https?://|mailto:|/|#).*$" required="" type="text" class="form-control" value="">
              </div>
              <div class="form-group">
                <label for="link-title-input">Tooltip</label>
                <input id="link-title-input" name="title" type="text" class="form-control" value="">
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{btn.cancel}">Cancel</button>
              <a class="btn btn-primary" id="confirm" th:text="#{btn.add}">Add</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $("#dialog-link").on('click', '.btn-primary', function () {
        let linkUrl = $("#dialog-link input[name='url']").val();
        let linkTitle = $("#dialog-link input[name='title']").val();
        /*
         * let attrs={ title: 'mylink', href:'google.com' }
         let schema=view.state.schema
         let node=schema.text(attrs.title, [schema.marks.link.create(attrs)])
         view.dispatch(view.state.tr.replaceSelectionWith(node, false))
         */
        if (linkTitle) {
          editor.chain().focus().extendMarkRange("link").setLink({href: linkUrl, title: linkTitle}).run();
        } else {
          editor.chain().focus().extendMarkRange("link").setLink({href: linkUrl}).run();
        }
        $('#dialog-link').modal('hide');
      });
    </script>
  </th:block>
</body>
</html>
