<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

  <th:block th:fragment="renderFields(uniqueObject)">
    <div class="row">
      <div class="col-md-3"><label th:text="#{id}">ID</label></div>
      <div class="col-md-9"><span th:text="${uniqueObject.uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>
          <span class="mr-1" th:text="#{created}"></span>
          /
          <span class="ml-1" th:text="#{last_modified}"></span>
        </label>
      </div>
      <div class="col-md-9">
        <span class="mr-2" th:with="df=#{dateTime.format},dateTime=${uniqueObject.created}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
        /
        <span class="ml-2" th:with="df=#{dateTime.format},dateTime=${uniqueObject.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
      </div>
    </div>
  </th:block>

  <th:block th:fragment="renderDates(uniqueObject)">
    <section class="mb-3 rows-striped">
      <div class="row">
        <div class="col-md-3 mb-1">
          <label>
            <span class="mr-1" th:text="#{created}"></span>
            /
            <span class="ml-1" th:text="#{last_modified}"></span>
          </label>
        </div>
        <div class="col-md-9 mb-1">
          <span class="mr-2" th:with="df=#{dateTime.format},dateTime=${uniqueObject.created}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
          /
          <span class="ml-2" th:with="df=#{dateTime.format},dateTime=${uniqueObject.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
        </div>
      </div>
    </section>
  </th:block>
</body>
</html>
