<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

  <th:block th:fragment="renderFields(uniqueObject)">
    <div class="row">
      <div class="col-md-3"><label th:text="#{id}">ID</label></div>
      <div class="col-md-9"><span th:text="${uniqueObject.uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>
          <span class="mr-1" th:text="#{created}"></span>
          /
          <span class="ml-1" th:text="#{last_modified}"></span>
        </label>
      </div>
      <div class="col-md-9">
        <span class="mr-2" th:with="df=#{dateTime.format},dateTime=${uniqueObject.created}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
        /
        <span class="ml-2" th:with="df=#{dateTime.format},dateTime=${uniqueObject.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
      </div>
    </div>
  </th:block>

  <th:block th:fragment="renderDates(uniqueObject)">
    <section class="mb-3 rows-striped">
      <div class="row">
        <div class="col-md-3 mb-1">
          <label>
            <span class="mr-1" th:text="#{created}"></span>
            /
            <span class="ml-1" th:text="#{last_modified}"></span>
          </label>
        </div>
        <div class="col-md-9 mb-1">
          <span class="mr-2" th:with="df=#{dateTime.format},dateTime=${uniqueObject.created}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
          /
          <span class="ml-2" th:with="df=#{dateTime.format},dateTime=${uniqueObject.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
        </div>
      </div>
    </section>
  </th:block>

  <th:block th:fragment="renderTimeValueRange(timeValueRange)">
    [
    <span th:if="${timeValueRange.start}" th:insert="~{:: renderTimeValue(${timeValueRange.start})}">...</span>
    -
    <span th:if="${timeValueRange.end}" th:insert="~{:: renderTimeValue(${timeValueRange.end})}">...</span>
    ]
  </th:block>

  <th:block th:fragment="renderTimeValue(timeValue)">
    <span th:switch="${timeValue.precision}" th:with="year=${#strings.toString(timeValue.year)}">
      <span th:case="0" th:text="'*'"></span>
      <span th:case="6" th:text="#{timevalue.format.millennium(${#strings.substring(year,0,1)})}"></span>
      <span th:case="7" th:text="#{timevalue.format.century(${#strings.substring(year,0,2)})}"></span>
      <span th:case="8" th:text="#{timevalue.format.decade(${#strings.substring(year,0,3)})}"></span>
      <span th:case="9" th:text="${year}"></span>
      <span th:case="10" th:text="#{timevalue.format.month(${year},${timeValue.month})}"></span>
      <span th:case="11" th:text="#{timevalue.format.day(${year},${timeValue.month},${timeValue.day})}"></span>
      <span th:case="*" th:text="${timeValue}"></span>
    </span>
  </th:block>

</body>
</html>
