<!doctype html>
<html lang="de"
      class="text-xl antialiased"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Website Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/font-awesome-5.15.4-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta name="robots" content="noindex, follow">
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
        <div class="p-4 pt-3">
          <div class="text-center">
            <div th:if="${website.previewImage}">
              <a th:href="@{/}" class="logo"><img th:src="${website.previewImage.httpBaseUrl} + '/full/200,/0/default.jpg'" /></a>
            </div>

            <a th:href="@{/}" class="text-white fs-4" th:text="${website.label.getText()}">Website label</a>
          </div>

          <ul class="list-unstyled components mb-5" th:if="${not #lists.isEmpty(rootWebpages)}" th:with="currentLevel=0,maxLevel=${navMaxLevel}">
            <li th:each="wp : ${rootWebpages}">
            <th:block th:insert="fragments/navigation :: renderWebpageNavigationTree(${wp},${currentLevel},${maxLevel})"></th:block>
            </li>
          </ul>

          <div class="footer">
            <p>
              Design by<br/>
              <a href="https://colorlib.com" target="_blank">Colorlib.com</a> - <a href="https://creativecommons.org/licenses/by/3.0" target="_blank">CC BY 3.0</a>
            </p>
          </div>
        </div>
      </nav>

      <div id="content" class="p-4 p-md-5 pt-5">
        <th:block layout:fragment="content">
          ...
        </th:block>

        <th:block th:if="${footerWebpages}">
          <footer>
            <span th:each="wp : ${footerWebpages}" class="m-1">
              <a th:utext="${wp.label.getText(locale)}" th:href="@{/p/__${wp.uuid}__}">webpage label</a>
            </span>
          </footer>
        </th:block>
      </div>
    </div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap-4.3.1.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
  </body>
</html>