<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorator="base">

  <head>
    <title th:if="${isNew}" th:text="|#{title_usermanagement}: #{create_user}|">User-Management: Create a new user</title>
    <title th:unless="${isNew}" th:text="|#{title_usermanagement}: #{edit_user(${user.email})}|">User-Management: Edit user admin@unknown.org</title>
  </head>
  <body>
    <section layout:fragment="content">

      <div class="row mainContent">
        <form th:object="${user}" th:action="@{#}" method="post" role="form" class="form-horizontal">
          <div th:replace="fragments/feedback-messages :: form"></div>

          <div id="sidebar" class="col-sm-3">
            <button class="btn btn-primary btn-block" type="submit" th:text="save">save</button>
          </div>

          <div class="col-sm-9">
            <div th:if="*{id}" class="row">
              <div class="col-sm-3"><label class="pull-right" th:text="#{id}">ID</label></div>
              <div class="col-sm-9"><span th:text="*{id}">23</span></div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-3 control-label" th:text="#{username}">Username / Email</label>
              <div class="col-sm-9" th:classappend="${#fields.hasErrors('email')}? has-error">
                <input id="email" th:field="*{email}" type="text" class="form-control" th:placeholder="#{username}" autofocus="autofocus"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">...</p>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-3 control-label" th:text="|#{lastname}, #{firstname}">Lastname, Firstname</label>

              <div class="col-sm-5" th:classappend="${#fields.hasErrors('lastname')}? has-error">
                <input id="name" th:field="*{lastname}" type="text" class="form-control" th:placeholder="#{lastname}"/>
                <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">...</p>
              </div>
              <div class="col-sm-4" th:classappend="${#fields.hasErrors('firstname')}? has-error">
                <input th:field="*{firstname}" type="text" class="form-control" th:placeholder="#{firstname}"/>
                <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">...</p>
              </div>
            </div>

            <th:block th:unless="${createAdmin}">
              <div class="form-group">
                <label for="role" class="col-sm-3 control-label" th:text="#{roles}">Role(s)</label>

                <div class="col-sm-5 col-md-4" th:classappend="${#fields.hasErrors('roles')}? has-error">
                  <ul class="checkbox-list">
                    <li th:each="userRole : ${allRoles}">
                      <input type="checkbox" th:field="*{roles}" th:value="${userRole.id}" />
                      <label th:for="${#ids.prev('roles')}" 
                             th:text="${userRole.name}">Administrator</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3"><label class="control-label pull-right" th:text="#{status}">Status</label></div>
                <div class="col-sm-9">
                  <div class="checkbox" th:classappend="${#fields.hasErrors('enabled')}? has-error">
                    <label>
                      <input th:field="*{enabled}" type="checkbox"/> <th:block th:text="#{active}">active</th:block>
                    </label>
                  </div>
                </div>
              </div>

              <div class="alert alert-info">
                <p th:text="#{info_password_change}">If you want to change the user's password, fill the following two fields, please.</p>
              </div>
            </th:block>

            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>

            <div class="form-group">
              <label for="pwd1" class="col-sm-3 control-label" th:text="#{new_password}">New password</label>

              <div class="col-sm-5 col-md-4">
                <input id="pwd1" name="pwd1" type="password" class="form-control" autocomplete="off"/>
              </div>
            </div>
            <div class="form-group">
              <label for="pwd2" class="col-sm-3 control-label" th:text="#{verify_password}">Verify password</label>

              <div class="col-sm-5 col-md-4">
                <input id="pwd2" name="pwd2" type="password" class="form-control" autocomplete="off"/>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div th:replace="fragments/modals-confirmation :: confirmYesNoDialog"></div>
    </section>

  </body>

</html>