<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{webpages}: #{webpage_create}|">Webpages: Create a new webpage</title>
    <link rel=stylesheet th:href="@{/css/thirdparty/prosemirror.css}" />
  </head>
  <body>
    <section layout:fragment="content">
      <form id="editor-form" th:object="${webpage}" th:action="@{#}" method="post" role="form" th:attr="data-default-locale=${defaultLocale}">
        <input type="hidden" name="parentUuid" th:value="${parentUuid}" />
        <input type="hidden" id="label" th:field="*{label}" />
        <input type="hidden" id="description" class="content" th:field="*{description}" />
        <input type="hidden" id="text" class="content" th:field="*{text}" />

        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="#{webpage_create}">Create a new webpage</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <a class="btn btn-secondary" type="button" th:href="@{'/websites/' + ${parentUuid}}" th:if="${parentType} == 'website'" th:text="#{abort}">abort</a>
              <a class="btn btn-secondary" type="button" th:href="@{'/webpages/' + ${parentUuid}}" th:if="${parentType} == 'webpage'" th:text="#{abort}">abort</a>
              <button class="btn btn-primary" type="submit" th:text="#{save}">save</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>

        <div class="row">
          <div th:replace="fragments/feedback-messages :: form-bootstrap4"></div>

          <div class="col-sm-12">
            <ul class="nav nav-tabs" id="locale-tabs" role="tablist">
              <li  class="nav-item locale-switcher">
                <a  class="nav-link active" href="#" th:attr="data-locale=${defaultLocale}" th:text="${defaultLocale.getDisplayName(#locale)}" role="tab">default locale</a>
              </li>
              <li class="nav-item" id="locale-adder">
                <a class="nav-link" href="#" role="tab">
                  <i class="fas fa-plus" aria-hidden="true"></i>
                </a>
              </li>
            </ul>

            <div class="tab-content">
              <div  class="tab-pane active">
                <div class="card">
                  <div class="card-body bg-light">
                    <div class="form-group">
                      <label th:text="#{label}">label</label>
                      <input class="form-control label-editor" type="text"/>
                    </div>

                    <div class="form-group">
                      <label th:text="#{description}">description</label>
                      <div class="editor" th:attr="data-content-id='description'"></div>
                    </div>
                  </div>

                  <div class="card-body">
                    <div class="form-group">
                      <label th:text="#{document}">long text</label>
                      <div class="editor" th:attr="data-content-id='text'"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <script th:src="@{/js/thirdparty/prosemirror.js}"></script>
    <script th:src="@{/js/prosemirror-basic.js}"></script>
    <div th:replace="fragments/modals :: addLanguageDialog"></div>
    <div th:replace="fragments/modals-confirmation :: confirmYesNoDialog-bootstrap4"></div>
    <div th:replace="fragments/modals :: formValidationDialog"></div>
  </th:block>
</body>

</html>