<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:if="${isNew}" th:text="|#{webpages}: #{create_webpage}|">Webpages: Create a new webpage</title>
    <title th:unless="${isNew}" th:text="|#{webpages}: #{edit_webpage}|">Webpages: Edit webpage Webpage</title>
    <link rel=stylesheet th:href="@{/css/thirdparty/prosemirror.css}" />
  </head>
  <body>
    <section layout:fragment="content">
      <form th:object="${webpage}" th:action="@{#}" method="post" role="form">
        <input type="hidden" name="websiteUuid" th:value="${websiteUuid}" />
        <div class="row mainContent">
          <div th:replace="fragments/feedback-messages :: form"></div>

          <div class="col-sm-8">
            <b th:if="${isNew}" th:text="#{create_webpage}">...</b>
            <b th:unless="${isNew}" th:text="#{edit_webpage}">...</b>
          </div>
          <div class="col-sm-4 col-sm-offset-8">
            <span class="col-sm-6">
              <a th:if="${isNew}" class="btn btn-default btn-block" type="button" th:href="@{'/websites/' + ${websiteUuid}}" th:text="#{abort}">abort</a>
              <a th:unless="${isNew}" class="btn btn-default btn-block" type="button" th:href="@{'/webpages/' + *{uuid}}" th:text="#{abort}">abort</a>
            </span>
            <span class="col-sm-6">
              <button class="btn btn-primary btn-block" type="submit" th:text="#{save}">
                save
              </button>
            </span>
          </div>
        </div>

        <div class="row mainContent">
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>

        <div class="row mainContent">
          <div class="form-group col-sm-2">
            <label for="id" class="control-label" th:text="#{id}">ID</label>
            <input id="id" th:field="*{uuid}" type="text" class="form-control" readonly="readonly" th:placeholder="*{uuid}"/>
          </div>
        </div>

        <div class="well">
          <ul class="nav nav-tabs">
            <th:block th:if="${isNew}">
              <li class="active">
                <a th:href="${'#' + defaultLocale}" data-toggle="tab" th:text="${defaultLocale.getDisplayLanguage(#locale)}">default locale</a>
              </li>
            </th:block>
            <th:block th:unless="${isNew}">
              <li th:each="language,iter : ${availableLanguages}" th:classappend="${iter.index} == 0 ? active">
                <a th:href="${'#' + language}" data-toggle="tab" th:text="${defaultLocale.getDisplayLanguage(#locale)}">locale</a>
              </li>
            </th:block>
            <!--            <li>
                          <a href="#">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </a>
                        </li>-->
          </ul>

          <div class="tab-content">
            <th:block th:if="${isNew}">
              <div class="tab-pane active" th:id="${defaultLocale}">
                <label th:text="#{label}">label</label>
                <input class="form-control" type="text" th:field="*{label.translations[0].text}" required/>
                <!--                <label xxxth:text="#{description}">description</label>
                                <textarea class="form-control" rows="5" xxxth:field="*{description.translations[0].text}"></textarea>-->
                <label th:text="#{description}">description</label>
                <div id="editor" class="editor" style="margin-bottom: 23px"></div>
                <input id="content" class="form-control" type="hidden" cols="70" rows="10" th:field="*{description.translations[0].text}" />
              </div>
            </th:block>
            <th:block th:unless="${isNew}">
              <div th:each="language,iter : ${availableLanguages}" class="tab-pane" th:id="${language}" th:classappend="${iter.index} == 0 ? active">
                <label th:text="#{label}">label</label>
                <input class="form-control" type="text" th:field="*{label.translations[__${iter.index}__].text}" required/>
                <!--                <label xxxth:text="#{description}">description</label>
                                <textarea class="form-control" rows="5" xxxth:field="*{description.translations[__${iter.index}__].text}"></textarea>-->
                <label th:text="#{description}">description</label>
                <div id="editor" class="editor" style="margin-bottom: 23px"></div>
                <input id="content" class="form-control" type="hidden" cols="70" rows="10" th:field="*{description.translations[__${iter.index}__].text}" />
              </div>
            </th:block>
          </div>

          <!--<th:block th:if="*{description != null}">
            <div class="row" th:each="translation, stat : *{description.translations}">
              <div class="col-md-12 col-lg-12">
                <label th:text="#{description}">Abstract</label>
                <div class="form-group form-horizontal"
                     th:classappend="${#fields.hasErrors('*{description}')} ? has-error">
                  <span th:text="${translation.lang}">de</span>
                  <input id="description" type="text" class="form-control" autofocus="autofocus"
                         th:field="*{description.translations[__${stat.index}__].text}"/>
                </div>
              </div>
            </div>
          </th:block>
          <th:block th:unless="*{description != null}">

          </th:block>-->

          <!--      <a href="#" onclick="alert(JSON.stringify(window.view.state.doc.toJSON()))">json</a>
                    see https://discuss.prosemirror.net/t/how-exactly-to-use-fromjson/927
                    <a href="#" onclick="alert(document.querySelector('#content').value)">content</a>-->
        </div>

      </form>

      <div th:replace="fragments/modals-confirmation :: confirmYesNoDialog"></div>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <script th:src="@{/js/thirdparty/prosemirror.js}"></script>
    <script th:src="@{/js/prosemirror-basic.js}"></script>
  </th:block>
</body>

</html>