<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="#{rendering_templates}">Rendering templates</title>
  </head>
  <body>
    <th:block layout:fragment="content">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-12">
              <div id="list"></div>
              <script th:src="@{/js/rendering-template-list.bundle.js}"></script>
              <script th:inline="javascript">
                RenderingTemplateList({
                  apiContextPath: /*[[@{/}]]*/ '',
                  existingLanguages: /*[[${existingLanguages}]]*/ [],
                  id: "list",
                  uiLocale: /*[[${#locale.language}]]*/ ''
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
