<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.rendering_templates}: #{lbl.rendering_template} &quot;${renderingTemplate.name}&quot;|">...</title>
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${renderingTemplate}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="|#{lbl.rendering_template} &quot;*{name}&quot;|">...</h1>
                <div>
                  <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">
            <!-- TODO it always contains "und" undefined language? -->
            <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
              <div class="language-selection">
                <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                <select th:replace="fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})">English</select>
              </div>
            </th:block>

            <th:block th:insert="fragments/uniqueobject::renderFields(${renderingTemplate})"></th:block>

            <hr />

            <div class="row">
              <div class="col-md-3 multilanguage"><label th:text="#{lbl.label}">Label</label></div>
              <div class="col-md-9">
                <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(*{label}, ${dataLanguage})"></th:block>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 multilanguage"><label th:text="#{lbl.description}">Abstract</label></div>
              <div class="col-md-9">
                <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(*{description}, ${dataLanguage})"></th:block>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.name}">Name</label></div>
              <div class="col-md-9"><span th:text="*{name}">cool template</span></div>
            </div>

          </div>
        </div>
      </div>
    </th:block>

    <section layout:fragment="beforeBodyEnds">
      <div th:replace="fragments/modals/confirm-yes-no :: confirm-yes-no-dialog"></div>

      <script type="text/javascript">
        $(addDataLanguageChangeHandler());
      </script>
    </section>
  </body>

</html>