<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>

  <th:block th:fragment="renderFields(entity)" th:object="${entity}">
    <div class="row">
      <div class="col-md-3"><label th:text="#{lbl.ref_id}">Reference ID</label></div>
      <div class="col-md-9" th:text="*{refId}">4711</div>
    </div>
    <div class="row">
      <div class="col-md-3"><label th:text="#{lbl.custom_attributes}">CustomAttributes</label></div>
      <div class="col-md-9" th:if="${entity.customAttributes != null && !entity.customAttributes.isEmpty()}">
        <table class="table">
          <tr class="table-header">
            <th><span th:text="#{lbl.custom_attribute_key}">Key</span></th>
            <th><span th:text="#{lbl.custom_attribute_value}">Value</span></th>
          </tr>
          <th:block th:each="customAttribute : *{customAttributes}">
            <tr class="content">
              <td><th:block th:text="${customAttribute.key}"></th:block></td>
              <td><th:block th:text="${customAttribute.value}"></th:block></td>
            </tr>
          </th:block>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"><label th:text="#{lbl.nav_date}">Navigation date / temporal placement</label></div>
      <div class="col-md-9"><span th:with="df=#{date.format},date=*{navDate}" th:text="${#temporals.format(date,df)}">01.01.2000</span></div>
    </div>
    <div class="row">
      <div class="col-md-3 multilanguage"><label th:text="#{lbl.notes}">Notes</label></div>
      <div class="col-md-9">
        <ul class="list-group">
          <th:block th:each="localizedNote : *{notes}">
            <li class="list-group-item"><th:block th:insert="fragments/text::renderAllLocalizedStructuredContent(${localizedNote})"></th:block></li>
          </th:block>
        </ul>
      </div>
    </div>
  </th:block>

  <th:block th:fragment="renderNotes(notes)">
    <h2 th:text="#{notes}">Notes</h2>
    <th:block
      th:each="localizedNote,iter : ${notes}"
      th:insert="::renderLocalizedNote(localizedNote, idx)"
      th:with="idx=${iter.index}"
      ></th:block>
  </th:block>

  <th:block th:fragment="renderLocalizedNote(localizedNote, idx)">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" th:each="note,iter : ${localizedNote}">
        <a
          class="nav-link"
          data-toggle="tab"
          role="tab"
          th:classappend="${iter.index} == 0 ? active"
          th:href="${'#note-' + idx + '-' + note.key}"
          th:text="${#strings.isEmpty(languageToDisplay)} ? #{lbl.language_not_specified} : ${languageToDisplay}"
          th:with="languageToDisplay=${note.key.getDisplayName(#locale)}"
          >
          language
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div th:each="note,iter : ${localizedNote}" th:id="${'note-' + idx + '-' + note.key}" class="tab-pane" th:classappend="${iter.index} == 0 ? active">
        <div class="card">
          <div class="card-body">
            <th:block th:insert="cudami/fragments/structuredcontent::renderLocalizedStructuredContent(${localizedNote}, ${note.key})"></th:block>
          </div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block th:fragment="renderAgent(agent)">
    <th:block th:if="${(agent != null)}">
      <span th:switch="${agent.identifiableObjectType?.name()}">
        <a
            th:case="'CORPORATE_BODY'"
            th:href="@{/corporatebodies/__${agent.uuid}__}"
            th:text="${agent.label?.getText(defaultLanguage)} ?: ${agent.uuid}"
        >
          corporate body label
        </a>
        <a
            th:case="'PERSON'"
            th:href="@{/persons/{uuid}(uuid=${agent.uuid})}"
            th:text="${agent.label?.getText(defaultLanguage)} ?: ${agent.uuid}"
        >
          person label
        </a>
        <span th:case="*" th:text="${agent.label?.getText(defaultLanguage)} ?: ${agent.uuid}">agent label</span>
      </span>
    </th:block>
  </th:block>

  <th:block th:fragment="renderGeolocation(geolocation)">
    <th:block th:if="${(geolocation != null)}">
      <span th:switch="${geolocation.identifiableObjectType?.name()}">
        <a
            th:case="'GEOLOCATION'"
            th:href="@{/geolocations/{uuid}(uuid=${geolocation.uuid})}"
            th:text="${geolocation.label?.getText(defaultLanguage)} ?: ${geolocation.uuid}"
        >
          geolocation label
        </a>
        <a
            th:case="'GEO_LOCATION'"
            th:href="@{/geolocations/{uuid}(uuid=${geolocation.uuid})}"
            th:text="${geolocation.label?.getText(defaultLanguage)} ?: ${geolocation.uuid}"
        >
          geolocation label
        </a>
        <a
            th:case="'HUMAN_SETTLEMENT'"
            th:href="@{/geolocations/{uuid}(uuid=${geolocation.uuid})}"
            th:text="${geolocation.label?.getText(defaultLanguage)} ?: ${geolocation.uuid}"
        >
          human settlement label
        </a>
        <span th:case="*" th:text="${geolocation.label?.getText(defaultLanguage)} ?: ${geolocation.uuid}">geolocation label</span>
      </span>
    </th:block>
  </th:block>

  <th:block th:fragment="renderEvent(event)">
    <th:block th:if="${(event != null)}">
        <a
            th:href="@{/events/{uuid}(uuid=${event.uuid})}"
            th:text="${event.label?.getText(defaultLanguage)} ?: ${event.uuid}"
        >
          event label
        </a>
        <span th:case="*" th:text="${event.label?.getText(defaultLanguage)} ?: ${event.uuid}">event label</span>
      </span>
    </th:block>
  </th:block>

  <th:block th:fragment="renderEntity(entity)">
    <th:block th:if="${(entity != null)}">
      <span th:switch="${entity.identifiableObjectType?.name()}">
        <a
                th:case="'DIGITAL_OBJECT'"
                th:href="@{/digitalobjects/{uuid}(uuid=${entity.uuid})}"
                th:text="${entity.label?.getText(defaultLanguage)} ?: ${entity.uuid}"
        >
          digital object label
        </a>
        <a
                th:case="'ITEM'"
                th:href="@{/items/{uuid}(uuid=${entity.uuid})}"
                th:text="${entity.label?.getText(defaultLanguage)} ?: ${entity.uuid}"
        >
          item label
        </a>
        <a
                th:case="'MANIFESTATION'"
                th:href="@{/manifestations/{uuid}(uuid=${entity.uuid})}"
                th:text="${entity.label?.getText(defaultLanguage)} ?: ${entity.uuid}"
        >
          manifestation label
        </a>
        <a
                th:case="'WORK'"
                th:href="@{/works/{uuid}(uuid=${entity.uuid})}"
                th:text="${entity.label?.getText(defaultLanguage)} ?: ${entity.uuid}"
        >
          work label
        </a>
        <a
                th:case="'ITEM'"
                th:href="@{/items/{uuid}(uuid=${entity.uuid})}"
                th:text="${entity.label?.getText(defaultLanguage)} ?: ${entity.uuid}"
        >
          item label
        </a>
        <span th:case="*" th:text="${geolocation.label?.getText(defaultLanguage)} ?: ${geolocation.uuid}">geolocation label</span>
      </span>
    </th:block>
  </th:block>


  <th:block th:fragment="renderRelations(relations)">
    <div class="row">
      <div class="col-md-3"><label th:text="#{lbl.relations}">Relations</label></div>
      <div class="align-items-center col-md-9">
        <th:block th:each="relation, iterStat: ${relations}">
          <div>
            <span th:if="${relation != null && relation.subject != null}" th:with="subject=${relation.subject}" th:switch="${subject.identifiableObjectType.name.toUpperCase()}">
              <th:block th:case="'AGENT'" th:insert="~{::renderAgent(${subject})}"></th:block>
              <th:block th:case="'PERSON'" th:insert="~{::renderAgent(${subject})}"></th:block>
              <th:block th:case="'CORPORATE_BODY'" th:insert="~{::renderAgent(${subject})}"></th:block>
              <th:block th:case="'HUMAN_SETTLEMENT'" th:insert="~{::renderGeolocation(${subject})}"></th:block>
              <th:block th:case="'GEOLOCATION'" th:insert="~{::renderGeolocation(${subject})}"></th:block>
              <th:block th:case="'GEO_LOCATION'" th:insert="~{::renderGeolocation(${subject})}"></th:block>
              <th:block th:case="'EVENT'" th:insert="~{::renderEvent(${subject})}"></th:block>
              <th:block th:case="'DIGITAL_OBJECT'" th:insert="~{::renderEntity(${subject})}"></th:block>
              <th:block th:case="'ITEM'" th:insert="~{::renderEntity(${subject})}"></th:block>
              <th:block th:case="'MANIFESTATION'" th:insert="~{::renderEntity(${subject})}"></th:block>
              <th:block th:case="'WORK'" th:insert="~{::renderEntity(${subject})}"></th:block>
            </span>
            <span th:if="${relation != null && relation.subject==null}" class="error">NULL subject!</span>
            <span th:if="${relation == null}" class="error">NULL relation</span>
    &nbsp;
            <span th:if="${relation != null}" class="border border-dark p-2 badge badge-light mr-2">
              <a th:href="@{/predicates/{predicate}(predicate=${relation.predicate})}" th:text="${relation.predicate}">predicate</a>
            </span>
            <span th:if="${(relation != null) && (relation.additionalPredicates != null)}">
              <th:block  th:each="additionalPredicate: ${relation.additionalPredicates}">
                <span class="border border-dark p-2 badge badge-light mr-2" th:text="${additionalPredicate}"></span>
              </th:block>
            </span>
          </div>
        </th:block>
      </div>
    </div>
  </th:block>

</body>
</html>
