<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.users}: | + (${mode} == 'create' ? #{page.title.user.create} : #{page.title.user.edit(${user.email})})">Users: Create a new user / Edit user "admin@unknown.org"</title>
  </head>

  <body>
    <th:block layout:fragment="content">
      <div class="content">
        <div class="container-fluid">

          <form th:object="${user}" th:action="@{#}" method="post" role="form">
            <div id="content-header">
              <div class="row">
                <div class="col d-flex justify-content-between">
                  <h1 th:text="${mode} == 'create' ? #{page.title.user.create} : #{page.title.user.edit(*{email})}">Create a new user / Edit user "admin@unknown.org"</h1>
                  <div>
                    <button type="submit" class="btn btn-primary" th:text="#{save}">Save</button>
                  </div>
                </div>
              </div>
            </div>

            <div id="content-body" class="rows-striped">
              <div th:replace="~{fragments/feedback-messages :: form}"></div>

              <th:block th:if="${mode} == 'edit'">
                <th:block th:insert="~{fragments/uniqueobject::renderFields(${user})}"></th:block>
                <hr>
              </th:block>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group" th:classappend="${#fields.hasErrors('email')}? has-error">
                    <label for="email" class="required" th:text="#{lbl.username}">Username / Email</label>
                    <input id="email" type="text" class="form-control" autofocus="autofocus" required="" value=""
                           th:field="*{email}"
                           th:classappend="${#fields.hasErrors('email')}? 'is-invalid'">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">...</p>
                  </div>

                  <div class="form-row">
                    <div class="col">
                      <div class="form-group" th:classappend="${#fields.hasErrors('lastname')}? has-error">
                        <label for="lastname" class="required" th:text="#{lbl.lastname}">Lastname</label>
                        <input id="lastname" type="text" class="form-control" required="" value=""
                               th:field="*{lastname}"
                               th:classappend="${#fields.hasErrors('lastname')}? 'is-invalid'">
                        <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">...</p>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group" th:classappend="${#fields.hasErrors('firstname')}? has-error">
                        <label for="firstname" class="required" th:text="#{lbl.firstname}">Firstname</label>
                        <input id="firstname" type="text" class="form-control" required="" value=""
                               th:field="*{firstname}"
                               th:classappend="${#fields.hasErrors('firstname')}? 'is-invalid'">
                        <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">...</p>
                      </div>
                    </div>
                  </div>

                  <th:block th:unless="${createAdmin}">
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label th:text="#{lbl.roles}">Role(s)</label>
                          <ul class="list-group">
                            <li th:each="userRole : ${allRoles}" class="list-group-item">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="${userRole}" />
                                <label class="font-weight-bold form-check-label" th:for="${#ids.prev('roles')}" th:text="#{enum.userRoles.__${userRole}__}">Administrator</label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label th:text="#{lbl.status}">Status</label>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:field="*{enabled}" />
                            <label class="font-weight-bold form-check-label" th:text="#{active}">active</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th:block>

                  <div th:if="${mode} == 'edit'" class="alert alert-info" th:text="#{alert.info.password_change}">
                    If you want to change the user's password, fill the following two fields, please.
                  </div>
                  
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="pwd1" th:classappend="${mode} == 'create'? 'required'"
                               th:text="#{lbl.new_password}">New password</label>
                        <input id="pwd1" name="pwd1" type="password" class="form-control" autocomplete="new-password" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="pwd2" th:classappend="${mode} == 'create'? 'required'"
                               th:text="#{lbl.verify_password}">Verify password</label>
                        <input id="pwd2" name="pwd2" type="password" class="form-control" autocomplete="new-password" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </th:block>
  </body>

</html>