<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.users}: #{page.title.user.edit(${user.email})}|">Users: Edit user "admin@unknown.org"</title>
  </head>

  <body>
    <th:block layout:fragment="content">
      <div class="content-header">
        <div class="container-fluid">

          <form th:object="${user}" th:action="@{#}" method="post" role="form">
            <div id="content-header">
              <div class="row">
                <div class="col d-flex justify-content-between">
                  <h1 th:text="${mode} == 'create' ? #{page.title.user.create} : #{page.title.user.edit(*{email})}">Create a new user / Edit user "admin@unknown.org"</h1>
                  <div>
                    <button type="submit" class="btn btn-primary" th:text="#{save}">Save</button>
                  </div>
                </div>
              </div>
            </div>

            <div id="content-body" class="rows-striped">
              <div th:replace="~{fragments/feedback-messages :: form}"></div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="alert alert-info" th:text="#{alert.info.own_password_change}">
                    If you want to change your password, fill the following two fields, please.
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="pwd1" class="required"
                           th:text="#{lbl.new_password}">New password</label>
                    <input id="pwd1" name="pwd1" type="password" class="form-control" autocomplete="new-password" required="">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="pwd2" class="required"
                           th:text="#{lbl.verify_password}">Verify password</label>
                    <input id="pwd2" name="pwd2" type="password" class="form-control" autocomplete="new-password" required="">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </th:block>
  </body>

</html>