<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.users}: #{lbl.user} &quot;${user.email}&quot;|">Users: User "admin@unknown.org"</title>
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${user}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="|#{lbl.user} &quot;*{email}&quot;|">User "email@email.de"</h1>
                <div>
                  <input
                         class="btn btn-danger user-status-toggle"
                         th:if="*{enabled}"
                         th:title="#{tooltip.deactivate_user}"
                         th:value="#{btn.deactivate_user}"
                         type="button"
                         data:enable="false"
                         data:message="#{msg.confirm_user_deactivation(*{email})}"
                         data:title="#{modal.title.warning}"
                         data-target="#confirmYesNoDialog"
                         data-toggle="modal" />
                  <input
                         class="btn btn-success user-status-toggle"
                         th:unless="*{enabled}"
                         th:title="#{tooltip.activate_user}"
                         th:value="#{btn.activate_user}"
                         type="button"
                         data:enable="true" />
                  <a
                     class="btn btn-primary ml-1"
                     th:href="@{*{uuid} + '/edit'}"
                     th:text="#{edit}">
                    edit
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">

            <th:block th:insert="~{fragments/uniqueobject::renderFields(${user})}"></th:block>

            <hr>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.username}">Username / Email</label></div>
              <div class="col-md-9"><span th:text="*{email}">email@email.de</span></div>
            </div>
            <div class="row">
              <div class="col-md-3"><label th:text="|#{lbl.lastname}, #{lbl.firstname}">Lastname, Firstname</label></div>
              <div class="col-md-9"><span th:text="*{lastname}">Lastname</span>, <span th:text="*{firstname}">Firstname</span></div>
            </div>
            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.roles}">Role(s)</label></div>
              <div class="col-md-9">
                <th:block th:each="role,rowStat : *{roles}"><span th:text="#{enum.userRoles.__${role}__}">Content-Manager</span><span th:unless="${rowStat.last}">, </span></th:block>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.status}">Status</label></div>
              <div class="col-md-9"><span th:text="#{${'tooltip.enabled.' + user.enabled}}">active</span></div>
            </div>
          </div>
        </div>
      </div>
    </th:block>

    <th:block layout:fragment="beforeBodyEnds">
      <div th:replace="~{fragments/modals/confirm-yes-no :: confirm-yes-no-dialog}"></div>
      <script th:inline="javascript">
        $(addUserStatusChangeHandler(/*[[@{/api/users/{uuid}(uuid=${user.uuid})}]]*/));
      </script>
    </th:block>
  </body>

</html>