<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:if="${isNew}" th:text="|#{websites}: #{create_website}|">Websites: Create a new website</title>
    <title th:unless="${isNew}" th:text="|#{websites}: #{edit_website(${website.url})}|">Websites: Edit website http://www.mywebsite.org/</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jqtree/tree.jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/jqtree/jqtree.css}"/>
    <link rel="stylesheet" th:href="@{/css/dzpadmin.css}"/>
  </head>
  <body>
    <section layout:fragment="content">
      <form th:object="${website}" th:action="@{#}" method="post" role="form" class="form-horizontal">
        <div class="row mainContent">
          <div th:replace="fragments/feedback-messages :: form"></div>

          <div class="col-sm-8">
            <b th:text="#{website}">Website</b> <!-- <b thxx:text="${website.title}"></b> --> TODO  (<a th:href="${website.url}"><span th:text="${website.url}"/></a>)
          </div>
          <div class="col-sm-4">
            <span class="col-sm-6">
              <button class="btn btn-default btn-block" type="button" th:text="#{abort}"
                      th:onclick="'javascript:document.location.href=getViewUrl(document.location.href);return false;'">
                abort
              </button>
            </span>
            <span class="col-sm-6">
              <button class="btn btn-primary btn-block" type="submit" th:text="#{save}">
                save
              </button>
            </span>
          </div>
        </div>

        <div class="row mainContent">
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>

        <div class="row mainContent">
          <div class="form-group col-sm-12">
            <span class="col-sm-2">
              <label for="id" class="col-sm-1 control-label" th:text="#{id}">ID</label>
              <div class="col-sm-9">
                <input id="id" th:field="*{uuid}" type="text" class="form-control" readonly="readonly" th:placeholder="*{id}"/>
              </div>
            </span>
            <span class="col-sm-5">
              <label for="url" class="col-sm-1 control-label" th:text="#{url}">URL</label>
              <div class="col-sm-11" th:classappend="${#fields.hasErrors('url')}? has-error">
                <input id="url" th:field="*{url}" type="text" class="form-control" th:placeholder="#{url_placeholder}" autofocus="autofocus" required/>
                <p th:if="${#fields.hasErrors('url')}" th:errors="*{url}">...</p>
              </div>
            </span>
            <!--<span class="col-sm-5">
              <label for="url" class="col-sm-3 control-label" thxx:text="#{title}">Title</label>
              <div class="col-sm-9" thxx:classappend="${#fields.hasErrors('title')}? has-error">
                <input id="url" thxx:field="*{title}" type="text" class="form-control" thxx:placeholder="#{websiteTitle_placeholder}"/>
                <p thxx:if="${#fields.hasErrors('title')}" thxx:errors="*{title}">...</p>
              </div>
            </span>-->
          </div>
        </div>

        <div class="well">
          <th:block th:if="${isNew}">
            <ul class="nav nav-tabs">
              <li class="active">
                <a th:href="${'#' + defaultLocale}" data-toggle="tab"
                   th:text="${defaultLocale.getDisplayLanguage(#locale)}">default locale</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" th:id="${defaultLocale}">
                <label th:text="#{label}">label</label>
                <input class="form-control" type="text" th:field="*{label.translations[0].text}" required/>
                <label th:text="#{description}">description</label>
                <textarea class="form-control" rows="5" th:field="*{description.translations[0].text}"></textarea>
              </div>
            </div>
          </th:block>
          <th:block th:unless="${isNew}">
            <ul class="nav nav-tabs">
              <li th:each="language,iter : ${availableLanguages}" th:classappend="${iter.index} == 0 ? active">
                <a th:href="${'#' + language}" data-toggle="tab"
                   th:text="${language}">locale</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div th:each="language,iter : ${availableLanguages}" class="tab-pane" th:id="${language}" th:classappend="${iter.index} == 0 ? active">
                <label th:text="#{label}">label</label>
                <input class="form-control" type="text" th:field="*{label.translations[__${iter.index}__].text}" required/>
                <label th:text="#{description}">description</label>
                <textarea class="form-control" rows="5" th:field="*{description.translations[__${iter.index}__].text}"></textarea>
              </div>
            </div>
          </th:block>
          <!--<th:block th:if="*{description != null}">
            <div class="row" th:each="translation, stat : *{description.translations}">
              <div class="col-md-12 col-lg-12">
                <label th:text="#{description}">Abstract</label>
                <div class="form-group form-horizontal"
                     th:classappend="${#fields.hasErrors('*{description}')} ? has-error">
                  <span th:text="${translation.lang}">de</span>
                  <input id="description" type="text" class="form-control" autofocus="autofocus"
                         th:field="*{description.translations[__${stat.index}__].text}"/>
                </div>
              </div>
            </div>
          </th:block>
          <th:block th:unless="*{description != null}">

          </th:block>-->
        </div>

        <div class="row mainContent">
          <div id="tree1" class="col-sm-12" data-url="sitemap/do?operation=get_nodes"></div>
        </div>
      </form>

      <div class="modal fade" id="addContentNodeModal" tabindex="-1" role="dialog" aria-labelledby="addContentNodeModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel" th:text="#{title_add_content}"></h4>
            </div>
            <form id="add-content-node-form">
              <div class="modal-body">
                <h3 th:text="#{select_content_type}"></h3>
                <select name="contentType">
                  <option th:each="selectType: ${contentNodeTypes}" th:value="${selectType.value}" th:text="${selectType.key}">what</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" value="submit" th:text="#{btn_ok}"></button>
                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{btn_abort}"></button>                 
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addStructureNodeModal" tabindex="-1" role="dialog" aria-labelledby="addStructureNodeModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel" th:text="#{title_add_navigation}"></h4>
            </div>
            <form id="add-item-form">
              <div class="modal-body">
                <h3 th:text="#{select_navigation_type}"></h3>
                <select name="contentType">
                  <option th:each="selectType: ${navigationNodeTypes}" th:value="${selectType.value}" th:text="${selectType.key}">what</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" value="submit" th:text="#{btn_ok}"></button>
                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{btn_abort}"></button>                 
              </div>
            </form>
          </div>
        </div>
      </div>
      <div th:replace="fragments/modals-confirmation :: confirmYesNoDialog"></div>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <script type="text/javascript" th:inline="javascript">
      var website_id = /*[[*{id}]]*/ 0;
      // <![CDATA[
      $('#tree1')
              .tree({
                dragAndDrop: true,
                autoOpen: true,
                autoEscape: false,
                onCanMoveTo: function (moved_node, target_node, position) {
                  // TODO: Ensure, that we can only use a menu (main navigation, footer navigation) as target_node
                  if (moved_node.type != target_node.type) {
                    return false;
                  }
                  return (position == 'before' || position == 'after');
                },
                onCreateLi: function (node, $li) {
                  if (node.viewable) {
                    $li.find('.jqtree-title').after('<span class="glyphicon glyphicon-eye-open viewnode" data-node-id="' + node.id + '" data-node-type="' + node.type + '"></span>');
                  }
                  if (node.parentid && node.editable) {
                    $li.find('.jqtree-title').after('<span class="glyphicon glyphicon-edit editnode" data-node-id="' + node.id + '" data-node-parentid="' + node.parentid + '" data-node-type="' + node.type + '"></span>');
                  }
                  if (node.deleteable === true && node.parentid) {
                    $li.find('.jqtree-title').after('<span class="glyphicon glyphicon-trash deletenode" data-node-id="' + node.id + '" data-node-parentid="' + node.parentid + '" data-node-type="' + node.type + '"></span>');
                  }
                  if (node.appendable === true) {
                    $li.find('.jqtree-title').after('<span class="glyphicon glyphicon-plus addnode" data-node-id="' + node.id + '" data-node-type="' + node.type + '"></span>');
                  }
                }
              })
              .on(
                      'click', '.viewnode',
                      function (e) {
                        var node_id = $(e.target).data('node-id');
                        document.location.href = '/records/' + node_id + '/view';
                      }
              ).on(
              'click', '.addnode',
              function (e) {
                var node_id = $(e.target).data('node-id');
                var node_type = $(e.target).data('node-type');
                var dialog_options = {
                  "backdrop": "static"
                }
                if (node_type === 'NavigationStructure') {
                  $('#addStructureNodeModal')
                          .modal(dialog_options)
                          .on('submit', function (e) {
                            e.preventDefault();
                            var contentType = $('#add-item-form').serialize();
                            document.location.href = '/nodes/' + node_id + '/new?' + contentType;
                          });
                } else {
                  $('#addContentNodeModal')
                          .modal(dialog_options)
                          .on('submit', function (e) {
                            e.preventDefault();
                            var contentType = $('#add-content-node-form').serialize();
                            if (contentType.split("=")[1] === 'WebPageContent') {
                              document.location.href = '/content/' + node_id + '/new';
                            } else {
                              document.location.href = '/nodes/' + node_id + '/new?' + contentType;
                            }
                          });
                }
              }
      ).on(
              'click', '.deletenode',
              function (e) {
                var node_id = $(e.target).data('node-id');
                var parent_node_id = $(e.target).data('node-parentid');
                var dialog_options = {
                  "backdrop": "static"
                }
                var dialog = $('#confirmYesNoDialog')
                dialog.find('.modal-body p').text('Do you want to delete this item?');
                dialog.find('.modal-title').text('Delete item');
                dialog
                        .modal(dialog_options)
                        .find('.modal-footer #confirm').on('click', function (e) {
                  e.preventDefault();
                  var delete_data = {
                    'node_uuid': node_id,
                    'parent_node_uuid': parent_node_id
                  }
                  $.ajax({
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    url: 'sitemap/do?operation=delete_node',
                    data: JSON.stringify(delete_data),
                    success: function (result) {
                      $('#confirmYesNoDialog').modal('hide');
                      $('#tree1').tree('reload');
                    }
                  });
                });
                dialog.modal('show');
              }
      ).on(
              'click', '.editnode',
              function (e) {
                var node_id = $(e.target).data('node-id');
                var node_type = $(e.target).data('node-type');
                if (node_type === 'WebpageContent') {
                  document.location.href = '/content/' + node_id + '/edit';
                } else {
                  document.location.href = '/nodes/' + node_id + '/edit';
                }
              }
      ).bind(
              'tree.move', function (event) {
                event.preventDefault();
                var move_data = {
                  'moved_node': event.move_info.moved_node.id,
                  'target_node': event.move_info.target_node.id,
                  'position': event.move_info.position
                }
                event.move_info.do_move();
                $.ajax({
                  type: "POST",
                  contentType: 'application/json; charset=utf-8',
                  dataType: 'json',
                  url: 'sitemap/do?operation=move_nodes',
                  data: JSON.stringify(move_data),
                  success: function (result) {
                    $('#tree1').tree('reload');
                  }
                });
              }
      );
      // ]]>
    </script>
  </th:block>
</body>

</html>