<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="#{websites}">Websites</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1><span th:text="#{websites}">Websites</span> <a class="btn btn-default pull-right" th:href="@{/websites/new}" th:text="#{btn_new}">New</a></h1>

      <div class="row">
        <div class="col-sm-12" >
          <div th:replace="fragments/pagination-navigation :: pagination">
            ...
          </div>
<!--          <div class="objectCounter lighter">
            <span class="message" th:text="${page.totalItems}">Found 17 books.</span>
          </div>-->
        </div>
      </div>
      
      <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
        <thead>
          <tr sd:page-object="${page.page}">
            <th class="center"><a class="sorted" sd:pagination-sort="url" th:text="#{url}">Url</a></th>
            <th class="center" th:text="#{registration_date}">Registration Date</th>
            <th class="center" th:text="#{action}">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="website: ${page.content}">
            <td><a th:href="@{'/websites/' + ${website.uuid}}" th:text="${website.url}">http://www.bavarikon.de/</a></td>          
            <td><a th:href="@{'/websites/' + ${website.uuid}}" th:text="${website.registrationDate}">23.01.1999</a></td>
            <td class="center">
              <a th:href="@{'/websites/' + ${website.uuid} + '/edit'}" th:title="#{tooltip_edit}"><span class="fa fa-pencil actionButton"></span></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-sm-12" >
          <div th:replace="fragments/pagination-navigation :: pagination">
            ...
          </div>
        </div>
      </div>
      
      <div th:replace="fragments/modals-confirmation :: confirmYesNoDialog"></div>
    </section>
  </body>
</html>


