/*#editor {
  max-height: 400px;
  overflow-y: auto;
}*/
.ProseMirror-menubar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
  min-height: 1em;
  color: #666;
  padding: 1px 6px;
  top: 0; left: 0; right: 0;
  border-bottom: 1px solid silver;
  background: white;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}
.center {
  text-align: center;
}
.alert {
  font-size: 14px;
  padding: 5px 15px;
}
h1 a.btn {
  float: right;
}
label, .control-label {
  font-size: inherit;
  font-weight: bold;
}
.navbar li a {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
table {
  font-size: 14px;
}
table .actionButton {
  padding: 2px 3px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
table .actionButton:hover {
  background-color: #c7f1ff;
}
.checkbox-list {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  list-style: none;
}
.has-error p {
  font-size: 10px;
  color:red;
}
.rows-striped .row:nth-child(odd) {
  background-color:#c7f1ff;
}
.rows-striped .row:nth-child(even) {
  background-color: white;
}

.main-content + .main-content {
  margin-top: 20px;
}