<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Stack Trace filters for better hashing and logging, see
        https://github.com/logstash/logstash-logback-encoder/blob/master/stack-hash.md -->
  <property name="STE_EXCLUSIONS" value=".*FastClassBy(Spring)?CGLIB.*,.*EnhancerBySpringCGLIB.*,^sun\.reflect\..*\.invoke,^com\.sun\.,^sun\.net\.,^net\.sf\.cglib\.proxy\.MethodProxy\.invoke,^org\.springframework\.cglib\.,^org\.springframework\.transaction\.,^org\.springframework\.validation\.,^org\.springframework\.app\.,^org\.springframework\.aop\.,^java\.lang\.reflect\.Method\.invoke,^org\.springframework\.ws\..*\.invoke,^org\.springframework\.ws\.transport\.,^org\.springframework\.ws\.soap\.saaj\.SaajSoapMessage\.,^org\.springframework\.ws\.client\.core\.WebServiceTemplate\.,^org\.springframework\.web\.filter\.,^org\.apache\.tomcat\.,^org\.apache\.catalina\.,^org\.apache\.coyote\.,^java\.util\.concurrent\.ThreadPoolExecutor\.runWorker,^java\.lang\.Thread\.run$,^jdk\.internal\.reflect\.,^java\.lang\.reflect\.,^net\.bull\.javamelody\.,^org\.springframework\.web\..*([iI]nvoke|[hH]andle|doDispatch|doService)"/>

  <!-- see https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html#_profile_specific_configuration -->
  <appender name="default" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp />
        <message />
        <loggerName>
          <shortenedLoggerNameLength>16</shortenedLoggerNameLength>
        </loggerName>
        <logLevel />

        <!-- Custom logging fields -->
        <logstashMarkers />
        <arguments />
        <tags />
        <mdc />

        <!-- Stack Trace handling -->
        <stackTrace>
          <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
            <maxDepthPerThrowable>8</maxDepthPerThrowable>
            <maxLength>4096</maxLength>
            <shortenedClassNameLength>16</shortenedClassNameLength>
            <exclusions>${STE_EXCLUSIONS}</exclusions>
            <rootCauseFirst>true</rootCauseFirst>
          </throwableConverter>
        </stackTrace>
        <stackHash>
          <exclusions>${STE_EXCLUSIONS}</exclusions>
        </stackHash>
      </providers>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="default" />
  </root>
</configuration>