<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{users}: #{user_create}|">Users: Create a new user</title>
  </head>
  <body>
    <section layout:fragment="content">

      <form th:object="${user}" th:action="@{#}" method="post" role="form">
        <div class="row">
          <div class="col-sm-6">
            <b th:text="#{user_create}">Create a new user</b>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <button class="btn btn-primary" type="submit" th:text="#{save}">save</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>

        <div class="row mainContent">
          <div th:replace="fragments/feedback-messages :: form"></div>

          <div  class="col-sm-12">
            <div class="form-group">
              <label for="email" th:text="#{username}">Username / Email</label>
              <div th:classappend="${#fields.hasErrors('email')}? has-error">
                <input id="email" th:field="*{email}" type="text" class="form-control" th:placeholder="#{username}" autofocus="autofocus"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">...</p>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="lastname" th:text="#{lastname}">Lastname</label>

                <div th:classappend="${#fields.hasErrors('lastname')}? has-error">
                  <input id="lastname" th:field="*{lastname}" type="text" class="form-control" th:placeholder="#{lastname}"/>
                  <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">...</p>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="firstname" th:text="#{firstname}">Firstname</label>

                <div th:classappend="${#fields.hasErrors('firstname')}? has-error">
                  <input id="firstname" th:field="*{firstname}" type="text" class="form-control" th:placeholder="#{firstname}"/>
                  <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">...</p>
                </div>
              </div>
            </div>

            <th:block th:unless="${createAdmin}">
              <div class="form-group">
                <label for="role" th:text="#{roles}">Role(s)</label>

                <div th:classappend="${#fields.hasErrors('roles')}? has-error">
                  <ul class="checkbox-list">
                    <li th:each="userRole : ${allRoles}">
                      <input type="checkbox" th:field="*{roles}" th:value="${userRole}" />
                      <label th:for="${#ids.prev('roles')}" 
                             th:text="${userRole}">Administrator</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label th:text="#{status}">Status</label>
                <div class="form-check" th:classappend="${#fields.hasErrors('enabled')}? has-error">
                  <label>
                    <input th:field="*{enabled}" type="checkbox"/> <th:block th:text="#{active}">active</th:block>
                  </label>
                </div>
              </div>

              <div class="alert alert-info">
                <p th:text="#{info_password_change}">If you want to change the user's password, fill the following two fields, please.</p>
              </div>
            </th:block>

            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="pwd1" th:text="#{new_password}">New password</label>
                <input id="pwd1" name="pwd1" type="password" class="form-control" autocomplete="off"/>
              </div>
              <div class="form-group col-md-6">
                <label for="pwd2" th:text="#{verify_password}">Verify password</label>
                <input id="pwd2" name="pwd2" type="password" class="form-control" autocomplete="off"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modals :: confirmYesNoDialog"></div>
  </th:block>
</body>

</html>