<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="#{digital_objects}">Digital Objects</title>
  </head>
  <body>
  <th:block layout:fragment="content">
    <div class="content-header">
      <div class="container-fluid">

        <div class="row">
          <div class="col">
            <h1 th:text="#{page.title.digital_objects}">Digital Objects</h1>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col">

            <div id="toolbar-digitalobjects">
              <!-- TODO it always contains "und" undefined language? -->
              <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
                <span th:text="#{lbl.itemlocale}">Show language dependent values in</span>&nbsp;
                <select name="locales" id="digitalobjects-locales">
                  <th:block th:each="locale : ${existingLanguages}">
                    <option th:value="${locale.language}" th:text="${locale.getDisplayLanguage(#locale)}" th:selected="${#strings.equals(locale.language, defaultLanguage)}">English</option>
                  </th:block>
                </select>
              </th:block>
            </div>
            <table id="table-digitalobjects"
                   data-toggle="table"
                   th:data-url="@{/api/digitalobjects}"
                   th:data-locale="${#locale}"
                   data-ajax-options="ajaxOptions"
                   data-cookie="true"
                   data-cookie-id-table="table-digitalobjects"
                   data-id-field="uuid"
                   data-pagination="true"
                   data-search="true"
                   data-server-sort="true"
                   data-show-search-clear-button="true"
                   data-side-pagination="server"
                   data-sort-name="lastModified"
                   data-sort-order="desc"
                   data-toolbar="#toolbar-digitalobjects"
                   data-unique-id="uuid">
              <thead>
                <tr>
                  <th data-field="index" data-formatter="formatRowNumber" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                  <th data-field="previewImage" data-formatter="formatPreviewImage" data-halign="center" data-align="center"><i class="fas fa-image"></i></th>
                  <th data-field="label" data-sortable="true" data-formatter="formatLabel" th:text="#{lbl.label}">Label</th>
                  <th data-field="identifiers" data-sortable="false" data-formatter="formatIdentifiers" th:text="#{identifiers}">Identifiers</th>
                  <th data-field="lastModified" data-sortable="true" data-formatter="renderDate" th:text="#{lbl.last_modified}">last modified</th>
                  <th data-field="created" data-sortable="true" data-formatter="renderDate" th:text="#{lbl.created}">created</th>
                  <th data-field="actions" data-formatter="formatActions" th:text="#{lbl.actions}">Actions</th>
                </tr>
              </thead>
            </table>

          </div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modals/confirm-yes-no :: confirm-yes-no-dialog"></div>

    <script type="text/javascript">
      const $table = $('#table-digitalobjects');

      window.ajaxOptions = {
        beforeSend: function (jqXHR, settings) {
          let itemLocale = $("#digitalobjects-locales").val();
          settings.url = settings.url + '&itemLocale=' + itemLocale;
        }
      };

      $(function () {
        $("#digitalobjects-locales").change(function () {
          $table.bootstrapTable('refresh');
        });
      });

      function formatRowNumber(value, row, index) {
        return renderRowNumber($table, index);
      }
    </script>

    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      function formatActions(value, row) {
        /*[+
         const baseUrl = [[@{'/digitalobjects'}]] + '/' + row.uuid;
         const itemType = [[#{lbl.digital_object.inline}]];
         +]*/
        const itemLocale = $("#digitalobjects-locales").val();
        const itemId = renderLocalizedText(row.label, itemLocale);
        return [
          renderViewAction(baseUrl),
        ].join(' ');
      }
      
      function formatIdentifiers(value, row) {
        let html = '';
        var arrayLength = value.length;
        for (let i = 0; i < arrayLength; i++) {
          let identifier = value[i];
          html = html + '<span title="' + identifier.namespace + '" class="border border-dark p-2 badge badge-light badge-pill mr-2">' + identifier.namespace + ':' + identifier.id + '</span>';
        }
        return html;
      }
      
      function formatLabel(value, row) {
        /*[+
         const baseUrl = [[@{'/digitalobjects'}]] + '/' + row.uuid;
         +]*/
        const itemLocale = $("#digitalobjects-locales").val();
        return renderLabel(baseUrl, value, itemLocale);
      }
      
      function formatPreviewImage(value, row) {
        /*[+
         const tooltipNoPreviewImage = [[#{tooltip.no_preview_image}]];
         +]*/
        let previewImage = row.previewImage;
        return renderPreviewImage(previewImage, tooltipNoPreviewImage);
      }
      /*]]>*/
    </script>
    <div th:replace="fragments/bootstrap-table :: data-formatter"></div>
  </th:block>
</body>
</html>
