<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{digital_objects}: #{digital_object}|">...</title>
  </head>
  <body>
    <section layout:fragment="content" th:object="${digitalObject}">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb hidden-xs-down">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/digitalobjects}" th:text="#{digital_objects}">...</a></li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h1 th:text="|#{digital_object}|">...</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="container-fluid rows-striped">
            <div class="row">
              <div class="col-md-3"><label class="font-weight-bold" th:text="#{id}">ID</label></div>
              <div class="col-md-9"><span th:text="*{uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
            </div>
            <div class="row">
              <div class="col-md-3"><label class="font-weight-bold" th:text="#{identifiers}">...</label></div>
              <div class="col-md-9">
                <ul class="list-inline">
                  <li class="list-inline-item" th:each="identifier: *{identifiers}" th:text="|${identifier.namespace}:${identifier.id}|">Namespace:ID</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-content">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body bg-light">
              <div th:replace="fragments/identifiable::renderTeaser(${digitalObject}, ${language})"></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row main-content">
        <div class="col-sm-6">
          <h2 th:text="#{collections}">Collections</h2>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">

          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr>
                <th class="text-right" th:text="#{abbr_number}">Nr.</th>
                <th></th>
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{last_modified}">last modified</th>
                <th class="center" th:text="#{actions}">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="collection, stats : ${collections}">
                <td class="text-right" th:text="${stats.index + 1}">1</td>
                <td class="center">
                  <th:block th:insert="cudami/fragments/previewimage-to-html::renderImage(${collection.previewImage}, ${collection.previewImageRenderingHints}, ${#locale}, 50)"></th:block>
                </td>
                <td>
                  <a th:href="@{'/collections/' + ${collection.uuid}}" th:if="${collection.label}" th:text="${collection.label.text}">Collection X</a>
                </td>
                <td>
                  <span class="float-right" th:with="df=#{dateTime.format},dateTime=${collection.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
                </td>
                <td class="center">
                  <a th:href="@{'/collections/' + ${collection.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row main-content">
        <div class="col-sm-6">
          <h2 th:text="#{digitization_projects}">Digitization Projects</h2>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">

          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr>
                <th class="text-right" th:text="#{abbr_number}">Nr.</th>
                <th></th>
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{last_modified}">last modified</th>
                <th class="center" th:text="#{actions}">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="project, stats : ${projects}">
                <td class="text-right" th:text="${stats.index + 1}">1</td>
                <td class="center">
                  <th:block th:insert="cudami/fragments/previewimage-to-html::renderImage(${project.previewImage}, ${project.previewImageRenderingHints}, ${#locale}, 50)"></th:block>
                </td>
                <td>
                  <a th:href="@{'/projects/' + ${project.uuid}}" th:if="${project.label}" th:text="${project.label.text}">Project X</a>
                </td>
                <td>
                  <span class="float-right" th:with="df=#{dateTime.format},dateTime=${project.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
                </td>
                <td class="center">
                  <a th:href="@{'/projects/' + ${project.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>