<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{digital_objects}: #{digital_object}|">...</title>
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${digitalObject}">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb hidden-xs-down">
              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
              <li class="breadcrumb-item"><a th:href="@{/digitalobjects}" th:text="#{digital_objects}">...</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 th:text="|#{digital_object}|">...</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="container-fluid rows-striped">
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{id}">ID</label></div>
                <div class="col-md-9"><span th:text="*{uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
              </div>
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{identifiers}">...</label></div>
                <div class="col-md-9" id="identifiers-list"></div>
              </div>
              <div class="row" th:if="*{item?.uuid}">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{item}">...</label></div>
                <div class="col-md-9"><a th:href="@{/items/{uuid}(uuid=*{item.uuid})}" th:text="*{item.uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</a></div>
              </div>
              <div class="row" th:if="*{parent?.uuid}">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{parent_digital_object}">...</label></div>
                <div class="col-md-9"><a th:href="@{/digitalobjects/{uuid}(uuid=*{parent.uuid})}" th:text="*{parent.uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</a></div>
              </div>
              <div class="row" th:if="*{numberOfBinaryResources}">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{number_of_binary_resources}">...</label></div>
                <div class="col-md-9"><span th:text="*{numberOfBinaryResources}">0</span></div>
              </div>
              <div class="row" th:if="*{license?.url} and *{license?.uuid}">
                <div class="col-md-3">
                  <label class="font-weight-bold" th:text="#{license}">...</label>
                </div>
                <div class="col-md-9">
                  <a class="mr-1" th:href="*{license.url}" th:if="*{license.url}" th:text="*{license.url}">...</a>
                  (<a th:href="@{/licenses/{uuid}(uuid=*{license.uuid})}" th:text="#{details}">...</a>)
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row main-content">
          <div class="col-sm-12">
            <th:block th:insert="fragments/identifiable::renderLocalizedTeaser(${digitalObject}, ${existingLanguages}, false)"></th:block>
          </div>
        </div>

        <div class="mt-3 row">
          <div class="col-sm-12">
            <div id="digitalobjects-list"></div>
          </div>
        </div>

        <div class="mt-3 row">
          <div class="col-sm-12">
            <div id="collections-list"></div>
          </div>
        </div>
        
        <div class="mt-3 row">
          <div class="col-sm-12">
            <div id="projects-list"></div>
          </div>
        </div>

      </div>
    </div>
  </th:block>
  <section layout:fragment="beforeBodyEnds">
    <script>
      addLanguageChangeHandler()
    </script>
    <script th:src="@{/js/identifiable-list.bundle.js}"></script>
    <script th:src="@{/js/identifier-list.bundle.js}"></script>
    <script th:inline="javascript">
      IdentifierList({
        apiContextPath: /*[[@{/}]]*/ '',
        id: "identifiers-list",
        identifiers: /*[[${digitalObject.identifiers}]]*/ []
      });
      IdentifiableList({
        apiContextPath: /*[[@{/}]]*/ '',
        existingLanguages: /*[[${existingContainedDigitalObjectLanguages}]]*/ [],
        id: "digitalobjects-list",
        parentType: "digitalObject",
        parentUuid: /*[[${digitalObject.uuid}]]*/ '',
        type: "digitalObject",
        uiLocale: /*[[${#locale.language}]]*/ ''
      });
      IdentifiableList({
        apiContextPath: /*[[@{/}]]*/ '',
        existingLanguages: /*[[${existingCollectionLanguages}]]*/ [],
        id: "collections-list",
        parentType: "digitalObject",
        parentUuid: /*[[${digitalObject.uuid}]]*/ '',
        type: "collection",
        uiLocale: /*[[${#locale.language}]]*/ ''
      });
      IdentifiableList({
        apiContextPath: /*[[@{/}]]*/ '',
        existingLanguages: /*[[${existingProjectLanguages}]]*/ [],
        id: "projects-list",
        parentType: "digitalObject",
        parentUuid: /*[[${digitalObject.uuid}]]*/ '',
        type: "project",
        uiLocale: /*[[${#locale.language}]]*/ ''
      });
    </script>
  </section>
</body>
</html>
