<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <link th:href="@{/css/floating-labels.css}" rel="stylesheet">
    <link th:href="@{/css/tiptap.css}" rel="stylesheet">
    <script async th:src="@{/webjars/es-module-shims/dist/es-module-shims.js}"></script>
    <script type="importmap">
      {
      "imports": {
      "@cudami/tiptap/extension-custom-bold": "/js/tiptap/extension-custom-bold.js",
      "@cudami/tiptap/extension-custom-bulletlist": "/js/tiptap/extension-custom-bulletlist.js",
      "@cudami/tiptap/extension-custom-hardbreak": "/js/tiptap/extension-custom-hardbreak.js",
      "@cudami/tiptap/extension-custom-italic": "/js/tiptap/extension-custom-italic.js",
      "@cudami/tiptap/extension-custom-listitem": "/js/tiptap/extension-custom-listitem.js",
      "@cudami/tiptap/extension-custom-orderedlist": "/js/tiptap/extension-custom-orderedlist.js",
      "@cudami/tiptap/extension-custom-strike": "/js/tiptap/extension-custom-strike.js",
      "@cudami/tiptap": "/js/tiptap/tiptap-customizations.js",
      "linkifyjs": "/webjars/linkifyjs/dist/linkify.es.js",
      "orderedmap": "/webjars/orderedmap/dist/index.js",
      "rope-sequence": "/webjars/rope-sequence/dist/index.es.js",
      "@tiptap/core": "/webjars/tiptap__core/dist/index.js",
      "@tiptap/extension-blockquote": "/webjars/tiptap__extension-blockquote/dist/index.js",
      "@tiptap/extension-code": "/webjars/tiptap__extension-code/dist/index.js",
      "@tiptap/extension-code-block": "/webjars/tiptap__extension-code-block/dist/index.js",
      "@tiptap/extension-document": "/webjars/tiptap__extension-document/dist/index.js",
      "@tiptap/extension-dropcursor": "/webjars/tiptap__extension-dropcursor/dist/index.js",
      "@tiptap/extension-gapcursor": "/webjars/tiptap__extension-gapcursor/dist/index.js",
      "@tiptap/extension-hard-break": "/webjars/tiptap__extension-hard-break/dist/index.js",
      "@tiptap/extension-heading": "/webjars/tiptap__extension-heading/dist/index.js",
      "@tiptap/extension-history": "/webjars/tiptap__extension-history/dist/index.js",
      "@tiptap/extension-horizontal-rule": "/webjars/tiptap__extension-horizontal-rule/dist/index.js",
      "@tiptap/extension-link": "/webjars/tiptap__extension-link/dist/index.js",
      "@tiptap/extension-list-item": "/webjars/tiptap__extension-list-item/dist/index.js",
      "@tiptap/extension-paragraph": "/webjars/tiptap__extension-paragraph/dist/index.js",
      "@tiptap/extension-subscript": "/webjars/tiptap__extension-subscript/dist/index.js",
      "@tiptap/extension-superscript": "/webjars/tiptap__extension-superscript/dist/index.js",
      "@tiptap/extension-text": "/webjars/tiptap__extension-text/dist/index.js",
      "@tiptap/extension-underline": "/webjars/tiptap__extension-underline/dist/index.js",
      "@tiptap/starter-kit": "/webjars/tiptap__starter-kit/dist/index.js",
      "@tiptap/pm/commands": "/webjars/prosemirror-commands/dist/index.js",
      "@tiptap/pm/dropcursor": "/webjars/prosemirror-dropcursor/dist/index.js",
      "@tiptap/pm/gapcursor": "/webjars/prosemirror-gapcursor/dist/index.js",
      "@tiptap/pm/history": "/webjars/prosemirror-history/dist/index.js",
      "prosemirror-keymap": "/webjars/prosemirror-keymap/dist/index.js",
      "@tiptap/pm/keymap": "/webjars/prosemirror-keymap/dist/index.js",
      "prosemirror-model": "/webjars/prosemirror-model/dist/index.js",
      "@tiptap/pm/model": "/webjars/prosemirror-model/dist/index.js",
      "@tiptap/pm/schema-list": "/webjars/prosemirror-schema-list/dist/index.js",
      "prosemirror-state": "/webjars/prosemirror-state/dist/index.js",
      "@tiptap/pm/state": "/webjars/prosemirror-state/dist/index.js",
      "prosemirror-transform": "/webjars/prosemirror-transform/dist/index.js",
      "@tiptap/pm/transform": "/webjars/prosemirror-transform/dist/index.js",
      "prosemirror-view": "/webjars/prosemirror-view/dist/index.js",
      "@tiptap/pm/view": "/webjars/prosemirror-view/dist/index.js",
      "w3c-keyname": "/webjars/w3c-keyname/index.es.js"
      }
      }
    </script>
    <!--
      "@tiptap/extension-bold": "/webjars/tiptap__extension-bold/dist/index.js",
      "@tiptap/extension-bullet-list": "/webjars/tiptap__extension-bullet-list/dist/index.js",
      "@tiptap/extension-italic": "/webjars/tiptap__extension-italic/dist/index.js",
      "@tiptap/extension-ordered-list": "/webjars/tiptap__extension-ordered-list/dist/index.js",
      "@tiptap/extension-strike": "/webjars/tiptap__extension-strike/dist/index.js",
      "@tiptap/pm/schema-basic": "/webjars/prosemirror-schema-basic/dist/index.js",
      
     -->
    <script type="text/javascript">
      let editors = new Map();
      let targetEditor = null;
    </script>
  </head>
  <body>

  <th:block layout:fragment="beforeBodyEnds">
    <th:block th:replace="~{fragments/modals/add-language :: add-language-dialog}"></th:block>
    <th:block th:replace="~{fragments/modals/add-link :: add-link-dialog}"></th:block>
    <div th:replace="~{fragments/modals/confirm-yes-no :: confirm-yes-no-dialog}"></div>

    <script type="text/javascript">
      $('.localized-form').each(function (i, localizedForm) {
        /*[- mark every tab containing validation error(s) with an error icon -]*/
        $(localizedForm).find(".tab-pane").each(function (i, tabPane) {
          let tabPaneId = $(tabPane).attr('id');
          $(tabPane).has(".has-error").length ? prependErrorIcon($('a[href="#' + tabPaneId + '"]')) : "";
        });
        /*[- add delete action to every tab if more than one tab present -]*/
        let navTabs = $(localizedForm).children('.nav-tabs');
        updateActionsInTabs(navTabs);
      });
    </script>
  </th:block>

</body>
</html>
