<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{title_login}">Please log in</title>

    <link rel="shortcut icon" th:href="@{/images/favicon.png}">

    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/fontsource__source-sans-pro/index.css}">

    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <img th:src="@{/images/logo-cudami.png}" alt="cudami Logo" class="brand-image" style="opacity: .8">
      </div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg" th:text="#{title_login}">Please log in</p>

          <div class="alert alert-danger" th:if="${param.error}" th:text="#{alert.danger.login_failed}">Wrong username or password</div>

          <form role="form" name="input" th:action="@{/login}" method="post">
            <div class="input-group mb-3">
              <input type="email" class="form-control" th:placeholder="#{lbl.username}" name="username" autofocus="autofocus">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-question-circle" th:attr="title=#{tooltip.username}"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" th:placeholder="#{lbl.password}" name="password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember-me" name="remember-me" value="true">
                  <label for="remember-me" th:text="#{lbl.stay_logged_in}">Remember me</label>
                </div>
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block" th:text="#{btn.login}">Login</button>
              </div>
            </div>
          </form>

          <!--      <p class="mb-1">
                  <a href="forgot-password.html">I forgot my password</a>
                </p>-->
        </div>
      </div>
      <div class="float-right text-muted">
        v<small th:text="${version}">1.0.0</small>
      </div>
    </div>

    <!-- jQuery -->
    <script th:src="@{/webjars/AdminLTE/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap 4 -->
    <script th:src="@{/webjars/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/webjars/AdminLTE/dist/js/adminlte.min.js}"></script>
  </body>
</html>
