<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorator="base">

  <head>
    <title th:text="#{website}">Website</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1><span th:text="#{website}">Website</span> <a class="btn btn-default" th:href="@{/website/new}" th:text="#{btn_new}">New</a></h1>

      <img th:src="@{images/website-nodes.png}"/>

      <div th:replace="fragments/modals-confirmation :: confirmYesNoDialog"></div>
    </section>
  </body>
</html>


