<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.items}: #{item}|">Items: Item</title>
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${item}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="#{item}">Item</h1>
                <div>
                  <!--              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>-->
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">
            <!-- TODO it always contains "und" undefined language? -->
            <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
              <div class="language-selection">
                <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                <select th:replace="~{fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})}">English</select>
              </div>
            </th:block>

            <th:block th:insert="~{fragments/uniqueobject::renderFields(${item})}"></th:block>

            <th:block th:insert="~{fragments/identifiable::renderFields(${item})}"></th:block>

            <th:block th:insert="~{fragments/entity::renderFields(${item})}"></th:block>

            <hr />

            <div class="row" th:if="*{partOfItem?.uuid}">
              <div class="col-md-3 multilanguage"><label th:text="#{lbl.parent_item}">Parent item</label></div>
              <div class="col-md-9" th:with="partOfItem=*{partOfItem}">
                <a th:href="@{/items/{uuid}(uuid=*{partOfItem.uuid})}" th:text="${partOfItem.label?.getText(dataLanguage)} ?: ${partOfItem.uuid}">item label</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 multilanguage"><label th:text="#{lbl.exemplifies_manifestation}">Item of a manifestation</label></div>
              <div class="col-md-9">
                <span th:switch="*{exemplifiesManifestation}">
                  <i th:case="true" class="fas fa-check text-success"></i>
                  <i th:case="false" class="fas fa-times text-danger"></i>
                  <i th:case="*" class="fas fa-question-circle"></i>
                </span>
                <span th:if="${item.manifestation}" th:with="manifestation=*{manifestation}">
                  &nbsp;<a th:href="@{/manifestations/{uuid}(uuid=${manifestation.uuid})}" th:text="${manifestation.label?.getText(dataLanguage)} ?: ${manifestation.uuid}">manifestation label</a>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.holders}">Holding institutions</label>
              </div>
              <div class="col-md-9" th:with="holders=*{holders}">
                <ul class="mb-0 list-inline" th:if="${holders} and not ${#lists.isEmpty(holders)}">
                  <li class="list-inline-item" th:each="holder : ${holders}">
                    <span class="border border-dark p-2 badge badge-light badge-pill" th:switch="${holder.identifiableObjectType.name()}">
                      <a
                         th:case="'CORPORATE_BODY'"
                         th:href="@{/corporatebodies/{uuid}(uuid=${holder.uuid})}"
                         th:text="${holder.label?.getText(defaultLanguage)} ?: ${holder.uuid}">
                        ...
                      </a>
                      <a
                         th:case="'PERSON'"
                         th:href="@{/persons/{uuid}(uuid=${holder.uuid})}"
                         th:text="${holder.label?.getText(defaultLanguage)} ?: ${holder.uuid}">
                        ...
                      </a>
                    </span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.embedded_items}">Embedded Items</label></div>
              <div class="col-md-9">
                <div id="toolbar-embeddeditems">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="~{fragments/components/select-language-dropdown::render('embeddeditems-languages', ${existingLanguages}, ${dataLanguageItems})}">English</select>
                  </th:block>
                </div>
                <table id="table-embeddeditems"
                       data-toggle="table"
                       th:data-url="@{/api/items/__${item.uuid}__/children}"
                       th:data-locale="${#locale}"

                       data-cookie="true"
                       data-cookie-id-table="table-embeddeditems"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsEmbeddedItems"
                       data-search="false"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="false"
                       data-show-search-clear-button="false"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-embeddeditems"
                       data-unique-id="uuid">
                  <thead>
                  <tr>
                    <th data-field="index" data-formatter="formatRowNumberEmbeddedItems" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                    <th data-field="label" data-sortable="true" data-formatter="formatLabelEmbeddedItems" th:text="#{lbl.label}">Label</th>
                    <th data-field="identifiers" data-sortable="false" data-formatter="renderIdentifiers" th:text="#{lbl.identifiers}">Identifiers</th>
                    <th data-field="actions" data-formatter="formatActionsEmbeddedItems" th:text="#{lbl.actions}">Actions</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.digital_objects}">Digital objects</label></div>
              <div class="col-md-9">
                <div id="toolbar-digitalobjects">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingDigitalObjectsLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="~{fragments/components/select-language-dropdown::render('digitalobjects-languages', ${existingDigitalObjectsLanguages}, ${dataLanguageDigitalObjects})}">English</select>
                  </th:block>
                </div>
                <table id="table-digitalobjects"
                       data-toggle="table"
                       th:data-url="@{/api/items/__${item.uuid}__/digitalobjects}"
                       th:data-locale="${#locale}"

                       data-cookie="true"
                       data-cookie-id-table="table-digitalobjects"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsDigitalObjects"
                       data-search="true"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="true"
                       data-show-search-clear-button="true"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-digitalobjects"
                       data-unique-id="uuid">
                  <thead>
                    <tr>
                      <th data-field="index" data-formatter="formatRowNumberDigitalObjects" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                      <th data-field="previewImage" data-formatter="renderPreviewImage" data-halign="center" data-align="center"><i class="fas fa-image"></i></th>
                      <th data-field="label" data-sortable="true" data-formatter="formatLabelDigitalObjects" th:text="#{lbl.label}">Label</th>
                      <th data-field="identifiers" data-sortable="false" data-formatter="renderIdentifiers" th:text="#{lbl.identifiers}">Identifiers</th>
                      <th data-field="lastModified" data-sortable="true" data-formatter="renderDateTime" th:text="#{lbl.last_modified}">last modified</th>
                      <th data-field="created" data-sortable="true" data-formatter="renderDateTime" th:text="#{lbl.created}">created</th>
                      <th data-field="actions" data-formatter="formatActionsDigitalObjects" th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </th:block>
    <section layout:fragment="beforeBodyEnds">
      <script type="text/javascript">
        $(addDataLanguageChangeHandler());

        $(function () {
          $("#digitalobjects-languages").change(function () {
            $('#table-digitalobjects').bootstrapTable('refresh');
          });
        });

        $(function () {
          $("#embeddeditems-languages").change(function () {
            $('#table-embeddeditems').bootstrapTable('refresh');
          });
        });

        function formatRowNumberDigitalObjects(value, row, index) {
          return renderRowNumber($('#table-digitalobjects'), index);
        }

        function formatRowNumberEmbeddedItems(value, row, index) {
          return renderRowNumber($('#table-embeddeditems'), index);
        }

        function queryParamsDigitalObjects(params) {
          let dataLanguage = $("#digitalobjects-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }

        function queryParamsEmbeddedItems(params) {
          let dataLanguage = $("#embeddeditems-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }
      </script>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('#table-digitalobjects').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        $('#table-embeddeditems').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        function formatActionsDigitalObjects(value, row) {
          /*[+
           const baseUrl = [[@{'/digitalobjects'}]] + '/' + row.uuid;
           const itemType = [[#{lbl.digital_object.inline}]];
           +]*/
          const dataLanguage = $("#digitalobjects-languages").val();
          const itemId = renderLocalizedText(row.label, dataLanguage);
          return [
            renderViewAction(baseUrl)
          ].join(' ');
        }

        function formatActionsEmbeddedItems(value, row) {
          /*[+
           const baseUrl = [[@{'/items'}]] + '/' + row.uuid;
           const itemType = [[#{lbl.item.inline}]];
           +]*/
          const dataLanguage = $("#embeddeditems-languages").val();
          const itemId = renderLocalizedText(row.label, dataLanguage);
          return [
            renderViewAction(baseUrl)
          ].join(' ');
        }

        function formatLabelDigitalObjects(value, row) {
          /*[+
           const baseUrl = [[@{'/digitalobjects'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#digitalobjects-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }

        function formatLabelEmbeddedItems(value, row) {
          /*[+
           const baseUrl = [[@{'/items'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#embeddeditems-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }
      /*]]>*/
      </script>
      <div th:replace="~{fragments/bootstrap-table :: data-formatter}"></div>
    </section>
  </body>

</html>