<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{identifier_types}: #{identifier_type_edit(${identifierType.label})}|">Identifier types: Edit identifier type ...</title>
  </head>
  <body>
    <section layout:fragment="content">

      <form th:object="${identifierType}" th:action="@{#}" method="post" role="form">
        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="#{identifier_type_edit(*{label})}">Edit identifier type ...</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <button class="btn btn-primary" type="submit" th:text="#{save}">save</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>

        <div class="row">
          <div th:replace="fragments/feedback-messages :: form-bootstrap4"></div>

          <div class="form-group">
            <label th:text="#{id}">ID</label>
            <div class="form-control" readonly th:text="*{uuid}">42</div>
          </div>

          <div  class="col-sm-12">
            <div class="form-group">
              <label for="label" th:text="#{label}">Label</label>
              <div th:classappend="${#fields.hasErrors('label')}? has-error">
                <input id="label" th:field="*{label}" type="text" class="form-control" th:placeholder="#{label}" autofocus="autofocus" required />
                <p th:if="${#fields.hasErrors('label')}" th:errors="*{label}">...</p>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="namespace" th:text="#{namespace}">Namespace</label>
                <div th:classappend="${#fields.hasErrors('namespace')}? has-error">
                  <input id="namespace" th:field="*{namespace}" type="text" class="form-control" th:placeholder="#{namespace}" required />
                  <p th:if="${#fields.hasErrors('namespace')}" th:errors="*{namespace}">...</p>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="pattern" th:text="#{pattern}">Pattern</label>
                <div th:classappend="${#fields.hasErrors('pattern')}? has-error">
                  <input id="pattern" th:field="*{pattern}" type="text" class="form-control" th:placeholder="#{pattern}" required />
                  <p th:if="${#fields.hasErrors('pattern')}" th:errors="*{pattern}">...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>

  <th:block layout:fragment="beforeBodyEnds">
    <div th:replace="fragments/modals-confirmation :: confirmYesNoDialog-bootstrap4"></div>
  </th:block>
</body>

</html>