<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{websites}: #{website} ${website.url}|">Websites: Website http://www.example.de/</title>
     <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jqtree/tree.jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/jqtree/jqtree.css}"/>
    <link rel="stylesheet" th:href="@{/css/dzpadmin.css}"/>
  </head>
  <body>
    <section layout:fragment="content">

      <div class="row mainContent">
        <div class="col-sm-9">
          <b th:text="#{website}">Website</b> <b th:text="${website.title}"/>  (<a th:href="${website.url}"><span th:text="${website.url}"/></a>)
        </div>
        <div class="col-sm-3">
          <a class="btn btn-default btn-block"
             th:href="@{${website.id} + '/edit'}" th:text="#{edit}">edit</a>
        </div>
      </div>

      <div class="row mainContent">
        <div class="col-sm-12">
          <hr/>
        </div>
      </div>

      <div class="row mainContent">
        <div class="col-sm-12" th:object="${website}">
          <div class="container-fluid rows-striped">
            <div class="row">
              <div class="col-md-3"><label th:text="#{id}">ID</label></div>
              <div class="col-md-9"><span th:text="*{id}">50</span></div>
            </div>
            <div class="row">
              <div class="col-md-3"><label th:text="#{title}">Title</label></div>
              <div class="col-md-9"><span th:text="*{title}">Periodikon</span></div>
            </div>
            <div class="row">
              <div class="col-md-3"><label th:text="#{url}">URL</label></div>
              <div class="col-md-9"><span th:text="*{url}">http://www.example.de/</span></div>
            </div>
          </div>
        </div>
      </div>
      
      &nbsp;<br/>
      
      <div class="row mainContent">
        <div id="tree1" class="col-sm-12" th:attr="data-url=${website.id + '/sitemap/do?operation=get_nodes'}"></div>
      </div>

    </section>
    
    <th:block layout:fragment="beforeBodyEnds">
    <script type="text/javascript" th:inline="javascript">
      // <![CDATA[
      $('#tree1')
        .tree({
          dragAndDrop: false,
          autoOpen: true,
          autoEscape: false
        });
        
        // ]]>
    </script>
  </th:block>
</body>
</html>