<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{topics}: #{topic_create}|">Topics: Create a new topic</title>
  </head>
  <body>
    <th:block layout:fragment="content">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div id="editor"></div>
              <script th:src="@{/js/identifiable-editor.bundle.js}"></script>
              <script th:inline="javascript">
                IdentifiableEditor({
                  activeLanguage: /*[[${activeLanguage}]]*/ '',
                  apiContextPath: /*[[@{/}]]*/ '',
                  id: "editor",
                  parentType: /*[[${parentType}]]*/ '',
                  parentUuid: /*[[${parentUuid}]]*/ '',
                  type: "topic",
                  uiLocale: /*[[${#locale.language}]]*/ ''
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
