<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{topics}: #{topic}|">Topics: Topic</title>
  </head>
  <body>
    <section layout:fragment="content" th:object="${topic}">

      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb hidden-xs-down">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/topics}" th:text="#{topics}">Topics</a></li>
            <th:block th:if="${not #lists.isEmpty(breadcrumbs)}">
              <th:block th:each="breadcrumb : ${breadcrumbs}">
                <li class="breadcrumb-item"><a th:href="@{/topics/} + ${breadcrumb.targetId}"><th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${breadcrumb.label}, ${locale})">Node Label</th:block></a></li>
              </th:block>
            </th:block>
          </ol>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <h1 th:text="#{topic}">Topic</h1>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <a class="btn btn-secondary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="container-fluid rows-striped">
            <div class="row">
              <div class="col-md-3"><label class="font-weight-bold" th:text="#{id}">ID</label></div>
              <div class="col-md-9"><span th:text="*{uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-content">
        <div class="col-sm-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" th:each="language,iter : ${existingLanguages}">
              <a class="language-switcher nav-link" th:classappend="${iter.index} == 0 ? active" th:href="${'#' + language}" data-toggle="tab" th:text="${language.getDisplayName(#locale)}" role="tab">language</a>
            </li>
          </ul>
          <div class="tab-content">
            <div th:each="language,iter : ${existingLanguages}" th:id="${language}" class="tab-pane" th:classappend="${iter.index} == 0 ? active">
              <div class="card">
                <div class="card-body bg-light">
                  <div th:replace="fragments/identifiable::renderTeaser(${topic}, ${language})"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-content">
        <div class="col-sm-6">
          <h2 th:text="#{subtopics}">Subtopics</h2>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <a class="btn btn-secondary new-button" th:href="@{/subtopics/new(parentType=topic, parentUuid=*{uuid})}" th:text="#{btn_new}">New</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr>
                <th class="text-right" th:text="#{abbr_number}">Nr.</th>
                <th></th>
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{last_modified}">last modified</th>
                <th class="center" th:text="#{actions}">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="subtopic, stats : *{children}">
                <td class="text-right" th:text="${stats.index + 1}">1</td>
                <td class="center">
                  <th:block th:insert="cudami/fragments/previewimage-to-html::renderImage(${subtopic.previewImage}, ${subtopic.previewImageRenderingHints}, ${#locale}, 30)"></th:block>
                </td>
                <td>
                  <a th:href="@{'/topics/' + ${subtopic.uuid}}" th:text="${subtopic.label.text}">Label</a>
                </td>
                <td>
                  <span class="float-right" th:with="df=#{dateTime.format},dateTime=${subtopic.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
                </td>
                <td class="center">
                  <a th:href="@{'/topics/' + ${subtopic.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                  <a th:href="@{'/topics/' + ${subtopic.uuid} + '/edit'}" th:title="#{tooltip_edit}"><span class="fas fa-pencil-alt actionButton"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <h3 th:text="#{files}">Files</h3>
          
          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr>
                <th class="text-right" th:text="#{abbr_number}">Nr.</th>
                <th></th>
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{last_modified}">last modified</th>
                <th class="center" th:text="#{mimetype}">Mimetype</th>
                <!-- TODO
                <th class="center" th:text="#{actions}">Actions</th>
                -->
              </tr>
            </thead>
            <tbody>
              <tr th:each="relatedFileResource, stats : ${relatedFileResources}">
                <td class="text-right" th:text="${stats.index + 1}">1</td>
                <td class="center">
                  <th:block th:insert="cudami/fragments/previewimage-to-html::renderImage(${relatedFileResource.previewImage}, ${relatedFileResource.previewImageRenderingHints}, ${#locale}, 30)"></th:block>
                </td>
                <td>
                  <!-- TODO
                  <a th:href="@{'/fileresources/' + ${relatedFileResource.uuid}}" th:text="${relatedFileResource.label.text}">Label</a>
                  -->
                  <span th:text="${relatedFileResource.label.text}">Label</span>
                </td>
                <td>
                  <span th:text="${relatedFileResource.mimeType}">image/jpeg</span>
                </td>
                <td>
                  <span class="float-right" th:with="df=#{dateTime.format},dateTime=${relatedFileResource.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
                </td>
                <!-- TODO
                <td class="center">
                  <a th:href="@{'/fileresources/' + ${relatedFileResource.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                  <a th:href="@{'/fileresources/' + ${relatedFileResource.uuid} + '/edit'}" th:title="#{tooltip_edit}"><span class="fas fa-pencil-alt actionButton"></span></a>
                </td>
                -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section layout:fragment="beforeBodyEnds">
      <script>
        addLanguageChangeHandler()
        moveEditButtonToNavbar()
      </script>
    </section>
  </body>
</html>
