<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.topics}: #{topic}|">Topics: Topic</title>
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${topic}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="#{topic}">Topic</h1>
                <div>
                  <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">
            <div class="row">
              <div class="col-12">
                <ol class="breadcrumb hidden-xs-down">
                  <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                  <li class="breadcrumb-item"><a th:href="@{/topics}" th:text="#{topics}">Topics</a></li>
                  <th:block th:if="${not #lists.isEmpty(breadcrumbs)}">
                    <th:block th:each="breadcrumb : ${breadcrumbs}">
                      <li class="breadcrumb-item"><a th:href="@{/topics/} + ${breadcrumb.targetId}">
                          <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${breadcrumb.label}, ${locale})">Node Label</th:block>
                        </a></li>
                    </th:block>
                  </th:block>
                </ol>
              </div>
            </div>

            <!-- TODO it always contains "und" undefined language? -->
            <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
              <div class="language-selection">
                <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                <select th:replace="fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})">English</select>
              </div>
            </th:block>

            <th:block th:insert="fragments/uniqueobject::renderFields(${topic})"></th:block>

            <th:block th:insert="fragments/identifiable::renderFields(${topic})"></th:block>

            <th:block th:insert="fragments/entity::renderFields(${topic})"></th:block>

            <hr />

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.subtopics}">Subtopics</label></div>
              <div class="col-md-9">
                <div id="toolbar-subtopics">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingSubtopicsLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="fragments/components/select-language-dropdown::render('subtopics-languages', ${existingSubtopicsLanguages}, ${dataLanguageSubtopics})">English</select>
                  </th:block>
                </div>
                <table id="table-subtopics"
                       data-toggle="table"
                       th:data-url="@{/api/topics/__${topic.uuid}__/topics}"
                       th:data-locale="${#locale}"
                       data-buttons="buttonsSubtopics"
                       data-cookie="true"
                       data-cookie-id-table="table-subtopics"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsSubtopics"
                       data-search="true"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="true"
                       data-show-search-clear-button="true"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-subtopics"
                       data-unique-id="uuid">
                  <thead>
                    <tr>
                      <th data-field="index" data-formatter="formatRowNumberSubtopics" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                      <th data-field="previewImage" data-formatter="renderPreviewImage" data-halign="center" data-align="center"><i class="fas fa-image"></i></th>
                      <th data-field="label" data-formatter="formatLabelSubtopics" th:text="#{lbl.label}">Label</th>
                      <th data-field="lastModified" data-formatter="renderDateTime" th:text="#{lbl.last_modified}">last modified</th>
                      <th data-field="created" data-formatter="renderDateTime" th:text="#{lbl.created}">created</th>
                      <th data-field="actions" data-formatter="formatActionsSubtopics" th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.entities}">Entities</label></div>
              <div class="col-md-9">
                <div id="alert-entities" class="mt-2 alert alert-success alert-dismissible fade show d-none" role="alert">
                  <span>Alert message.</span>

                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div id="toolbar-entities">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingEntitiesLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="fragments/components/select-language-dropdown::render('entities-languages', ${existingEntitiesLanguages}, ${dataLanguageEntities})">English</select>
                  </th:block>
                </div>
                <table id="table-entities"
                       data-toggle="table"
                       th:data-url="@{/api/topics/__${topic.uuid}__/entities}"
                       th:data-locale="${#locale}"
                       data-buttons="buttonsEntities"
                       data-cookie="true"
                       data-cookie-id-table="table-entities"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsEntities"
                       data-search="true"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="true"
                       data-show-search-clear-button="true"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-entities"
                       data-unique-id="uuid">
                  <thead>
                    <tr>
                      <th data-field="index" data-formatter="formatRowNumberEntities" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                      <th data-field="previewImage" data-formatter="renderPreviewImage" data-halign="center" data-align="center"><i class="fas fa-image"></i></th>
                      <th data-field="label" data-formatter="formatLabelEntities" th:text="#{lbl.label}">Label</th>
                      <th data-field="lastModified" data-formatter="renderDateTime" th:text="#{lbl.last_modified}">last modified</th>
                      <th data-field="created" data-formatter="renderDateTime" th:text="#{lbl.created}">created</th>
                      <th data-field="actions" data-formatter="formatActionsEntities" th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.fileresources}">Files</label></div>
              <div class="col-md-9">
                <div id="alert-fileresources" class="mt-2 alert alert-success alert-dismissible fade show d-none" role="alert">
                  <span>Alert message.</span>

                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div id="toolbar-fileresources">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingFileresourcesLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="fragments/components/select-language-dropdown::render('fileresources-languages', ${existingFileresourcesLanguages}, ${dataLanguageFileresources})">English</select>
                  </th:block>
                </div>
                <table id="table-fileresources"
                       data-toggle="table"
                       th:data-url="@{/api/topics/__${topic.uuid}__/fileresources}"
                       th:data-locale="${#locale}"
                       data-buttons="buttonsFileResources"
                       data-cookie="true"
                       data-cookie-id-table="table-fileresources"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsFileresources"
                       data-search="true"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="true"
                       data-show-search-clear-button="true"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-fileresources"
                       data-unique-id="uuid">
                  <thead>
                    <tr>
                      <th data-field="index" data-formatter="formatRowNumberFileresources" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                      <th data-field="previewImage" data-formatter="renderPreviewImage" data-halign="center" data-align="center"><i class="fas fa-image"></i></th>
                      <th data-field="label" data-formatter="formatLabelFileresources" th:text="#{lbl.label}">Label</th>
                      <th data-field="lastModified" data-formatter="renderDateTime" th:text="#{lbl.last_modified}">last modified</th>
                      <th data-field="created" data-formatter="renderDateTime" th:text="#{lbl.created}">created</th>
                      <th data-field="actions" data-formatter="formatActionsFileresources" th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>

    <section layout:fragment="beforeBodyEnds">
      <div th:replace="~{fragments/modals/confirm-yes-no :: confirm-yes-no-dialog-html}"></div>
      <div th:replace="~{fragments/modals/select-entities :: render}"></div>
      <div th:replace="~{fragments/modals/select-fileresources :: render}"></div>

      <script type="text/javascript">
        $(addDataLanguageChangeHandler());

        $(function () {
          $("#entities-languages").change(function () {
            $('#table-entities').bootstrapTable('refresh');
          });
          $("#fileresources-languages").change(function () {
            $('#table-fileresources').bootstrapTable('refresh');
          });
          $("#subtopics-languages").change(function () {
            $('#table-subtopics').bootstrapTable('refresh');
          });
        });

        function formatRowNumberEntities(value, row, index) {
          return renderRowNumber($('#table-entities'), index);
        }
        function formatRowNumberFileresources(value, row, index) {
          return renderRowNumber($('#table-fileresources'), index);
        }
        function formatRowNumberSubtopics(value, row, index) {
          return renderRowNumber($('#table-subtopics'), index);
        }
        function queryParamsEntities(params) {
          let dataLanguage = $("#entities-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }
        function queryParamsFileresources(params) {
          let dataLanguage = $("#fileresources-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }
        function queryParamsSubtopics(params) {
          let dataLanguage = $("#subtopics-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }
      </script>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('#table-entities').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        $('#table-fileresources').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        $('#table-subtopics').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        function addEntities() {
          /*[+
           const errorMessage = [[#{error.technical_error}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${topic.label['de']}]];
           const addApiUrl = [[@{/api/topics/__${topic.uuid}__/entities}]];
           const successMessage = `[(#{msg.add_entities.success})]`;
           +]*/

          $('#selectEntitiesDialog').modal('hide');
          let entities = getSelectedEntities();

          // add entities to parent topic
          fetch(addApiUrl,
            {
              method: "POST", headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(entities)
            })
            .then(handleFetchErrors)
            .then(function (response) {
              $('#table-entities').bootstrapTable('refresh');
              showMessage('alert-success', '#alert-entities', successMessage);
            })
            .catch(function (error) {
              showMessage('alert-danger', '#alert-entities', errorMessage);
            });
        }
        function addEntitiesDialog() {
          /*[+
           const modalTitle = [[#{modal.title.add_entities}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${topic.label['de']}]];
           const modalMessage = `[(#{modal.msg.add_entities})]`;
           const modalBtnText = `[(#{btn.add})]`;
           const parentUuid = [[${topic.uuid}]];
           const searchApiUrl = [[@{/api/entities/search}]];
           +]*/

          const modalDialog = $('#selectEntitiesDialog');
          $(modalDialog).data('searchApiUrl', searchApiUrl);
          $(modalDialog).data('mode', 'multi');
          $(modalDialog).data('showType', 'true');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-message').html(modalMessage);
          var btnOk = $(modalDialog).find('.modal-footer .btn-primary');
          $(btnOk).attr('onclick', "addEntities();");
          $(btnOk).html(modalBtnText);
          $(modalDialog).modal('show');
        }
        
        function addFileResources() {
          /*[+
           const errorMessage = [[#{error.technical_error}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${topic.label['de']}]];
           const addApiUrl = [[@{/api/topics/__${topic.uuid}__/fileresources}]];
           const successMessage = `[(#{msg.add_fileresources.success})]`;
           +]*/

          $('#selectFileResourcesDialog').modal('hide');
          let fileResources = getSelectedFileResources();

          // add FileResources to parent topic
          fetch(addApiUrl,
            {
              method: "POST", headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(fileResources)
            })
            .then(handleFetchErrors)
            .then(function (response) {
              $('#table-fileresources').bootstrapTable('refresh');
              showMessage('alert-success', '#alert-fileresources', successMessage);
            })
            .catch(function (error) {
              showMessage('alert-danger', '#alert-fileresources', errorMessage);
            });
        }
        function addFileResourcesDialog() {
          /*[+
           const modalTitle = [[#{modal.title.add_fileresources}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${topic.label['de']}]];
           const modalMessage = `[(#{modal.msg.add_fileresources})]`;
           const modalBtnText = `[(#{btn.add})]`;
           const parentUuid = [[${topic.uuid}]];
           const searchApiUrl = [[@{/api/fileresources/search}]];
           +]*/

          const modalDialog = $('#selectFileResourcesDialog');
          $(modalDialog).data('searchApiUrl', searchApiUrl);
          $(modalDialog).data('mode', 'multi');
          $(modalDialog).data('showType', 'true');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-message').html(modalMessage);
          var btnOk = $(modalDialog).find('.modal-footer .btn-primary');
          $(btnOk).attr('onclick', "addFileResources();");
          $(btnOk).html(modalBtnText);
          $(modalDialog).modal('show');
        }
        
        function buttonsEntities() {
          /*[+
           const textAdd = [[#{btn.add}]];
           const tooltipAdd = [[#{tooltip.add_new_table_entry}]];
           +]*/
          return {
            btnAdd: {
              text: textAdd,
              icon: 'fa-plus',
              event: function () {
                addEntitiesDialog();
              },
              attributes: {
                title: tooltipAdd
              }
            }
          };
        }
        
        function buttonsFileResources() {
          /*[+
           const textAdd = [[#{btn.add}]];
           const tooltipAdd = [[#{tooltip.add_new_table_entry}]];
           +]*/
          return {
            btnAdd: {
              text: textAdd,
              icon: 'fa-plus',
              event: function () {
                addFileResourcesDialog();
              },
              attributes: {
                title: tooltipAdd
              }
            }
          };
        }
        
        function buttonsSubtopics() {
          /*[+
           const baseUrl = [[@{'/topics'}]];
           const textAdd = [[#{btn.add}]];
           const tooltipAdd = [[#{tooltip.add_new_table_entry}]];
           const parentUuid = [[${topic.uuid}]]
           +]*/
          return {
            btnAdd: {
              text: textAdd,
              icon: 'fa-plus',
              event: function () {
                location.href = baseUrl + '/new?parentType=topic&parentUuid=' + parentUuid;
              },
              attributes: {
                title: tooltipAdd
              }
            }
          };
        }

        function formatActionsEntities(value, row) {
        	/*[+
            const baseUrl = [[@{'/entities'}]] + '/' + row.uuid;
            +]*/
           return [
             renderViewAction(baseUrl),
             renderRemoveEntityAction(row)
           ].join(' ');
        }

        function formatActionsFileresources(value, row) {
          /*[+
           const baseUrl = [[@{'/fileresources'}]] + '/' + row.uuid;
           +]*/
          return [
            renderViewAction(baseUrl),
            renderRemoveFileResourceAction(row)
          ].join(' ');
        }

        function formatActionsSubtopics(value, row) {
          /*[+
           const baseUrl = [[@{'/topics'}]] + '/' + row.uuid;
           +]*/
          return [
            renderViewAction(baseUrl),
            renderEditAction(baseUrl)
          ].join(' ');
        }

        function formatLabelEntities(value, row) {
          const dataLanguage = $("#entities-languages").val();
          return renderLocalizedText(value, dataLanguage);
        }

        function formatLabelFileresources(value, row) {
          /*[+
           const baseUrl = [[@{'/fileresources'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#fileresources-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }

        function formatLabelSubtopics(value, row) {
          /*[+
           const baseUrl = [[@{'/topics'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#subtopics-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }
        
        function removeEntity(uuid) {
          /*[+
           const apiUrl = [[@{'/api/topics/__${topic.uuid}__/entities/'}]] + uuid;
           const errorMessage = [[#{error.technical_error}]];
           const alertSuccessMessage = [[#{alert.success.entity_removed_from_topic}]];
           +]*/

          $('#confirmYesNoDialog').modal('hide');

          fetch(apiUrl, {method: "DELETE"})
            .then(handleFetchErrors)
            .then(function (response) {
              showMessage('alert-success', '#alert-entities', alertSuccessMessage);
              $('#alert-entities').removeClass("d-none");
              $('#table-entities').bootstrapTable('refresh');
            })
            .catch(function (error) {
              alert(errorMessage);
            });
        }
        function removeEntityDialog(uuid) {
          const row = $('#table-entities').bootstrapTable('getRowByUniqueId', uuid);
          const label = row.label[Object.keys(row.label)[0]];
          /*[+
           const modalTitle = [[#{modal.title.warning}]];
           const modalMessage = `[(#{modal.msg.confirm_remove_entity_from_topic})]`;
           +]*/

          const modalDialog = $('#confirmYesNoDialog');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-body').html(modalMessage);
          $(modalDialog).find('.modal-footer #confirm').attr('href', "javascript:removeEntity('" + uuid + "');");
          $(modalDialog).modal('show');
        }
        
        function removeFileResource(uuid) {
          /*[+
           const apiUrl = [[@{'/api/topics/__${topic.uuid}__/fileresources/'}]] + uuid;
           const errorMessage = [[#{error.technical_error}]];
           const alertSuccessMessage = [[#{alert.success.fileresource_removed_from_topic}]];
           +]*/

          $('#confirmYesNoDialog').modal('hide');

          fetch(apiUrl, {method: "DELETE"})
            .then(handleFetchErrors)
            .then(function (response) {
              showMessage('alert-success', '#alert-fileresources', alertSuccessMessage);
              $('#alert-fileresources').removeClass("d-none");
              $('#table-fileresources').bootstrapTable('refresh');
            })
            .catch(function (error) {
              alert(errorMessage);
            });
        }
        function removeFileResourceDialog(uuid) {
          const row = $('#table-fileresources').bootstrapTable('getRowByUniqueId', uuid);
          const label = row.label[Object.keys(row.label)[0]];
          /*[+
           const modalTitle = [[#{modal.title.warning}]];
           const modalMessage = `[(#{modal.msg.confirm_remove_fileresource_from_topic})]`;
           +]*/

          const modalDialog = $('#confirmYesNoDialog');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-body').html(modalMessage);
          $(modalDialog).find('.modal-footer #confirm').attr('href', "javascript:removeFileResource('" + uuid + "');");
          $(modalDialog).modal('show');
        }
        
        function renderRemoveEntityAction(row) {
          /*[+
           const tooltip = [[#{tooltip.remove_from_topic}]];
           +]*/
          return "<a title=\"" + tooltip + "\" href=\"javascript:removeEntityDialog('" + row.uuid + "');\"><i class='fa fa-unlink'></i></a>";
        }
        
        function renderRemoveFileResourceAction(row) {
          /*[+
           const tooltip = [[#{tooltip.remove_from_topic}]];
           +]*/
          return "<a title=\"" + tooltip + "\" href=\"javascript:removeFileResourceDialog('" + row.uuid + "');\"><i class='fa fa-unlink'></i></a>";
        }
      /*]]>*/
      </script>

      <div th:replace="fragments/bootstrap-table :: data-formatter"></div>
    </section>
  </body>

</html>