<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">

  <body>
    <th:block th:fragment="renderHtml(fieldLanguage, active, beanName)" th:object="${__${beanName}__}">
      <div th:id="lbl-desc-__${fieldLanguage}__" class="tab-pane" th:classappend="${active} ? 'active'">
        <div class="card">
          <div class="card-body bg-light">
            <div class="row">
              <div class="col-sm-2">
                <label th:for="preview-image-__${fieldLanguage}__" th:text="#{lbl.preview_image}">Preview Image</label>
                <div th:id="preview-image-__${fieldLanguage}__" style="z-index: 0;" class="rounded text-center card preview-image-section">
                  <div class="card-body">
                    <div class="image"></div>
                    <div class="actions">
                      <span class="add">
                        <a href="#"
                           th:onclick="|previewImageDialog('__${fieldLanguage}__','__#{modal.title.preview_image.select(${fieldLanguage})}__','__@{/}__');|"
                           th:title="#{tooltip.preview_image.add}"
                           class="stretched-link btn btn-link">
                          <i class="fa fa-plus"></i>
                        </a>
                      </span>
                      <span class="edit">
                        <div role="group" class="mt-1 btn-group">
                          <a href="#"
                             th:onclick="|previewImageDialog('__${fieldLanguage}__','__#{modal.title.preview_image.edit(${fieldLanguage})}__','__@{/}__');|"
                             th:title="#{tooltip.preview_image.edit}"
                             class="align-items-center d-flex p-2 btn btn-light btn-sm"><i class="fa fa-edit"></i></a>
                          <a href="#"
                             th:onclick="|removePreviewImage('__${fieldLanguage}__');|"
                             th:title="#{tooltip.preview_image.remove}"
                             class="align-items-center d-flex p-2 btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                        </div>
                      </span>
                    </div>
                    <script th:inline="javascript">
                      /*[+
                       renderPreviewImage([[${fieldLanguage}]]);
                       +]*/
                    </script>
                  </div>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="form-group" th:classappend="${#fields.hasErrors('label[__${fieldLanguage}__]')}? has-error">
                  <label th:for="label-__${fieldLanguage}__" th:text="#{lbl.label}" class="required">Label</label>
                  <input th:id="label-__${fieldLanguage}__" class="form-control" type="text" value="" th:field="*{label['__${fieldLanguage}__']}" />
                  <p th:if="${#fields.hasErrors('label[__${fieldLanguage}__]')}" th:errors="*{label[__${fieldLanguage}__]}">...</p>
                </div>
                <div class="form-group">
                  <label th:text="#{lbl.abstract}">Abstract</label>
                  <div th:id="description-menu-__${fieldLanguage}__" th:insert="~{fragments/tiptap :: editor-menu-short(editorId='description-editor-' + ${fieldLanguage})}" class="editorMenu border-1 p-1"></div>
                  <div th:id="description-editor-__${fieldLanguage}__" th:data-menu-id="description-menu-__${fieldLanguage}__"></div>
                  <input th:id="description-json-__${fieldLanguage}__" type="hidden" th:field="*{description['__${fieldLanguage}__']}" />
                  <script th:inline="javascript" type="module">
                    import {MiniEditor} from '@cudami/tiptap';
                    /*[+
                     let idEditorElement = [[description-editor-__${fieldLanguage}__]];
                     let idEditorMenu    = [[description-menu-__${fieldLanguage}__]];
                     let idJsonField     = [[description-json-__${fieldLanguage}__]];
                     +]*/
                    editors.set(idEditorElement, new MiniEditor(idEditorElement, idEditorMenu, idJsonField));
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>

</html>
