<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.persons}: #{person}|">Persons: Person</title>
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${person}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="#{lbl.person}">Person</h1>
                <div>
                  <!--              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>-->
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">
            <!-- TODO it always contains "und" undefined language? -->
            <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
              <div class="language-selection">
                <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                <select th:replace="~{fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})}">English</select>
              </div>
            </th:block>

            <th:block th:insert="~{fragments/uniqueobject::renderFields(${person})}"></th:block>

            <th:block th:insert="~{fragments/identifiable::renderFields(${person})}"></th:block>

            <th:block th:insert="~{fragments/entity::renderFields(${person})}"></th:block>

            <th:block th:insert="~{fragments/namedentity::renderFields(${person})}"></th:block>

            <hr />

            <!-- TODO person specific fields -->
            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.life_data}">Life data</label></div>
              <div class="align-items-center col-md-9 d-flex">
                <th:block th:insert="~{cudami/fragments/date::renderTimeValueRange(${person.getTimeValueOfBirth()}, ${person.getTimeValueOfDeath()})}"></th:block>
                &nbsp;<th:block th:if="${person.getDateOfBirth() != null || person.getDateOfDeath() != null}">
                  (<span th:insert="~{cudami/fragments/date::renderLocalDateRange(${person.getDateOfBirth()}, ${person.getDateOfDeath()})}"></span>)
                 </th:block>
              </div>
            </div>

          </div>
        </div>
      </div>
    </th:block>
    <section layout:fragment="beforeBodyEnds">
      <script type="text/javascript">
        $(addDataLanguageChangeHandler());
      </script>
    </section>
  </body>

</html>