<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{page.title.persons}: #{person}|">Persons: Person</title>
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${person}">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="#{lbl.person}">Person</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <!--              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>-->
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid rows-striped">
        <!-- TODO it always contains "und" undefined language? -->
        <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
          <div class="language-selection">
            <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
            <select th:replace="fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})">English</select>
          </div>
        </th:block>

        <th:block th:insert="fragments/uniqueobject::renderFields(${person})"></th:block>

        <th:block th:insert="fragments/identifiable::renderFields(${person})"></th:block>

        <th:block th:insert="fragments/entity::renderFields(${person})"></th:block>

        <hr/>

      </div>
    </div>
  </th:block>
  <section layout:fragment="beforeBodyEnds">
    <script type="text/javascript">
      $(addDataLanguageChangeHandler());
//      $(moveEditButtonToNavbar());
    </script>
  </section>
</body>
</html>
