<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{persons}: #{person}|">...</title>
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${person}">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="#{person}">...</h1>
          </div>
        </div>
        <hr/>
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <th:block th:insert="fragments/identifiable::renderIdentifiersAndRefId(${person}, true)"></th:block>

        <th:block th:insert="fragments/uniqueobject::renderDates(${person})"></th:block>

        <div class="row">
          <div class="col-sm-12">
            <th:block th:insert="fragments/identifiable::renderLocalizedTeaser(${person}, ${existingLanguages}, false)"></th:block>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <section layout:fragment="beforeBodyEnds">
    <script th:src="@{/js/identifier-list.bundle.js}"></script>
    <script th:inline="javascript">
      IdentifierList({
        apiContextPath: /*[[@{/}]]*/ '',
        id: "identifiers-list",
        identifiers: /*[[${person.identifiers}]]*/ []
      });
    </script>
  </section>
</body>
</html>
