<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.tags}: #{lbl.tag}|">Tags: Tag</title>
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${tag}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="#{lbl.tag}">Tag</h1>
                <div>
                  <!--              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>-->
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">
            <th:block th:insert="fragments/uniqueobject::renderFields(${tag})"></th:block>

            <hr />

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.value}">Value</label></div>
              <div class="align-items-center col-md-9 d-flex">
                <span th:text="*{value}">...</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </th:block>
    <section layout:fragment="beforeBodyEnds">
    </section>
  </body>

</html>