<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{webpages}: #{webpage}|">...</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/cudami/media-in-text.css}" rel="stylesheet" />
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${webpage}">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb hidden-xs-down">
              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
              <li class="breadcrumb-item"><a th:href="@{/websites}" th:text="#{websites}">Websites</a></li>
              <li class="breadcrumb-item"><a th:href="@{|/websites/${website.uuid}|}"><th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${website.label}, ${locale})">Website x</th:block></a></li>
              <th:block th:if="${not #lists.isEmpty(breadcrumbs)}">
                <th:block th:each="breadcrumb : ${breadcrumbs}">
                  <li class="breadcrumb-item"><a th:href="@{/webpages/} + ${breadcrumb.targetId}"><th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${breadcrumb.label}, ${locale})">Node Label</th:block></a></li>
                </th:block>
              </th:block>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="#{webpage}">Webpage</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="container-fluid rows-striped">
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{id}">ID</label></div>
                <div class="col-md-9"><span th:text="*{uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label class="font-weight-bold" th:text="#{publicationStatus}">Publication status</label>
                  <button class="btn btn-link" data-html="true" data-placement="bottom" data-toggle="popover" data-trigger="focus" th:attr="data-content=#{tooltip_publication_status}" id="publication_status_tooltip" type="button">
                    <i class="fas fa-question-circle"></i>
                  </button>
                </div>
                <div class="align-items-center col-md-9 d-flex" th:with="now=${T(java.time.LocalDate).now()}">
                  <th:block th:if="${webpage.publicationStart}  == null OR  ${webpage.publicationStart.compareTo(now)} > 0">
                    <i aria-hidden="true" class="fa fa-circle pr-1 text-warning"></i>
                  </th:block>
                  <th:block th:if="(${webpage.publicationStart} != null AND ${webpage.publicationStart.compareTo(now)} <= 0) AND (${webpage.publicationEnd} == null OR ${webpage.publicationEnd.compareTo(now)} > 0)">
                    <i aria-hidden="true" class="fa fa-circle pr-1 text-success"></i>
                  </th:block>
                  <th:block th:if="(${webpage.publicationStart} != null AND ${webpage.publicationStart.compareTo(now)} <= 0) AND (${webpage.publicationEnd} != null AND ${webpage.publicationEnd.compareTo(now)} <= 0)">
                    <i aria-hidden="true" class="fa fa-circle pr-1 text-danger"></i>
                  </th:block>

                  <th:block th:if="*{publicationStart} != null OR *{publicationEnd} != null">
                    (<span th:with="df=#{date.format},pubStart=*{publicationStart}" th:text="${#temporals.format(pubStart,df)}">01.01.2000</span>&nbsp;<span th:text="#{to}">to</span>&nbsp;<span th:with="df=#{date.format},pubEnd=*{publicationEnd}" th:text="${#temporals.format(pubEnd,df)}">01.01.2000</span>)
                  </th:block>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{in_page_navigation}">...</label></div>
                <div class="align-items-center col-md-9 d-flex"
                     th:if="*{renderingHints == null} OR *{renderingHints.showInPageNavigation}">
                  <i aria-hidden="true" class="fa fa-check text-success"></i>
                </div>
                <div class="align-items-center col-md-9 d-flex"
                     th:if="*{renderingHints != null} AND *{not renderingHints.showInPageNavigation}">
                  <i aria-hidden="true" class="fa fa-times text-danger"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{rendering_template}">...</label></div>
                <div class="col-md-9"><span th:text="*{renderingHints?.templateName} ?: '--'">-</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <th:block th:insert="fragments/identifiable::renderLocalizedTeaser(${webpage}, ${existingLanguages}, true)"></th:block>
          </div>
        </div>

        <div class="mt-3 row">
          <div class="col-sm-12">
            <div id="subpage-list"></div>
          </div>
        </div>
      </div>
    </div>
  </th:block>

  <section layout:fragment="beforeBodyEnds">
    <script>
      addLanguageChangeHandler()
      moveEditButtonToNavbar()
    </script>
    <script th:src="@{/js/identifiable-list.bundle.js}"></script>
    <script th:inline="javascript">
      IdentifiableList({
        apiContextPath: /*[[@{/}]]*/ '',
        enableChangeOfOrder: true,
        existingLanguages: /*[[${existingSubpageLanguages}]]*/,
        id: "subpage-list",
        parentType: "webpage",
        parentUuid: /*[[${webpage.uuid}]]*/,
        showEdit: true,
        showNew: true,
        type: "webpage",
        uiLocale: /*[[${#locale.language}]]*/
      });
    </script>
  </section>
</body>
</html>
