<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.digitization_projects}: #{project}|">Digitization Projects: Project</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/cudami/media-in-text.css}" rel="stylesheet" />
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${project}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="#{lbl.project}">Project</h1>
                <div>
                  <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">
            <!-- TODO it always contains "und" undefined language? -->
            <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
              <div class="language-selection">
                <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                <select th:replace="~{fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})}">English</select>
              </div>
            </th:block>

            <th:block th:insert="~{fragments/uniqueobject::renderFields(${project})}"></th:block>

            <th:block th:insert="~{fragments/identifiable::renderFields(${project})}"></th:block>

            <th:block th:insert="~{fragments/entity::renderFields(${project})}"></th:block>

            <hr />

            <div class="row mb-1">
              <div class="col-md-3 multilanguage"><label th:text="#{lbl.text}">Long text</label></div>
              <div class="col-md-9">
                <th:block th:if="${project.text?.containsKey(#locale.forLanguageTag(dataLanguage))}">
                  <div class="card">
                    <div class="card-body">
                      <th:block th:insert="~{fragments/text::renderLocalizedStructuredContent(${project.text}, ${dataLanguage})}"></th:block>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.digital_objects}">Digital objects</label></div>
              <div class="col-md-9">
                <div id="alert-digitalobjects" class="mt-2 alert alert-success alert-dismissible fade show d-none" role="alert">
                  <span>Alert message.</span>

                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div id="toolbar-digitalobjects">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingDigitalObjectsLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="~{fragments/components/select-language-dropdown::render('digitalobjects-languages', ${existingDigitalObjectsLanguages}, ${dataLanguageDigitalObjects})}">English</select>
                  </th:block>
                </div>
                <table id="table-digitalobjects"
                       data-toggle="table"
                       th:data-url="@{/api/projects/__${project.uuid}__/digitalobjects}"
                       th:data-locale="${#locale}"
                       data-buttons="buttonsDigitalObjects"
                       data-cookie="true"
                       data-cookie-id-table="table-digitalobjects"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsDigitalObjects"
                       data-search="true"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="true"
                       data-show-search-clear-button="true"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-digitalobjects"
                       data-unique-id="uuid">
                  <thead>
                    <tr>
                      <th data-field="index" data-formatter="formatRowNumberDigitalObjects" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                      <th data-field="previewImage" data-formatter="renderPreviewImage" data-halign="center" data-align="center"><i class="fas fa-image"></i></th>
                      <th data-field="label" data-formatter="formatLabelDigitalObjects" th:text="#{lbl.label}">Label</th>
                      <th data-field="identifiers" data-formatter="renderIdentifiers" th:text="#{lbl.identifiers}">Identifiers</th>
                      <th data-field="lastModified" data-formatter="renderDateTime" th:text="#{lbl.last_modified}">last modified</th>
                      <th data-field="created" data-formatter="renderDateTime" th:text="#{lbl.created}">created</th>
                      <th data-field="actions" data-formatter="formatActionsDigitalObjects" th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>

    <section layout:fragment="beforeBodyEnds">
      <div th:replace="~{fragments/modals/confirm-yes-no :: confirm-yes-no-dialog-html}"></div>
      <div th:replace="~{fragments/modals/select-entities :: render}"></div>

      <script type="text/javascript">
        $(addDataLanguageChangeHandler());

        $(function () {
          $("#digitalobjects-languages").change(function () {
            $('#table-digitalobjects').bootstrapTable('refresh');
          });
        });

        function formatRowNumberDigitalObjects(value, row, index) {
          return renderRowNumber($('#table-digitalobjects'), index);
        }

        function queryParamsDigitalObjects(params) {
          let dataLanguage = $("#digitalobjects-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }
      </script>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('#table-digitalobjects').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        function addDigitalObjects() {
          /*[+
           const errorMessage = [[#{error.technical_error}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${project.label['de']}]];
           const addApiUrl = [[@{/api/projects/__${project.uuid}__/digitalobjects}]];
           const successMessage = `[(#{msg.add_digitalobjects.success})]`;
           +]*/

          $('#selectEntitiesDialog').modal('hide');
          let entities = getSelectedEntities();

          // add digitalobjects to project
          fetch(addApiUrl,
            {
              method: "POST", headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(entities)
            })
            .then(handleFetchErrors)
            .then(function (response) {
              $('#table-digitalobjects').bootstrapTable('refresh');
              showMessage('alert-success', '#alert-digitalobjects', successMessage);
            })
            .catch(function (error) {
              showMessage('alert-danger', '#alert-digitalobjects', errorMessage);
            });
        }
        function addDigitalObjectsDialog() {
          /*[+
           const modalTitle = [[#{modal.title.add_digitalobjects}]];
           // TODO i18n: which language? from page dropdown...
           const parentLabel = [[${project.label['de']}]];
           const modalMessage = `[(#{modal.msg.add_digitalobjects})]`;
           const modalBtnText = `[(#{btn.add})]`;
           const parentUuid = [[${project.uuid}]];
           const searchApiUrl = [[@{/api/digitalobjects/search}]];
           +]*/

          const modalDialog = $('#selectEntitiesDialog');
          $(modalDialog).data('searchApiUrl', searchApiUrl);
          $(modalDialog).data('mode', 'multi');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-message').html(modalMessage);
          var btnOk = $(modalDialog).find('.modal-footer .btn-primary');
          $(btnOk).attr('onclick', "addDigitalObjects();");
          $(btnOk).html(modalBtnText);
          $(modalDialog).modal('show');
        }

        function buttonsDigitalObjects() {
          /*[+
           const textAdd = [[#{btn.add}]];
           const tooltipAdd = [[#{tooltip.add_new_table_entry}]];
           +]*/
          return {
            btnAdd: {
              text: textAdd,
              icon: 'fa-plus',
              event: function () {
                addDigitalObjectsDialog();
              },
              attributes: {
                title: tooltipAdd
              }
            }
          };
        }

        function formatActionsDigitalObjects(value, row) {
          /*[+
           const baseUrl = [[@{'/digitalobjects'}]] + '/' + row.uuid;
           +]*/
          return [
            renderViewAction(baseUrl),
            renderRemoveDigitalObjectAction(row)
          ].join(' ');
        }

        function formatLabelDigitalObjects(value, row) {
          /*[+
           const baseUrl = [[@{'/digitalobjects'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#digitalobjects-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }

        function renderRemoveDigitalObjectAction(row) {
          /*[+
           const tooltipRemove = [[#{tooltip.remove_from_project}]];
           +]*/
          return "<a title=\"" + tooltipRemove + "\" href=\"javascript:removeDigitalObjectDialog('" + row.uuid + "');\"><i class='fa fa-unlink'></i></a>";
        }

        function removeDigitalObjectDialog(uuid) {
          const row = $('#table-digitalobjects').bootstrapTable('getRowByUniqueId', uuid);
          const label = row.label[Object.keys(row.label)[0]];
          /*[+
           const modalTitle = [[#{modal.title.warning}]];
           const modalMessage = `[(#{modal.msg.confirm_remove_digitalobject_from_project})]`;
           +]*/

          const modalDialog = $('#confirmYesNoDialog');
          $(modalDialog).find('.modal-title').text(modalTitle);
          $(modalDialog).find('.modal-body').html(modalMessage);
          $(modalDialog).find('.modal-footer #confirm').attr('href', "javascript:removeDigitalObject('" + uuid + "');");
          $('#confirmYesNoDialog').modal('show');
        }

        function removeDigitalObject(uuid) {
          /*[+
           const apiUrl = [[@{'/api/projects/__${project.uuid}__/digitalobjects/'}]] + uuid;
           const errorMessage = [[#{error.technical_error}]];
           const alertSuccessMessage = [[#{alert.success.digitalobject_removed_from_project}]];
           +]*/

          $('#confirmYesNoDialog').modal('hide');

          fetch(apiUrl, {method: "DELETE"})
            .then(handleFetchErrors)
            .then(function (response) {
              showMessage('alert-success', '#alert-digitalobjects', alertSuccessMessage);
              $('#table-digitalobjects').bootstrapTable('refresh');
            })
            .catch(function (error) {
              alert(errorMessage);
            });
        }
      /*]]>*/
      </script>

      <div th:replace="~{fragments/bootstrap-table :: data-formatter}"></div>
    </section>
  </body>

</html>