<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="#{fileresources}">Files</title>
  </head>
  <body>
    <section layout:fragment="content">

      <div class="row">
        <div class="col-sm-6">
          <h1 th:text="#{fileresources}">Files</h1>
        </div>
        <div class="col-sm-6">
          <div class="float-right">
            <a class="btn btn-secondary" th:href="@{/fileresources/new}" th:text="#{btn_new}">New</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>

          <table class="table table-bordered table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr sd:page-object="${page.page}">
                <th class="text-right" th:text="#{abbr_number}">Nr.</th>
                <th></th>
                <th class="center" th:text="#{label}">Label</th>
                <th class="center" th:text="#{filename}">Filename</th>
                <th class="center" th:text="#{mimetype}">Mimetype</th>
                <th class="center" th:text="#{filesize}">Filesize</th>
                <th class="center" th:text="#{last_modified}">last modified</th>
                <th class="center" th:text="#{actions}">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="fileresource, stats : ${page.content}">
                <td class="text-right" th:text="(${page.number - 1} * ${page.size}) + ${stats.index + 1}">1</td>
                <td class="center">
                  <th:block th:insert="cudami/fragments/previewimage-to-html::renderImage(${fileresource.previewImage}, ${fileresource.previewImageRenderingHints}, ${#locale}, 30)"></th:block>
                </td>
                <td>
                  <a th:href="@{'/fileresources/' + ${fileresource.uuid}}" th:if="${fileresource.label}" th:text="${fileresource.label.text}">image001.jpg</a>
                </td>
                <td><span th:text="${fileresource.filename}">image001.jpg</span></td>
                <td><span th:text="${fileresource.mimeType.getTypeName()}">image/jpeg</span></td>
                <td><span style="white-space: nowrap;float:right;" th:text="${@fileHelper.bytesToSize(fileresource.sizeInBytes)}"></span>
                </td>
                <td>
                  <span class="float-right" th:with="df=#{dateTime.format},dateTime=${fileresource.lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
                </td>
                <td class="center">
                  <a th:href="@{'/fileresources/' + ${fileresource.uuid}}" th:title="#{tooltip_view}"><span class="far fa-eye actionButton"></span></a>
                  <a th:href="@{'/fileresources/' + ${fileresource.uuid} + '/edit'}" th:title="#{tooltip_edit}"><span class="fas fa-pencil-alt actionButton"></span></a>
                </td>
              </tr>
            </tbody>
          </table>

          <div th:replace="fragments/pagination-navigation :: pagination-bootstrap4"></div>
        </div>
      </div>
    </section>
  </body>
</html>
