<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{fileresources}: #{file} &quot;${fileresource.filename}&quot;|">Files: File "image001.jpg"</title>
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${fileresource}">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="|#{file} &quot;*{filename}&quot;|">File "image001.jpg"</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="rows-striped">
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{id}">ID</label></div>
                <div class="col-md-9"><span th:text="*{uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <th:block th:insert="fragments/identifiable::renderLocalizedTeaser(${fileresource}, ${existingLanguages}, false)"></th:block>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="rows-striped">
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{filename}">Filename</label></div>
                <div class="col-md-9"><span th:text="*{filename}">image001.jpg</span></div>
              </div>
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{mimetype}">Mimetype</label></div>
                <div class="col-md-9"><span th:text="*{mimeType.getTypeName()}">image/jpeg</span></div>
              </div>
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{fileResourceType}">Type</label></div>
                <div class="col-md-9"><span th:text="*{fileResourceType}">VIDEO</span></div>
              </div>
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{filesize}">Filesize</label></div>
                <div class="col-md-9"><span th:text="${@fileHelper.bytesToSize(fileresource.sizeInBytes)}"></span></div>
              </div>
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{uri}">URI</label></div>
                <div class="col-md-9"><span th:text="*{uri}">file:///home/ralf/cudami/fileResources/application/undefined/114f/998e/57a8/4f9a/a45b/59c6/7d5f/0f70/114f998e-57a8-4f9a-a45b-59c67d5f0f70</span></div>
              </div>
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{created}">created</label></div>
                <div class="col-md-9">
                  <span th:with="df=#{dateTime.format},dateTime=*{created}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{last_modified}">last modified</label></div>
                <div class="col-md-9">
                  <span th:with="df=#{dateTime.format},dateTime=*{lastModified}" th:text="${#temporals.format(dateTime,df)}">01.01.2000 21:45:00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <section layout:fragment="beforeBodyEnds">
    <script>
      addLanguageChangeHandler()
      moveEditButtonToNavbar()
    </script>
  </section>
</body>
</html>
