cudami:
  # FIXME nested Optional
  # environment: local
  server:
    address: http://localhost:9000/

info:
  app:
    encoding: "@project.build.sourceEncoding@"
    java:
      source: "@maven.compiler.source@"
      target: "@maven.compiler.target@"
    project:
      name: "@project.name@"
      groupId: "@project.groupId@"
      artifactId: "@project.artifactId@"
      version: "@project.version@"

management:
  endpoints:
    web:
      base-path: "/monitoring"
      exposure:
        include: "*"
  server:
    port: 9101

server:
  port: 9100
  server-header: "cudami Website Blueprint v@project.version@"

spring:
  profiles:
    active: local
  security:
    user:
      name: admin
      password: secret
  thymeleaf:
    cache: false
    mode: HTML

---

spring:
  profiles: PROD
  thymeleaf:
    cache: true