<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <title th:text="|#{licenses}: #{license} &quot;${url}&quot;|">...</title>
  </head>
  <body>
  <th:block layout:fragment="content" th:object="${license}">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 th:text="|#{license} &quot;${url}&quot;|">...</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-right">
              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="mb-3 rows-striped">
              <div class="row">
                <div class="col-md-3"><label class="font-weight-bold mb-0" th:text="#{id}">ID</label></div>
                <div class="col-md-9"><span th:text="*{uuid}">b7a245fe-da46-4d7d-a8e4-a7ee8f24f840</span></div>
              </div>
            </div>
          </div>
        </div>

        <th:block th:insert="fragments/uniqueobject::renderDates(${license})"></th:block>

        <div class="row">
          <div class="col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" th:each="language,iter : ${existingLanguages}">
                <a
                  class="language-switcher nav-link"
                  data-toggle="tab"
                  role="tab"
                  th:classappend="${iter.index} == 0 ? active"
                  th:href="${'#' + language}"
                  th:text="${#strings.isEmpty(languageToDisplay)} ? #{language_not_specified} : ${languageToDisplay}"
                  th:with="languageToDisplay=${language.getDisplayName(#locale)}"
                >
                  language
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div th:each="language,iter : ${existingLanguages}" th:id="${language}" class="tab-pane" th:classappend="${iter.index} == 0 ? active">
                <div class="card">
                  <div class="card-body bg-light">
                    <label class="font-weight-bold">
                      <th:block th:insert="cudami/fragments/localizedtext::renderLocalizedText(${license.label}, ${language})"></th:block>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="rows-striped">
              <div class="row" th:if="*{url}">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{url}">URL</label></div>
                <div class="col-md-9"><a th:href="*{url}" th:text="*{url}" target="_blank">http://www.example.de/</a></div>
              </div>
              <div class="row" th:if="*{acronym}">
                <div class="col-md-3"><label class="font-weight-bold" th:text="#{acronym}">...</label></div>
                <div class="col-md-9"><span th:text="*{acronym}">...</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>

  <section layout:fragment="beforeBodyEnds">
    <script>
      addLanguageChangeHandler()
      moveEditButtonToNavbar()
    </script>
  </section>
  </body>
</html>
