<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">
  <head>
    <link th:href="@{/css/tiptap.css}" rel="stylesheet">
    <script async th:src="@{/webjars/es-module-shims/dist/es-module-shims.js}"></script>
    <script type="importmap">
      {
      "imports": {
      "@cudami/tiptap": "/js/tiptap/tiptap-customizations.js",
      "linkifyjs": "/webjars/linkifyjs/dist/linkify.es.js",
      "orderedmap": "/webjars/orderedmap/dist/index.js",
      "prosemirror-commands": "/webjars/prosemirror-commands/dist/index.js",
      "prosemirror-dropcursor": "/webjars/prosemirror-dropcursor/dist/index.es.js",
      "prosemirror-gapcursor": "/webjars/prosemirror-gapcursor/dist/index.es.js",
      "prosemirror-history": "/webjars/prosemirror-history/dist/index.es.js",
      "prosemirror-keymap": "/webjars/prosemirror-keymap/dist/index.es.js",
      "prosemirror-model": "/webjars/prosemirror-model/dist/index.js",
      "prosemirror-schema-list": "/webjars/prosemirror-schema-list/dist/index.js",
      "prosemirror-state": "/webjars/prosemirror-state/dist/index.js",
      "prosemirror-transform": "/webjars/prosemirror-transform/dist/index.js",
      "prosemirror-view": "/webjars/prosemirror-view/dist/index.js",
      "rope-sequence": "/webjars/rope-sequence/dist/index.es.js",
      "@tiptap/core": "/webjars/tiptap__core/dist/tiptap-core.esm.js",
      "@tiptap/extension-blockquote": "/webjars/tiptap__extension-blockquote/dist/tiptap-extension-blockquote.esm.js",
      "@tiptap/extension-bold": "/webjars/tiptap__extension-bold/dist/tiptap-extension-bold.esm.js",
      "@tiptap/extension-bullet-list": "/webjars/tiptap__extension-bullet-list/dist/tiptap-extension-bullet-list.esm.js",
      "@tiptap/extension-code": "/webjars/tiptap__extension-code/dist/tiptap-extension-code.esm.js",
      "@tiptap/extension-code-block": "/webjars/tiptap__extension-code-block/dist/tiptap-extension-code-block.esm.js",
      "@tiptap/extension-document": "/webjars/tiptap__extension-document/dist/tiptap-extension-document.esm.js",
      "@tiptap/extension-dropcursor": "/webjars/tiptap__extension-dropcursor/dist/tiptap-extension-dropcursor.esm.js",
      "@tiptap/extension-gapcursor": "/webjars/tiptap__extension-gapcursor/dist/tiptap-extension-gapcursor.esm.js",
      "@tiptap/extension-hard-break": "/webjars/tiptap__extension-hard-break/dist/tiptap-extension-hard-break.esm.js",
      "@tiptap/extension-heading": "/webjars/tiptap__extension-heading/dist/tiptap-extension-heading.esm.js",
      "@tiptap/extension-history": "/webjars/tiptap__extension-history/dist/tiptap-extension-history.esm.js",
      "@tiptap/extension-horizontal-rule": "/webjars/tiptap__extension-horizontal-rule/dist/tiptap-extension-horizontal-rule.esm.js",
      "@tiptap/extension-italic": "/webjars/tiptap__extension-italic/dist/tiptap-extension-italic.esm.js",
      "@tiptap/extension-link": "/webjars/tiptap__extension-link/dist/tiptap-extension-link.esm.js",
      "@tiptap/extension-list-item": "/webjars/tiptap__extension-list-item/dist/tiptap-extension-list-item.esm.js",
      "@tiptap/extension-ordered-list": "/webjars/tiptap__extension-ordered-list/dist/tiptap-extension-ordered-list.esm.js",
      "@tiptap/extension-paragraph": "/webjars/tiptap__extension-paragraph/dist/tiptap-extension-paragraph.esm.js",
      "@tiptap/extension-strike": "/webjars/tiptap__extension-strike/dist/tiptap-extension-strike.esm.js",
      "@tiptap/extension-subscript": "/webjars/tiptap__extension-subscript/dist/tiptap-extension-subscript.esm.js",
      "@tiptap/extension-superscript": "/webjars/tiptap__extension-superscript/dist/tiptap-extension-superscript.esm.js",
      "@tiptap/extension-text": "/webjars/tiptap__extension-text/dist/tiptap-extension-text.esm.js",
      "@tiptap/extension-underline": "/webjars/tiptap__extension-underline/dist/tiptap-extension-underline.esm.js",
      "@tiptap/starter-kit": "/webjars/tiptap__starter-kit/dist/tiptap-starter-kit.esm.js",
      "w3c-keyname": "/webjars/w3c-keyname/index.es.js"
      }
      }
    </script>
    <script type="text/javascript">
      let editors = new Map();
      let targetEditor = null;
    </script>
  </head>
  <body>

  <th:block layout:fragment="beforeBodyEnds">
    <th:block th:replace="fragments/modals/add-language :: add-language-dialog"></th:block>
    <th:block th:replace="fragments/modals/add-link :: add-link-dialog"></th:block>
  </th:block>
  
</body>
</html>
