<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
  <head>
    <title>Main</title>
  </head>
  <body>
    <section layout:fragment="content">

      <div class="welcome">
        <p><span th:text="|${loggedInUser.firstname} ${loggedInUser.lastname}|"></span>, <span th:utext="#{welcome.message}">willkommen im Cultural Digital Asset Management System "cudami"</span></p>
      </div>
      
    </section>
  </body>
</html>
