<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.works}: #{work}|">Works: Work</title>
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${work}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="#{work}">Work</h1>
                <div>
                  <!--              <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>-->
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">
            <!-- TODO it always contains "und" undefined language? -->
            <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
              <div class="language-selection">
                <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                <select th:replace="fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})">English</select>
              </div>
            </th:block>

            <th:block th:insert="fragments/uniqueobject::renderFields(${work})"></th:block>

            <th:block th:insert="fragments/identifiable::renderFields(${work})"></th:block>

            <th:block th:insert="fragments/entity::renderFields(${work})"></th:block>

            <hr />

            <th:block th:insert="~{fragments/titles::renderTitles(${work.titles}, ${dataLanguage})}"></th:block>

            <th:block th:insert="~{fragments/subjects::renderSubjects(${work.subjects}, ${dataLanguage})}"></th:block>

            <th:block th:insert="~{fragments/entity::renderRelations(${work.relations})}"></th:block>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.created}">Created</label></div>
              <div class="align-items-center col-md-9 d-flex">
                <span th:if="${work.creationDateRange}" th:with="creationDateRange=${work.creationDateRange}">
                  <span th:with="df=#{date.format},date=${creationDateRange.start}" th:text="${#temporals.format(date,df)}">01.01.2000</span>
                  -
                  <span th:with="df=#{date.format},date=${creationDateRange.end}" th:text="${#temporals.format(date,df)}">01.01.2000</span>
                </span>
                <span th:if="${work.creationTimeValue}">
                  ( <span th:insert="~{cudami/fragments/date :: renderTimeValue(${work.creationtimeValue})}">...</span> )
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.first_appearance}">First appearamce</label></div>
              <div class="align-items-center col-md-9 d-flex">
                <span th:text="${work.firstAppearedDatePresentation}">...</span>
                <span th:if="${work.firstAppearedDate}">
                  ( <span th:with="df=#{date.format},date=${work.firstAppearedDate}" th:text="${#temporals.format(date,df)}">01.01.2000</span> )
                </span>
                <span th:if="${work.firstAppearedTimeValue}">
                  ( <span th:insert="~{cudami/fragments/date :: renderTimeValue(${work.firstAppearedTimeValue})}">...</span> )
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.parent_work_s}">Parents</label></div>
              <div class="align-items-center col-md-9 d-flex" th:each="parent, iterStat: ${work.parents}">
                <th:block>
                  <span th:if="${parent.uuid == work.uuid}" class="error">WORK HAS ITSELF AS PARENT!</span>
                  <span th:if="${parent.uuid != work.uuid}">
                    <a th:href="@{/works/{uuid}(uuid=${parent.uuid})}" th:text="${parent.label?.getText(dataLanguage)} ?: ${parent.uuid}">parent label</a>&nbsp;
                  </span>
                </th:block>
                <br th:if="${!iterStat.last}" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.child_works}">Child works</label></div>
              <div class="col-md-9">
                <table id="table-childworks"
                       data-toggle="table"
                       th:data-url="@{/api/works/__${work.uuid}__/children}"
                       th:data-locale="${#locale}"

                       data-cookie="true"
                       data-cookie-id-table="table-childworks"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsChildWorks"
                       data-search="false"
                       data-search-highlight="false"
                       data-search-on-enter-key="false"
                       data-server-sort="true"
                       data-show-search-button="false"
                       data-show-search-clear-button="false"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-childworks"
                       data-unique-id="uuid">
                  <thead>
                    <tr>
                      <th data-field="index" data-formatter="formatRowNumberChildWorks" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                      <th data-field="label" data-formatter="formatLabelChildWorks" th:text="#{lbl.title}">Title</th>
                      <th data-field="actions" data-formatter="formatActionsChildWorks" th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>

            <div class="row">
              <div class="col-md-3"><label th:text="#{lbl.manifestations}">Manifestations</label></div>
              <div class="col-md-9">
                <div id="toolbar-items">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingManifestationsLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="fragments/components/select-language-dropdown::render('manifestations-languages', ${existingManifestationsLanguages}, ${dataLanguageManifestations})">English</select>
                  </th:block>
                </div>
                <table id="table-manifestations"
                       data-toggle="table"
                       th:data-url="@{/api/works/__${work.uuid}__/manifestations}"
                       th:data-locale="${#locale}"

                       data-cookie="true"
                       data-cookie-id-table="table-manifestations"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsManifestations"
                       data-search="false"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="false"
                       data-show-search-clear-button="false"
                       data-side-pagination="server"
                       data-sort-name="label"
                       data-sort-order="asc"
                       data-toolbar="#toolbar-manifestations"
                       data-unique-id="uuid">
                  <thead>
                    <tr>
                      <th data-field="index" data-formatter="formatRowNumberManifestations" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                      <th data-field="label" data-sortable="true" data-formatter="formatLabelManifestations" th:text="#{lbl.label}">Label</th>
                      <th data-field="identifiers" data-sortable="false" data-formatter="renderIdentifiers" th:text="#{lbl.identifiers}">Identifiers</th>
                      <th data-field="actions" data-formatter="formatActionsManifestations" th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </th:block>

    <section layout:fragment="beforeBodyEnds">
      <script type="text/javascript">
        $(addDataLanguageChangeHandler());

        function queryParamsManifestations(params) {
          let dataLanguage = $("#manifestations-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }

        function formatRowNumberChildWorks(value, row, index) {
          return renderRowNumber($('#table-childworks'), index);
        }

        function formatRowNumberManifestations(value, row, index) {
          return renderRowNumber($('#table-manifestations'), index);
        }
      </script>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('#table-childworks').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        $('#table-manifestations').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        function formatLabelChildWorks(value, row) {
          /*[+
           const baseUrl = [[@{'/works'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#data-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }

        function formatLabelManifestations(value, row) {
          /*[+
           const baseUrl = [[@{'/manifestations'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#manifestations-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }

        function formatActionsChildWorks(value, row) {
          /*[+
           const baseUrl = [[@{'/works'}]] + '/' + row.uuid;
           +]*/
          return [
            renderViewAction(baseUrl)
          ].join(' ');
        }

        function formatActionsManifestations(value, row) {
          /*[+
           const baseUrl = [[@{'/manifestations'}]] + '/' + row.uuid;
           +]*/
          return [
            renderViewAction(baseUrl)
          ].join(' ');
        }
      /*]]>*/
      </script>

      <div th:replace="fragments/bootstrap-table :: data-formatter"></div>
    </section>
  </body>

</html>