<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorate="~{base}">

  <head>
    <title th:text="|#{page.title.websites}: #{website} &quot;${website.url}&quot;|">Websites: Website "http://www.example.de/"</title>
  </head>

  <body>
    <th:block layout:fragment="content" th:object="${website}">
      <div class="content">
        <div class="container-fluid">
          <div id="content-header">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h1 th:text="|#{website} &quot;*{url}&quot;|">Website "https://bavarikon.de/"</h1>
                <div>
                  <a class="btn btn-primary" id="edit-button" th:href="@{*{uuid} + '/edit'}" th:text="#{edit}">edit</a>
                </div>
              </div>
            </div>
          </div>

          <div id="content-body" class="rows-striped">
            <!-- TODO it always contains "und" undefined language? -->
            <th:block th:if="${not #lists.isEmpty(existingLanguages)}">
              <div class="language-selection">
                <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                <select th:replace="fragments/components/select-language-dropdown::render('data-languages', ${existingLanguages}, ${dataLanguage})">English</select>
              </div>
            </th:block>

            <th:block th:insert="fragments/uniqueobject::renderFields(${website})"></th:block>

            <th:block th:insert="fragments/identifiable::renderFields(${website})"></th:block>

            <th:block th:insert="fragments/entity::renderFields(${website})"></th:block>

            <hr />

            <div class="row">
              <div class="col-md-3"><label class="font-weight-bold" th:text="#{lbl.url}">URL</label></div>
              <div class="col-md-9"><a th:href="*{url}" th:text="*{url}" target="_blank">http://www.example.de/</a></div>
            </div>
            <div class="row">
              <div class="col-md-3"><label class="font-weight-bold" th:text="#{lbl.registration_date}">registered at</label></div>
              <div class="col-md-9"><span th:with="df=#{date.format},date=*{registrationDate}" th:text="${#temporals.format(date,df)}">01.01.2000</span></div>
            </div>

            <div class="row">
              <div class="col-md-3"><label class="font-weight-bold" th:text="#{lbl.root_webpages}">Root webpages</label></div>
              <div class="col-md-9">
                <div id="alert-webpages" class="mt-2 alert alert-success alert-dismissible fade show d-none" role="alert">
                  <span>Alert message.</span>

                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div id="toolbar-webpages">
                  <!-- TODO it always contains "und" undefined language? -->
                  <th:block th:if="${not #lists.isEmpty(existingWebpageLanguages)}">
                    <span th:text="#{lbl.data_language}">Show language dependent values in</span>&nbsp;
                    <select th:replace="fragments/components/select-language-dropdown::render('webpages-languages', ${existingWebpageLanguages}, ${dataLanguageWebpages})">English</select>
                  </th:block>
                </div>
                <table id="table-website-webpages"
                       data-toggle="table"
                       th:data-url="@{/api/websites/__${website.uuid}__/webpages}"
                       th:data-locale="${#locale}"
                       data-buttons="buttonsWebpages"
                       data-cookie="false"
                       data-cookie-id-table="table-website-webpages"
                       data-drag-handle=">tbody>tr>td.dndHandle"
                       data-id-field="uuid"
                       data-pagination="true"
                       data-pagination-v-align="both"
                       data-query-params="queryParamsWebpages"
                       data-reorderable-rows="false"
                       data-search="true"
                       data-search-highlight="true"
                       data-search-on-enter-key="true"
                       data-server-sort="true"
                       data-show-search-button="true"
                       data-show-search-clear-button="true"
                       data-side-pagination="server"
                       data-toolbar="#toolbar-webpages"
                       data-unique-id="uuid"
                       data-use-row-attr-func="true">
                  <thead>
                    <tr>
                      <th data-field="dndHandle" data-formatter="renderDnDHandle" data-visible="false" class="dndHandle text-primary"><button onclick="updateListOrder('#table-website-webpages')" class="btn btn-primary btn-sm dndSave" th:title="#{tooltip.reorder_save}" disabled><i class="fa fa-save"></i></button></th>
                      <th data-field="index" data-formatter="formatRowNumberWebpages" data-halign="right" data-align="right" th:text="#{lbl.row_number}">#</th>
                      <th data-field="previewImage" data-formatter="renderPreviewImage" data-halign="center" data-align="center"><i class="fas fa-image"></i></th>
                      <th data-field="label" data-formatter="formatLabelWebpages" th:text="#{lbl.label}">Label</th>
                      <th data-field="publicationStatus" data-formatter="renderPublicationStatus" data-halign="center" data-align="center" th:text="#{lbl.status}">Status</th>
                      <th data-field="publicationStart" data-formatter="renderDate" th:text="#{lbl.publication_start}">Start of publication</th>
                      <th data-field="publicationEnd" data-formatter="renderDate" th:text="#{lbl.publication_end}">End of publication</th>
                      <th data-field="renderingHints.showInPageNavigation" data-formatter="renderBoolean" data-halign="center" data-align="center" th:text="#{lbl.in_page-navigation}">In page navigation</th>
                      <th data-field="lastModified" data-formatter="renderDateTime" th:text="#{lbl.last_modified}">last modified</th>
                      <th data-field="created" data-formatter="renderDateTime" th:text="#{lbl.created}">created</th>
                      <th data-field="actions" data-formatter="formatActionsWebpages" th:text="#{lbl.actions}">Actions</th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>

    <section layout:fragment="beforeBodyEnds">
      <script type="text/javascript">
        $(addDataLanguageChangeHandler());

        $('#table-website-webpages').on('reorder-row.bs.table', function (e, data) {
          // it is only fired if order changed (new position of dragged row)
          // activate save button and set table data to new data
          let table = $('#table-website-webpages');
          $(table).find('button.dndSave').prop("disabled", false);
          $(table).bootstrapTable('removeAll');
          $(table).bootstrapTable('append', data);
        });

        $(function () {
          $("#webpages-languages").change(function () {
            $('#table-website-webpages').bootstrapTable('refresh');
          });
        });

        function formatRowNumberWebpages(value, row, index) {
          return renderRowNumber($('#table-website-webpages'), index);
        }

        function queryParamsWebpages(params) {
          let dataLanguage = $("#webpages-languages").val();
          params.dataLanguage = dataLanguage;
          return params;
        }
      </script>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('#table-website-webpages').bootstrapTable({
          formatSearch: function () {
            /*[+
             let columnName = [[#{lbl.label}]];
             let placeholder = `[(#{placeholder.search})]`;
             +]*/
            return placeholder;
          }
        });

        function buttonsWebpages() {
          /*[+
           const baseUrl = [[@{'/webpages'}]];
           const textAdd = [[#{btn.add}]];
           const tooltipAdd = [[#{tooltip.add_new_table_entry}]];
           const tooltipReorder = [[#{tooltip.reorder_list}]];
           const parentUuid = [[${website.uuid}]]
           +]*/
          return {
            btnAdd: {
              text: tooltipAdd,
              icon: 'fa-plus',
              event: function () {
                location.href = baseUrl + '/new?parentType=website&parentUuid=' + parentUuid;
              },
              attributes: {
                title: tooltipAdd
              }
            },
            btnReorder: {
              text: tooltipReorder,
              icon: 'fa-exchange-alt fa-rotate-90',
              event: function () {
                // show/hide handle column and toggle table sortable and save button disabled
                let table = $('#table-website-webpages');
                let reorderingActive = $(table).bootstrapTable('getOptions').reorderableRows;

                if (reorderingActive) {
                  $(table).bootstrapTable('hideColumn', 'dndHandle');
                  $(table).find('button.dndSave').prop("disabled", true);
                } else {
                  $(table).find('button.dndSave').prop("disabled", false);
                  $(table).bootstrapTable('showColumn', 'dndHandle');
                }
                $(table).bootstrapTable('refreshOptions', {reorderableRows: !reorderingActive});
              },
              attributes: {
                title: tooltipReorder
              }
            }
          };
        }

        function formatActionsWebpages(value, row) {
          /*[+
           const baseUrl = [[@{'/webpages'}]] + '/' + row.uuid;
           +]*/
          return [
            renderViewAction(baseUrl),
            renderEditAction(baseUrl)
          ].join(' ');
        }

        function formatLabelWebpages(value, row) {
          /*[+
           const baseUrl = [[@{'/webpages'}]] + '/' + row.uuid;
           +]*/
          const dataLanguage = $("#webpages-languages").val();
          return renderLabel(baseUrl, value, dataLanguage);
        }

        function updateListOrder(tableId) {
          /*[+
           const errorMessage = [[#{error.technical_error}]];
           const apiUrl = [[@{/api/websites/__${website.uuid}__/webpages}]];
           const successMessage = `[(#{msg.save_reordered_list.success})]`;
           +]*/

          let list = $(tableId).bootstrapTable('getData');

          // update root pages order
          fetch(apiUrl,
            {
              method: "PUT", headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(list)
            })
            .then(handleFetchErrors)
            .then(function (response) {
              $(tableId).find('button.dndSave').prop("disabled", true);
              showMessage('alert-success', '#alert-webpages', successMessage);
            })
            .catch(function (error) {
              showMessage('alert-danger', '#alert-webpages', errorMessage);
            });
        }
      /*]]>*/
      </script>

      <div th:replace="fragments/bootstrap-table :: data-formatter"></div>
    </section>
  </body>

</html>