on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  build:
    env:
      MAVEN_OPTS: " --add-exports jdk.compiler/com.sun.tools.javac.api=ALL-UNNAMED \
      --add-exports jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED \
      --add-exports jdk.compiler/com.sun.tools.javac.parser=ALL-UNNAMED \
      --add-exports jdk.compiler/com.sun.tools.javac.tree=ALL-UNNAMED \
      --add-exports jdk.compiler/com.sun.tools.javac.util=ALL-UNNAMED "
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          check-latest: true
          distribution: adopt
          java-version: ${{ matrix.java }}
      - name: Set up cache
        uses: actions/cache@v2
        env:
          cache-name: cache-maven-artifacts
        with:
          key: cudami-cache-java-${{ matrix.java }}-${{ github.run_id }}
          path: |
            ~/.m2/repository
            **/target
      - name: Check Java codestyle
        run: mvn com.coveo:fmt-maven-plugin:check
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          check-latest: true
          node-version: 12
      - name: Check Javascript codestyle
        run: npm install && npm run format-check
        working-directory: dc-cudami-editor
      - name: Build with Maven
        run: mvn -B -U clean verify -Pproduction
    strategy:
      matrix:
        java: [11, 16]
  coverage:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up cache
        uses: actions/cache@v2
        env:
          cache-name: cache-maven-artifacts
        with:
          key: cudami-cache-java-11-${{ github.run_id }}
          path: |
            ~/.m2/repository
            **/target
      - name: Publish code coverage reports
        uses: codecov/codecov-action@v1
  publish:
    if: (github.event_name == 'push' && contains(github.ref, 'main')) || github.event_name == 'release'
    needs: build
    outputs:
      PROJECT_VERSION: ${{ steps.projectversion.outputs.PROJECT_VERSION }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up cache
        uses: actions/cache@v2
        env:
          cache-name: cache-maven-artifacts
        with:
          key: cudami-cache-java-11-${{ github.run_id }}
          path: |
            ~/.m2/repository
            **/target
      - name: Install XML utils
        run: sudo apt install libxml2-utils
      - name: Extract project version
        run: echo "PROJECT_VERSION=$(xmllint --xpath '/*[local-name()="project"]/*[local-name()="version"]/text()' pom.xml)" >> $GITHUB_ENV
      - name: Set project version as output variable
        id: projectversion
        run: echo "::set-output name=PROJECT_VERSION::${{ env.PROJECT_VERSION }}"
      # Publish snapshot
      - name: Set up JDK 11 for publishing a snapshot
        if: github.event_name == 'push' && endswith(env.PROJECT_VERSION, 'SNAPSHOT')
        uses: actions/setup-java@v2
        with:
          check-latest: true
          distribution: adopt
          java-version: 11
          server-id: ossrh-snapshots
          server-password: MAVEN_PASSWORD
          server-username: MAVEN_USERNAME
      - name: Publish snapshot to the Maven Central Repository
        if: github.event_name == 'push' && endswith(env.PROJECT_VERSION, 'SNAPSHOT')
        run: mvn -B deploy -DskipTests
        env:
          MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      # Publish release
      - name: Set up JDK 11 for publishing a release
        if: github.event_name == 'release' && !endswith(env.PROJECT_VERSION, 'SNAPSHOT')
        uses: actions/setup-java@v2
        with:
          check-latest: true
          distribution: adopt
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          java-version: 11
          server-id: ossrh
          server-password: MAVEN_PASSWORD
          server-username: MAVEN_USERNAME
      - name: Publish release to the Maven Central Repository
        if: github.event_name == 'release' && !endswith(env.PROJECT_VERSION, 'SNAPSHOT')
        run: mvn -B deploy -DskipTests -Pdeploy
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
  deploy:
    if: github.event_name == 'push' && contains(github.ref, 'main') && endswith(needs.publish.outputs.PROJECT_VERSION, 'SNAPSHOT')
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Deploy cudami
        run: curl -X POST -F token=${{ secrets.TRIGGER_TOKEN }} -F ref=main -F "variables[DEPLOY_VERSION_TO_ENVIRONMENT]=$(printf '%s > development' ${{ needs.publish.outputs.PROJECT_VERSION }})" ${{ secrets.TRIGGER_URL }}
